[2021-09-13 17:45] SauravMukherjee44 opened #3 "Change the color of the Navbar to Black and put the AEC library on the Navbar"

[2021-09-15 05:53] SauravMukherjee44 opened #8 "Add animations to the website and make it responsive"

[2021-09-15 05:54] SauravMukherjee44 opened #9 "Create a Back-end Service to store all the book details entered by the user"

[2021-09-15 05:59] swati2603 opened #10 "Add "Date_of_book_issued""
Whenever we add a book then it shows all the details except "date of book_issued". I wanna add this. And the font and color are dull too. We have to change it so that it looks clean and good.

[2021-09-15 09:28] rutuchandgude commented on #8
can I? @SauravMukherjee44

[2021-09-15 09:32] rutuchandgude commented on #8
Can I try this #8 issue? @SauravMukherjee44

[2021-09-15 09:36] swati2603 commented on #10
Assign me this issue.

[2021-09-15 10:16] SauravMukherjee44 commented on #10
Okay !

On Wed, Sep 15, 2021 at 3:06 PM swati2603 ***@***.***> wrote:

[2021-09-15 10:18] SauravMukherjee44 commented on #8
Yeah Sure! I have assigned the issue to you.

On Wed, Sep 15, 2021 at 3:03 PM Rutuja Chandgude ***@***.***>
wrote:

[2021-09-15 10:22] SauravMukherjee44 commented on #8
First fork the project, so that I can assign it.

On Wed, Sep 15, 2021 at 3:48 PM Saurav Mukherjee ***@***.***>
wrote:

[2021-09-15 10:33] SauravMukherjee44 commented on #8
Subscribe to that issue #8

On Wed, Sep 15, 2021 at 3:52 PM Saurav Mukherjee ***@***.***>
wrote:

[2021-09-15 16:08] rutuchandgude commented on #8
@SauravMukherjee44  I have animated  it, if you like please merge it.

[2021-09-15 16:08] rutuchandgude commented on #8
@SauravMukherjee44  I have animated  it, if you like please merge it.

[2021-09-16 05:42] SushantPatial opened #12 "Some alignment changes"
I can see a few alignment issues in the form section of the body.
![image](https://user-images.githubusercontent.com/84243683/133555848-7af79f45-f6a1-4341-9c1b-8ffcaaa7c612.png)

[2021-09-16 06:59] mandeep168 commented on #12
I would like to work on this.

[2021-09-16 07:49] #12 closed

[2021-09-16 10:25] SauravMukherjee44 opened #14 "Change the font and color of the Books added in the list (Should be clearly visible)"

[2021-09-16 11:47] gautammali commented on #9
should i use node js to store the data and also mongoose for server

[2021-09-16 11:48] gautammali commented on #9
can I use node js to store the data and mongoose as a server????

[2021-09-16 12:53] SauravMukherjee44 commented on #9
Yeah, you can.

[2021-09-16 13:14] harshita214 commented on #14
Can I do this?

[2021-09-16 13:28] Sin-Sumit opened #17 "Update the contribution guidelines"
Need to update the guidelines for the contribution, need to add clear steps.

[2021-09-16 13:32] Sin-Sumit opened #18 "Fonts should be bold."
Fonts and font-family should be bold and different from the existing ones.

[2021-09-16 13:34] Sin-Sumit opened #19 "Header and Footer"
The header should be changed, and the footer should be at the bottom of the page.

[2021-09-16 13:35] Sin-Sumit opened #20 "Background Image is repeative."

[2021-09-16 13:38] Sin-Sumit commented on #20
assign me

[2021-09-16 13:38] Sin-Sumit commented on #17
assign me.

[2021-09-16 13:39] Sin-Sumit commented on #18
assign me.

[2021-09-16 13:39] Sin-Sumit commented on #19
assign me.

[2021-09-16 13:43] Sin-Sumit commented on #14
Good to add snapshots of the changes needed.

[2021-09-16 13:46] #20 closed

[2021-09-16 13:49] Sin-Sumit commented on #20
Hey, @SauravMukherjee44 Background image is repeating.
![Screenshot from 2021-09-16 19-18-29](https://user-images.githubusercontent.com/48879218/133623947-df488e13-4bce-4bed-9e3e-b19faf81fcb3.png)
Have a look.

[2021-09-16 14:00] Sin-Sumit opened #21 "Add the Comments in files."
Add the comment in files, that specify the sections in the file and easy to work with that only section.

[2021-09-16 14:06] Sin-Sumit commented on #20
Hey, @SauravMukherjee44 Yeah image is not repeating but the footer is not at the bottom.

[2021-09-16 14:08] Sin-Sumit commented on #21
Hey, @SauravMukherjee44 you please add the comments for each section so that it will be helpful for the constributors.

[2021-09-16 14:30] #21 closed

[2021-09-16 17:12] #17 closed

[2021-09-16 20:55] SauravMukherjee44 opened #28 "Implement the use of Search Button for books 📚"

[2021-09-17 09:33] #14 closed

[2021-09-17 10:31] Jaya3112 commented on #19
I can make the header and footer more attractive and reliable to users.
Assign me .

[2021-09-17 10:33] Jaya3112 commented on #19
Assign me this issue.

[2021-09-17 21:00] SauravMukherjee44 opened #35 "Make the website responsive for mobile phone 🐱‍🏍"

[2021-09-17 22:42] #10 closed

[2021-09-18 12:15] Sin-Sumit commented on #19
Hey, @Jaya3112 did you make any changes?

[2021-09-18 12:30] Jaya3112 commented on #19
hi,
@Sin-Sumit I am doing it.

[2021-09-18 12:37] Sin-Sumit commented on #18
@SauravMukherjee44 which type of font do you prefer? I'm using Arial, Helvetica, sans-serif;

[2021-09-18 12:54] Sin-Sumit opened #37 "style.css need to shift to bootstrap"
In style.css there is CSS defined for every element and bootstrap is a link but not used that much.
Please use bootstrap predefined CSS.

[2021-09-18 12:54] Sin-Sumit opened #38 "Change the input css in form."
Change the CSS of input fields in form

[2021-09-18 12:57] Sin-Sumit commented on #19
Ok, I have a suggestion, please visit few library sites and check out their header & footer.

[2021-09-18 13:00] #37 closed

[2021-09-18 13:05] Jaya3112 commented on #19
ok thankyou
If you named some of them then it will be helpful for me .

[2021-09-18 13:46] PhantomANaz opened #39 "First name is taken as email and last name as password"
In donate-book.html, the first name is taken as email and last name as password. Assign me.

[2021-09-18 14:10] Sin-Sumit commented on #38
assign me @SauravMukherjee44

[2021-09-18 14:13] Sin-Sumit commented on #19
@Jaya3112 I search few sites, but none of them have the same theme, So change according to your preferences.
And use the bootstrap CSS, like add the bootstrap class names.

[2021-09-18 14:15] PhantomANaz commented on #39
There is also a problem with the contact of form.

[2021-09-18 16:32] Jaya3112 commented on #19
ok ,  thank you for your suggestion.

[2021-09-18 19:22] SauravMukherjee44 commented on #39
Hey! I have assigned you, Go ahead and fix it.
Happy Contributing 😊

[2021-09-19 03:43] Sin-Sumit commented on #9
Hey, @SauravMukherjee44 Which type of language do we need to use for the backend?

[2021-09-19 04:47] Rohan749 commented on #35
Assign me @SauravMukherjee44

[2021-09-19 06:02] SauravMukherjee44 commented on #9
PHP / NodeJs

[2021-09-19 06:39] Rohan749 commented on #35
I have added some changes regarding this issue.
Do check it out :)

[2021-09-19 07:00] Sin-Sumit commented on #38
@SauravMukherjee44 Please review my PR

[2021-09-19 11:11] #38 closed

[2021-09-20 05:53] swati2603 opened #48 "Add Resources"
This section consists of notes, question papers, and online links so that students can get help from that link.

[2021-09-20 07:34] SauravMukherjee44 commented on #48
Yes, Anyone go for this issue.

[2021-09-20 07:50] swati2603 commented on #48
I would like to work on this issue.

[2021-09-20 10:43] #39 closed

[2021-09-20 15:44] SauravMukherjee44 commented on #48
Assigned!

[2021-09-22 11:10] Sin-Sumit commented on #18
@SauravMukherjee44 how much font size you would prefer?

[2021-09-24 05:47] ShlokMohanty opened #56 "add a pop up message for the delay in the returning date"
![image](https://user-images.githubusercontent.com/59838234/134624320-89959a29-abd3-406b-940f-85e3d7d0321c.png)

in this we need to add another fill box of the returning date of that particular issued book and in case we are not able to remember the return date then a pop up is available to make us remember about returning date of that book .

[2021-09-24 05:53] ShlokMohanty opened #57 "adding a welcoming avatar as the website opens"
for  making the website look more attractive maybe we could add an avatar welcoming us to the website something as below:

![image](https://user-images.githubusercontent.com/59838234/134624975-b84d7c1d-64af-4e59-baba-b301c37182e8.png)

[2021-09-24 06:01] ShlokMohanty opened #58 "adding drop down list of authors"
we can add some already popular or famous authors if the user is being confused which books to choose or may have forgotten the exact name of the book.

[2021-09-24 06:28] AsfandToor commented on #58
Correct me if I am wrong, a list of author should be displayed by suggestions when the user types here?
![image](https://user-images.githubusercontent.com/76124914/134628466-64078372-c8d0-44fa-b70a-18f1cfccaded.png)

[2021-09-24 09:41] ShlokMohanty commented on #58
@AsfandToor that should be the alternative you mean to say if suppose we take author rutherford the just writing the ruth would just show us the list of the authors right?

[2021-09-26 18:38] SauravMukherjee44 commented on #58
@ShlokMohanty Are you interested in this Issue?

[2021-09-26 18:38] #57 closed

[2021-09-26 18:40] #18 closed

[2021-09-26 19:06] ShlokMohanty commented on #56
@SauravMukherjee44 thank you for assigning me this task will solve it as soon as possible

[2021-09-26 19:08] ShlokMohanty commented on #58
@SauravMukherjee44 yes sure you can consider me for this thing .Wil do it and solve it as soon as possible

[2021-09-26 20:53] SauravMukherjee44 commented on #58
Assigned ! Good luck.

[2021-09-27 01:18] ShlokMohanty commented on #58
@SauravMukherjee44 thank you

[2021-09-27 01:47] ShlokMohanty commented on #58
@SauravMukherjee44 which type of authors should we add to the list ? for example : novels , or other kind of story books
or also should we add the authors for programming books as well ?

[2021-09-27 13:15] bharati-21 commented on #9
@Sin-Sumit, Hi will you be taking up this issue?

[2021-09-27 13:17] gautammali commented on #9
Yes I am talking about this and currently I am using the my local server to
store the data/connect to the server
Letter you will set the link of server as per requirement

On Mon, Sep 27, 2021, 6:45 PM Bharati Subramanian ***@***.***>
wrote:

[2021-09-27 13:23] SauravMukherjee44 commented on #9
@bharati-21 @gautammali Who will be taking this issue?

[2021-09-27 13:28] gautammali commented on #9
I will complete the task by tomorrow or Wednesday

On Mon, Sep 27, 2021, 6:54 PM Saurav Mukherjee ***@***.***>
wrote:

[2021-09-29 10:52] gautammali opened #63 "preloader error script.js file"
in the script file, the preloader has issues while loading the website

Uncaught Type Error: Cannot read properties of null (reading 'classList')
    at script.js:186

[2021-09-29 14:16] gautammali commented on #9
Update for the backend  60 % of work is almost done. there are some issues I need to fix to run the app smoothly. possible by tomorrow I will send the PR

[2021-10-01 01:16] ShlokMohanty commented on #58
@SauravMukherjee44 i had a small doubt regarding this AECLibrary so basically it is like the book we are issuing we are adding the name and the authors name into the required columns right only the book we issued only its inofrmation will be written down on the Authors and Books section ?

[2021-10-01 01:22] ShlokMohanty opened #64 "display message : "No search found""
When we search for a book or an author then if the book is not there in our library then an error message "No search Found " should be displayed .

[2021-10-01 01:23] ShlokMohanty commented on #64
![Screenshot (627)_LI](https://user-images.githubusercontent.com/59838234/135551366-237f4d6e-73a2-4753-bcc0-726f4ddf46f5.jpg)

[2021-10-01 12:49] SauravMukherjee44 opened #65 "Add Contributing Guidelines to the readme file"

[2021-10-01 12:49] #48 closed

[2021-10-01 12:50] SauravMukherjee44 opened #66 "Add Resources to the Library Website"

[2021-10-01 12:52] SauravMukherjee44 opened #67 "Structure all the code in a proper format"

[2021-10-01 12:52] nshanbhag20001412 commented on #65
Can you elaborate this issue?

[2021-10-01 13:07] ggangix commented on #64
Hey, I can take this one, please assign to me. Thanks.

[2021-10-01 14:11] A-jha383 commented on #63
I can do this

[2021-10-01 14:15] SauravMukherjee44 commented on #65
You can add new elements to the readme page to make it attractive.

[2021-10-01 15:15] arpanaditya commented on #65
What types of elements do you mean? Please explain it a bit more. May be give some examples. @SauravMukherjee44 then I can work on this issue. : )

[2021-10-01 15:26] Rohan749 commented on #67
I would love to work on this issue

[2021-10-01 16:00] ShreyaChopra13 commented on #19
What changes need to be made in the header and footer?

[2021-10-01 16:01] abhinav520 commented on #66
can I work on this?

[2021-10-01 16:59] SauravMukherjee44 opened #72 "Add a Recommended Section of Book in the Index page"

[2021-10-01 17:00] SauravMukherjee44 opened #73 "Add Icons to the Navbar"

[2021-10-01 17:01] rahulaarora commented on #35
Hey @SauravMukherjee44
Can I work on this issue?
will optimize it for mobile view

[2021-10-01 17:03] SauravMukherjee44 opened #74 "Make a Table for Stored books in the Your Books Section"

[2021-10-01 17:04] rahulaarora commented on #73
Hey, I can do this
plz assign
@SauravMukherjee44

[2021-10-01 17:10] rahulaarora opened #75 "favicon missing in donate books page"
![image](https://user-images.githubusercontent.com/24794534/135660301-07f92538-85b5-45d2-94c8-bdcee11dff03.png)

[2021-10-01 17:20] ahmadsohail404 commented on #75
can i work on it?

[2021-10-01 17:21] rohan26062001 commented on #73
Hey, I would like to work on this issue

[2021-10-01 17:51] SauravMukherjee44 commented on #75
@rahulaarora @ahmadsohail404 Who is gonna take this issue?

[2021-10-01 18:11] SauravMukherjee44 commented on #75
@ahmadsohail404 Cool!

[2021-10-01 18:12] SauravMukherjee44 commented on #73
@rahulaarora Done!

[2021-10-01 18:14] ahmadsohail404 commented on #75
Done! Have a look @SauravMukherjee44

[2021-10-01 18:15] mihir1739 commented on #74
I would like to work on this .
Please assign this to me.

[2021-10-01 18:24] #75 closed

[2021-10-01 19:28] TuhinBanerjeeCSE commented on #28
I want to work on this issue.

[2021-10-01 20:31] SauravMukherjee44 commented on #35
@rahulaarora Yeah sure !

[2021-10-01 20:34] SauravMukherjee44 opened #80 "Create a About Section of the Library Website"

[2021-10-01 20:35] SauravMukherjee44 opened #81 "Add Contact Us details at the Footer"

[2021-10-01 20:36] RahulSharma4329 commented on #80
Hey I would like to work on this issue can you please assign this issue to me.

[2021-10-01 20:37] RahulSharma4329 commented on #81
I would like to work on this issue can you please assign this to me

[2021-10-01 20:37] SauravMukherjee44 opened #82 "Redesign the Home Page"

[2021-10-01 20:40] yashpatel458 commented on #82
I am on it! Can you please assign this task to me?

[2021-10-01 21:36] ahmadsohail404 commented on #82
I can go ahead wid it

[2021-10-01 22:19] mifrasgaffoor commented on #81
Hey @RahulSharma4329 i am searching for projects and issues for my very first hacktoberfest contributions .... can you please assign it to me .
Thanks in advance!

[2021-10-01 22:24] ahmadsohail404 opened #84 "Navbar items not aligned properly in center in Resources Page"
<img width="1440" alt="Screenshot 2021-10-02 at 3 53 29 AM" src="https://user-images.githubusercontent.com/72069769/135692244-2077eab6-1666-47c4-aa3d-b6ee64e99c35.png">

[2021-10-01 22:25] ahmadsohail404 commented on #84
Assign me this please

[2021-10-01 22:32] mifrasgaffoor commented on #73
Hey   @SauravMukherjee44  I would like to work on this issue

[2021-10-01 23:04] Harshavardhan7678 commented on #67
Hey @SauravMukherjee44, I would love to work on this. Kindly, assign it to me.

[2021-10-02 01:28] Holytech opened #85 "Forms submit when they are empty"
The forms shouldn't submit when they are empty. I would be working on form validation

[2021-10-02 01:43] yogendra-17 commented on #81
hey!I would love to work on this issue, can you please assign it to me

[2021-10-02 01:57] yogendra-17 commented on #80
hey, I would like to work on this issue, can you please assign it to me.?

[2021-10-02 02:34] ayasahmad63 commented on #81
I also love to work on it.

[2021-10-02 03:35] charlygg commented on #85
Can I help you with the form, also let me do the validation

[2021-10-02 03:52] aswinikalyan30 commented on #82
I can work on it too!

[2021-10-02 04:08] SauravMukherjee44 opened #86 "Add recommended books and Resources section on the Blank right side"

[2021-10-02 04:20] copyNinja1219 commented on #86
![lib1](https://user-images.githubusercontent.com/72335379/135703351-a1995bbb-4575-49a6-946a-c30b887e5f1a.png)

please specifiy where it must be added 1 or 2 or any other location ?

[2021-10-02 04:26] SauravMukherjee44 commented on #86
![rr](https://user-images.githubusercontent.com/72380920/135703463-beafaf87-5125-419a-86f9-547d335c04f8.PNG)

[2021-10-02 04:27] SauravMukherjee44 commented on #86
Add a Section over there, Feature content over there.

[2021-10-02 04:29] SauravMukherjee44 opened #88 "Add Book button is not Working"

[2021-10-02 04:33] eemike07 commented on #88
I can take a look and provide fix.  :) Please assign

[2021-10-02 04:39] SauravMukherjee44 commented on #82
@aswinikalyan30 Go for it !

[2021-10-02 04:53] Ishika414 commented on #85
I would like to work on this issue.

[2021-10-02 04:54] SauravMukherjee44 commented on #81
Whoever wants to work, Create a PR for the Same.

[2021-10-02 04:59] SauravMukherjee44 commented on #28
@TuhinBanerjeeCSE Okay, Create a PR

[2021-10-02 05:02] GowthamPB commented on #65
Hey can I work on this?

[2021-10-02 05:09] SauravMukherjee44 commented on #85
Whoever wants to work, Create a PR.

[2021-10-02 05:27] shubhankit123 commented on #19
assign it to me

[2021-10-02 05:28] ishikajn8126 opened #90 "Making all input fields look uniform"
- Date of issue input field should have border radius like other input fields.
- Name input field is looking very long. Its width should be decreased.
- Date and name both input fields should have height similar to rest 2 input fields.

This is the current UI:

![Screenshot 02-10-2021 10_52_14 (2)](https://user-images.githubusercontent.com/72145053/135704676-159f3cf3-35cc-40da-a870-9e6472a1e79c.pn

[2021-10-02 05:29] shubhankit123 commented on #58
can u assign it to me

[2021-10-02 05:43] #88 closed

[2021-10-02 05:53] prakhar3062 opened #93 "Aos is not defined. do correct it"
If you want i can correct it

[2021-10-02 06:02] #93 closed

[2021-10-02 06:06] Rathore-Devraj commented on #19
I would like to work on this ..please assign this to me!!

[2021-10-02 06:08] ShlokMohanty commented on #58
@shubhankit123 i was working on this issue.You can try onther issues maybe?

[2021-10-02 06:09] Rathore-Devraj commented on #73
I would like to work on this issue

[2021-10-02 06:14] Garima-7 opened #95 "Adding hover effect on links."
![Screenshot (452)](https://user-images.githubusercontent.com/83363645/135705649-00b6ad1d-b644-4ca4-84a0-4c32f47717f0.png)

Adding hover effect on links in navbar.
Something like this https://codepen.io/jstn/pen/zuDst

[2021-10-02 06:16] Garima-7 commented on #95
I want to work on this issue. Please assign it to me.

[2021-10-02 06:28] rahulaarora commented on #73
@SauravMukherjee44 making pr soon

[2021-10-02 06:45] copyNinja1219 commented on #84
@SauravMukherjee44  I just made the navbar responsive please check : ) #98

[2021-10-02 07:10] #90 closed

[2021-10-02 07:22] SauravMukherjee44 opened #102 "Add a Resource and New Updates section in the Home Screen"
![res](https://user-images.githubusercontent.com/72380920/135707547-cb8412dd-727e-4d06-9dad-f62006b6606f.PNG)

[2021-10-02 07:27] SauravMukherjee44 opened #103 "Use Particle.js In the Background with Suitable Theme"
https://codepen.io/VincentGarreau/pen/pnlso

[2021-10-02 07:30] omsali commented on #95
@SauravMukherjee44 Can I work on this issue

[2021-10-02 07:32] dddqwerty commented on #103
can u assign this to me?

[2021-10-02 08:07] Amritanshu02 commented on #80
Hello, I would like to work upon this issue, please assign me to it

[2021-10-02 08:19] rahulaarora commented on #73
@SauravMukherjee44 made the pr
plz review

[2021-10-02 08:57] riyasai22 opened #113 "Add alignments and responsiveness to Study Materials Section"
I would like to add the following styling to the Study Materials Section.

* Uniformly allign the images with proper spacing.
* Add hover effects.
* Add responsiveness for tab and mobile devices.

![correction](https://user-images.githubusercontent.com/80235375/135709611-d5601cc3-17b6-4a67-a7dc-94cf1e017c37.png)

I would like to change it to this:
![png1](https://user-images.githubusercontent.com/

[2021-10-02 08:58] riyasai22 commented on #113
I want to work on this issue. Please assign it to me.

[2021-10-02 09:06] rahulaarora commented on #35
@SauravMukherjee44
made pr
do check
Rahulaarora/issue35 #114

[2021-10-02 10:19] Harshavardhan7678 commented on #103
Hey @SauravMukherjee44, I would love to work on this. Could you Kindly assign it to me?

[2021-10-02 10:36] gautammali opened #115 "window.onload function has issue of Cannot read properties of null (reading 'style') (script.js:165)"
script.js:165 Uncaught TypeError: Cannot read properties of null (reading 'style')
    at window.onload (script.js:165)

[2021-10-02 10:40] yashsharma7128 commented on #95
please assign this to me

[2021-10-02 10:41] yashsharma7128 commented on #82
please assign this to me

[2021-10-02 10:42] yashsharma7128 commented on #81
please assign this to me

[2021-10-02 10:42] yashsharma7128 commented on #73
please assign this to me

[2021-10-02 10:48] aswinikalyan30 commented on #82
Hey, you can assign it to someone else! I am working on a few other ones, because of which I won't be able to move forward with this

[2021-10-02 10:52] 2024-SANDHYA opened #116 "Landing Page"
Will change the look of the landing page, by including proper background, about section & working on form alignment.

[2021-10-02 11:21] anishsingh42 commented on #65
Can elaborate the contributing guidelines section.
If yes please assign me this issue.

[2021-10-02 11:26] SauravMukherjee44 commented on #116
Hey, Do share some screenshots to view your changes and ideas.

[2021-10-02 11:28] SauravMukherjee44 commented on #103
Go for it!

[2021-10-02 11:30] SauravMukherjee44 commented on #65
@arpanaditya Add Contributing guidelines to the readme section.

[2021-10-02 11:32] arpanaditya commented on #65
@SauravMukherjee44 please assign this issue to me. I'll add contributing guidelines to the readme. Or else I'll create a separate page for it and link that to the readme : )

[2021-10-02 11:33] Prashantsetia commented on #115
hi @gautammali , I have submitted the solution of this issue... Please accept PR and make me contributor too

[2021-10-02 12:08] 2024-SANDHYA commented on #116
Sure!

[2021-10-02 12:31] copyNinja1219 commented on #113
hey I just improved the responsiveness of the images : ) . #122

[2021-10-02 12:57] riyasai22 commented on #113
Kindly look into my PR and let me know if any changes have to be made. @SauravMukherjee44

[2021-10-02 13:33] Harshavardhan7678 commented on #103
So, should I remove the bg and use the particle? Or should I replace the bubbles with the particles? Kindly, clear it out for me.

[2021-10-02 14:02] Krishnapro opened #130 "Increase footer width"
Hey , if you increase footer width then it will be looks good.

[2021-10-02 14:18] gautammali commented on #9
hello sir update about the backend I was almost done with it but there are many small bugs in the previous code and also many typos that should be fixed to run the backend properly so I am working on it I will  try to complete it as soon as possible

[2021-10-02 14:22] Neeraj2002 commented on #130
Heyy, I would love to do that!
Assign me the task

[2021-10-02 14:24] #113 closed

[2021-10-02 14:41] chibitalex opened #131 "BUG: Prompt user to fill in key fields on Book Add screen not working"
Hi! The current version of the site does not appear to have any error catching text when a key field is not filled out (Title, Author). I want to add a prompt to let the user know that the fields are required instead of the item being failed to add and the book list not being updated.

EDIT: Upon further inspection, there is a feature like this, but it's just not working. Thus, this would actually

[2021-10-02 15:08] sarcasvik commented on #66
can you assign this issue to me ?

[2021-10-02 15:13] Krishnapro commented on #65
Hello @SauravMukherjee44 I would like to work on this issue. I can add complete step about contribution guideline.

[2021-10-02 15:13] #95 closed

[2021-10-02 15:54] arpanaditya commented on #65
Hey @SauravMukherjee44 , I have added contributing guidelines to the readme file as you have mentioned earlier. Do check this PR and merge this.
PR LInk: https://github.com/SauravMukherjee44/Aec-Library-Website/pull/135
You can close this issue now : )

[2021-10-02 16:24] RoshanMhatre commented on #102
I want to work with this feature.
I need a bit more explanation as to exactly what do you want for the resource section.
You can assign this issue to me.

[2021-10-02 16:25] Sin-Sumit commented on #82
@SauravMukherjee44 please add description means what to redesign in home page.

[2021-10-02 16:57] sowmiya-venkatesan commented on #82
I would like to contribute here, please do add proper description on what to redesign

[2021-10-02 17:09] yadavashishdhirendra commented on #80
Hey @SauravMukherjee44 I would like to work on this section can u assign it to me!

[2021-10-02 17:56] sowmiya-venkatesan commented on #19
I would like to work on this issue

[2021-10-02 17:58] Amritanshu02 commented on #102
Hello, I would like to work upon this issue, please assign me to it.

[2021-10-02 18:28] Drish-xD commented on #116
Hey @SauravMukherjee44 , I would Like to work on this. Could you Kindly assign it to me?

[2021-10-02 20:29] SauravMukherjee44 commented on #116
You can start working on it, No need for an assignment. create a PR.

[2021-10-02 20:30] SauravMukherjee44 commented on #115
@Prashantsetia Okay

[2021-10-02 20:30] SauravMukherjee44 commented on #103
Use particles instead of Bubbles. Background should be same.

[2021-10-02 20:32] SauravMukherjee44 commented on #102
@Amritanshu02 Create a PR

[2021-10-02 20:53] #115 closed

[2021-10-02 21:32] #8 closed

[2021-10-02 21:32] SauravMukherjee44 commented on #9
Okay no worries

[2021-10-02 21:34] SauravMukherjee44 commented on #19
Change the alignment of Navbar and Footer elements

[2021-10-02 21:35] #58 closed

[2021-10-02 21:36] #63 closed

[2021-10-02 21:37] SauravMukherjee44 commented on #74
@mihir1739 Create a PR!

[2021-10-02 21:37] #65 closed

[2021-10-02 21:38] SauravMukherjee44 commented on #66
@sarcasvik @abhinav520 Create a PR!

[2021-10-02 21:39] #73 closed

[2021-10-02 21:40] #84 closed

[2021-10-02 21:42] #81 closed

[2021-10-02 21:42] #85 closed

[2021-10-02 21:44] SauravMukherjee44 commented on #82
Create a PR.

[2021-10-02 21:55] SauravMukherjee44 opened #150 "Fix the alignment of items on the Navbar. Increase Spaces"
![image](https://user-images.githubusercontent.com/72380920/135732763-e390e2d8-c6f5-426c-9f0b-3b33812add96.png)

[2021-10-02 21:57] SauravMukherjee44 opened #151 "Fix Search Button, Use Search button to find added books."

[2021-10-02 21:58] SauravMukherjee44 opened #152 "Change the alignment and Text Size of elements on the footer"

[2021-10-02 22:00] Xaconi commented on #151
Hey @SauravMukherjee44 can i get this one?

[2021-10-02 22:01] SauravMukherjee44 opened #153 "Features resources to the right side of Index page"
![image](https://user-images.githubusercontent.com/72380920/135732839-bd2ef05e-ebb6-411b-a841-0627cec3015a.png)

[2021-10-02 22:29] RUDRAMADHABA commented on #152
Hey @SauravMukherjee44 I would like to get this issue and I am confident I could resolve this pretty nicely.

[2021-10-02 22:38] SauravMukherjee44 commented on #116
@2024-SANDHYA Should I assign you ??

[2021-10-02 22:57] agarwalrashika00 commented on #150
Hey! please assign this issue to me. I am confident that I'll be able to resolve the issue.

[2021-10-03 01:06] matteobruni commented on #103
https://codepen.io/collection/DPOage for more ideas

[2021-10-03 03:47] Kishore-abhimanyu commented on #153
Can you assign me this?

[2021-10-03 04:12] Muskan-creator commented on #153
Hey @SauravMukherjee44 I want to work on this issue.

[2021-10-03 04:47] omsali commented on #130
@SauravMukherjee44 Can I do this fix.

[2021-10-03 04:55] Amritanshu02 commented on #102
Sure

[2021-10-03 05:01] sowmiya-venkatesan opened #160 "Redesign Logo"
I would love to work on it

[2021-10-03 05:11] Amritanshu02 commented on #152
Hello , I would like to work upon this, could you assign it to me

[2021-10-03 05:38] harshita214 commented on #150
Hey, I have solve this issue please look into it if there is something which needs to be done do tell

[2021-10-03 05:44] Harshavardhan7678 commented on #103
Thank you! Will be working on it today.

[2021-10-03 05:46] pragyaSingh13 commented on #150
hey @SauravMukherjee44  can you assign it to me as well, I'll do my best to fix this

[2021-10-03 05:56] Harshavardhan7678 commented on #67
Should I further format the code? Or, is this issue closed?

[2021-10-03 06:30] ahmadsohail404 commented on #160
can i work on it

[2021-10-03 07:02] SauravMukherjee44 commented on #153
@Muskan-creator Go for it! Create a PR !

[2021-10-03 07:03] #152 closed

[2021-10-03 07:05] SauravMukherjee44 commented on #150
@agarwalrashika00 @pragyaSingh13 Create a PR! No need of Assignment

[2021-10-03 07:06] SauravMukherjee44 commented on #150
@harshita214 Host your repository and share the link in the comment.

[2021-10-03 07:07] SauravMukherjee44 commented on #130
@omsali Yeah Sure, Create a PR!

[2021-10-03 07:09] yadavashishdhirendra opened #167 "Send Book Donation Form Data To a Particular Email"
Form Data to a Particular Email..

[2021-10-03 07:10] Anand4756 opened #168 "In the book donation page ...the heading is not visible"
![book donation page](https://user-images.githubusercontent.com/73114463/135743919-5bb85478-2025-496a-9ed3-0cf4ff181630.PNG)

[2021-10-03 07:13] Anand4756 commented on #168
pls assign to me...

[2021-10-03 07:22] harshita214 commented on #150
https://github.com/harshita214/Aec-Library-Website

[2021-10-03 07:22] harshita214 commented on #150
is this the link you are talking about?

[2021-10-03 07:24] #67 closed

[2021-10-03 07:26] Neeraj2002 commented on #130
@SauravMukherjee44 I didn't get a notification for the task assigned!
Just saw it
I fixed the issue and have sent you the PR

Sorry for the late reply.

[2021-10-03 07:36] Neeraj2002 commented on #168
Heyy have completed the task
Just assign me and I will send the  PR

[2021-10-03 07:39] Drish-xD commented on #116
Please review my PR #172

[2021-10-03 07:44] 2024-SANDHYA commented on #116
Yes please, as I created the issue

[2021-10-03 07:47] Kishore-abhimanyu commented on #153
@SauravMukherjee44 why have't i been assigned?

[2021-10-03 07:57] copyNinja1219 commented on #168
Hey @SauravMukherjee44 I just sent a pr #173 Please check : )

[2021-10-03 08:27] SauravMukherjee44 commented on #35
@rahulaarora Site is not opening after merging. I had reverted your PR. Try to create a pr and add hosted link so that I can rev

[2021-10-03 08:38] #168 closed

[2021-10-03 08:54] sowmiya-venkatesan commented on #116
Can you please assign me this issue?

[2021-10-03 10:24] Sin-Sumit commented on #131
@SauravMukherjee44 let me work on this? Assign it to me.

[2021-10-03 10:27] Sin-Sumit opened #181 "Upgrade the issue form templates, like in the GitHub beta issue templates."
It will help maintainers to get a clear description of the problem.
@SauravMukherjee44 Please consider this.

[2021-10-03 10:29] #150 closed

[2021-10-03 11:13] sowmiya-venkatesan opened #183 "Landing-Page-Design"
I would love to contribute on this

[2021-10-03 11:37] #183 closed

[2021-10-03 11:41] rahulaarora commented on #35
okay

[2021-10-03 11:41] praveenscience opened #186 "Linting errors in Resources page."
There are so many open tags and unclosed tags, the HTML doesn't have a starting HTML tag.

I have proposed a fix here in #187.

[2021-10-03 11:45] #186 closed

[2021-10-03 11:46] sowmiya-venkatesan opened #188 "Landing-Page-Design"
Please review my PR #184

[2021-10-03 11:49] rahulaarora commented on #35
@SauravMukherjee44 now the site code is breaking due to other pr's merged in btw!

[2021-10-03 14:53] pragyaSingh13 commented on #160
Can you please assign in to me?

[2021-10-03 16:11] I-ArchanaDash opened #194 "Navbar-issue"
### donate-book.html
Following things are not accessible -
- Home page
- contact us
### contact us .html
None of the pages (from navbar) are accessible from this web page .

[2021-10-03 16:12] I-ArchanaDash commented on #194
I want to fix this . @SauravMukherjee44 Pls assign it tot me

[2021-10-03 16:19] #188 closed

[2021-10-03 16:21] SauravMukherjee44 opened #195 "Change the UI of the Website"
- Multiple people can work.
- Design given Below.
- Link : https://www.behance.net/gallery/128585513/Library-Website-Design

[2021-10-03 16:21] Muskan-creator commented on #153
@SauravMukherjee44 Can you explain a bit about it what exactly do you need so that I can start working asap

[2021-10-03 16:22] SauravMukherjee44 commented on #195
Ui for reference: https://www.behance.net/gallery/128585513/Library-Website-Design?tracking_source=for_you_feed_user_published

[2021-10-03 16:25] SauravMukherjee44 commented on #195
Design Link - https://www.figma.com/file/wD7EOjKlTZqh3Yt9eZmPoB/ACELIBRARY_Landing-Page?node-id=1%3A2

[2021-10-03 16:28] SauravMukherjee44 commented on #195
![image](https://user-images.githubusercontent.com/72380920/135762934-291ea528-c7db-4557-8cb5-1082507e0b5e.png)

[2021-10-03 16:29] SauravMukherjee44 commented on #195
![image](https://user-images.githubusercontent.com/72380920/135762980-b0bb846e-3245-46cd-b4c2-ef7091cf12da.png)

[2021-10-03 16:34] SauravMukherjee44 commented on #116
@2024-SANDHYA Refer this design: https://www.behance.net/gallery/128585513/Library-Website-Design

[2021-10-03 16:35] #86 closed

[2021-10-03 16:36] #80 closed

[2021-10-03 16:36] #19 closed

[2021-10-03 16:37] #64 closed

[2021-10-03 16:40] #130 closed

[2021-10-03 16:41] haaaziq commented on #194
Can i fix it? @SauravMukherjee44 @I-ArchanaDash

[2021-10-03 16:45] 2024-SANDHYA commented on #116
I have some other designs in mind. I would like to work on that & I am referring behance only

[2021-10-03 16:49] sowmiya-venkatesan commented on #116
@SauravMukherjee44 could you please make an active repo (1week) for design, so that people can contribute to that first, and then you can choose best out of it to proceed further!

[2021-10-03 18:15] rajmunkhan commented on #72
I can create one Recommended Section of Book in the Index page, plz assign it to me.

[2021-10-03 18:17] #194 closed

[2021-10-03 18:20] HetviSoni commented on #195
I would like to work on this issue.Could you please assign?

[2021-10-03 18:27] Harshavardhan7678 commented on #103
![image](https://user-images.githubusercontent.com/81374435/135766715-20fd95ed-1d39-4274-8e62-dc211d18ce76.png)

Hey, do check this out once, and lemme know if this is fine?

[2021-10-03 18:33] SauravMukherjee44 commented on #195
@HetviSoni You can start work on this.

[2021-10-03 18:37] rajmunkhan commented on #72
hey @SauravMukherjee44 I have added recommended book section, kindly check out pull request #200 and let me know if you need any changes, thank you.

[2021-10-03 18:43] aniket1104 commented on #82
i can style the dropdown menus and css of the page to make it look better....i would like to work on this issue.
previously i worked on the styling of this project. https://namankhare.github.io/yet-another-tip-calculator/

[2021-10-03 20:44] SauravMukherjee44 commented on #103
This is too much, reduce the intensity.

[2021-10-03 20:45] SauravMukherjee44 commented on #103
Change the Colour to cream

[2021-10-03 20:57] SauravMukherjee44 opened #203 "Make the Website responsive for Mobile Phones"

[2021-10-03 20:58] #74 closed

[2021-10-03 20:58] #35 closed

[2021-10-03 20:59] SauravMukherjee44 opened #204 "Search Button is not working"

[2021-10-03 21:43] charlygg commented on #195
Is open for contribution?

[2021-10-03 22:22] AcousticCh commented on #204
This might take me more than a day but I'd like to attempt the assignment

[2021-10-04 01:34] pattimcletchie commented on #203
@SauravMukherjee44 please assign to me I would like to tackle this issue.

[2021-10-04 03:25] Harshavardhan7678 commented on #103
![image](https://user-images.githubusercontent.com/81374435/135788453-7a6de2da-e275-40c9-bd07-0798079238b9.png)

I have reduced the density and also changed the color to cream.
Do you want me to change anything else?

[2021-10-04 04:26] Sin-Sumit commented on #181
@SauravMukherjee44 Check this for the project. It add lot of value to the project
![screenshot (7)](https://user-images.githubusercontent.com/48879218/135794405-8dfe8ce5-37f1-446b-b4c0-e54fc0202155.png)

[2021-10-04 04:53] SauravMukherjee44 commented on #203
@pattimcletchie Do as soon as Possible!

[2021-10-04 04:55] SauravMukherjee44 opened #206 "Add Content to the About Page"

[2021-10-04 04:56] SauravMukherjee44 commented on #195
@charlygg Yeah, Create a PR!

[2021-10-04 06:25] PalakJain9 commented on #206
Hey, I'd like to work on this and add meaningful content to the About page.
Kindly assign me this issue

[2021-10-04 07:35] kambojshalabh35 commented on #206
Hi, @SauravMukherjee44 I would like to work on it,
Add meaningful content and redesign the page.

[2021-10-04 08:03] SauravMukherjee44 commented on #206
@PalakJain9 You can start working on this.

[2021-10-04 08:39] yadavashishdhirendra opened #210 "Fetching Books From JSON"
Hey @SauravMukherjee44 If u have many books to show on your website then it will be difficult to manage it so give me a chance I will add a JSON Data and will fetch the data on your HTML Page The advantages of this is you don't have to create many cards It will auto add the cards when you add the JSON Data....

[2021-10-04 08:43] yadavashishdhirendra opened #211 "CRUD Operation In Homepage"
Hey @SauravMukherjee44 I am seeing on homepage when I am adding Book It is added but when I refresh The page It Is not showing My added book So I suggest You to add crud operations In it.

[2021-10-04 08:53] tier3guy commented on #195
Hey Sourav I want to work on this issue can you please assign me this ?

[2021-10-04 08:54] vivekarora-02 commented on #66
Hey, there!
I would like to contribute to this issue, can you please assign me?

ThankYou!

[2021-10-04 09:03] tier3guy opened #212 "Un-necessary scroll in login page"
please assign me this issue I can fix this by today only and even improve the UI

[2021-10-04 09:04] tier3guy opened #213 "UI of donate books should me improved"
Please assign me this issue. I want to work on that.

[2021-10-04 13:01] Sin-Sumit commented on #181
@SauravMukherjee44 should I work on this?

[2021-10-04 13:35] vanshikapandey opened #221 "Enhancing the front end of about section"
I would like to enhance the front end and styling of the about section
Kindly assign this issue to me.

[2021-10-04 15:14] Mansivjain2409 opened #227 "Hamburger menu's three lines not visible on phone"
Can i change the color of the hamburger menu's 3 lines to white? I believe they will look better like that

[2021-10-04 15:21] #227 closed

[2021-10-04 15:23] Mansivjain00 opened #228 "Hamburger menu's three lines dont look great when they're black"
Can i change the hamburger menu's three lines to white?

[2021-10-04 15:29] Mansivjain00 opened #230 "between 600px and 800px the footer doesn't cover the entire width"
The footer doesn't cover the entire screen between 600px and 800px ,  can i work on this issue?

[2021-10-04 15:33] Mansivjain00 commented on #230
Could you assign this issue to me?

[2021-10-04 15:33] Mansivjain00 commented on #228
Can i work on this?

[2021-10-04 15:46] Mansivjain00 opened #231 "The logo is different in different pages"
The logo in the home page and about page is different. Similarly, it is different in the contact page.

I could fix this this issue.

Please assign it to me

[2021-10-04 15:47] Mansivjain00 commented on #231
I could fix this issue.

[2021-10-04 15:59] rajmunkhan commented on #72
@SauravMukherjee44  I have updated the recommended book section beside the form and the page is still responsive #232
![2021-10-04 (3)](https://user-images.githubusercontent.com/83774177/135884446-7b7b749d-3424-4598-853a-81acf878705d.png)

[2021-10-04 16:47] #206 closed

[2021-10-04 17:08] SauravMukherjee44 commented on #221
Go for it!

[2021-10-04 17:08] SauravMukherjee44 commented on #181
Yeah Sure!

[2021-10-04 17:11] SauravMukherjee44 commented on #203
Good luck!

For any help, you can reach out to me here : https://sauravmukherjee.bio.link/

[2021-10-04 17:12] SauravMukherjee44 commented on #153
![image](https://user-images.githubusercontent.com/72380920/135894673-15124800-f67a-4b32-8de0-ee938dd8f3db.png)

[2021-10-04 17:13] SauravMukherjee44 commented on #153
Refer to this and Create a PR Asap!

[2021-10-04 17:13] #212 closed

[2021-10-04 17:14] tier3guy opened #234 "Need a logo for the website."
I know canva very well, and I can design a nice looking logo, assign me this issue so that I can move ahead with the work.

[2021-10-04 17:19] SauravMukherjee44 commented on #234
Do complete other assigned tasks first.

[2021-10-04 17:22] Abhishek2408 opened #235 "I want to make some changes in ui like input fields design and button designs."
Please assign the role to me

[2021-10-04 17:25] KaranBajaj594 commented on #213
Hey @SauravMukherjee44
Can i work on it?

[2021-10-04 17:26] KishanSeksaria opened #236 "Navbar links opening in new tab, make it open in the same page"

[2021-10-04 17:28] #236 closed

[2021-10-04 17:28] KishanSeksaria commented on #236
@SauravMukherjee44 please delete this issue, created it by mistake

[2021-10-04 17:42] Mansivjain00 commented on #231
Okay you have assigned someone to design a logo for the website, i'll work on this issue after thats ready?

[2021-10-04 18:47] vedant-shah commented on #72
Hey, I wanna try to work on this can u assign it to me ?

[2021-10-04 18:49] SauravMukherjee44 commented on #72
Do refer the above image

[2021-10-04 19:04] #234 closed

[2021-10-04 19:13] Abhishek2408 commented on #235
hey, when I'm trying to push the project to origin it is showing me that permission was denied to me.

[2021-10-04 19:54] SauravMukherjee44 commented on #235
push to your forked repo first, and then create a pull request.

[2021-10-05 03:04] Mansivjain00 opened #242 "Resources opens on the same page"
Resources opens in the same page, while the other html files open in a new page

I can fix this, could you assign this issue to me

[2021-10-05 03:21] Sin-Sumit commented on #181
Hey, @SauravMukherjee44 it will be good if it considers under hactoberfest. Please add hacktoberfest label so that it will be count

[2021-10-05 03:51] tier3guy commented on #231
Hey Mansiv, the logo is ready and it is present in the images folder as the name of ace.png and ace.svg . You can start your work.

[2021-10-05 03:54] tier3guy opened #244 "Tittle icon is not present in the Login also the icons are different in different pages"
please assign me this issue, so that I can move ahead.

[2021-10-05 03:56] tier3guy opened #245 "About Page UI"
The UI of the about page is not appropriate, assign me this. I would like to work on this issue.

[2021-10-05 04:00] tier3guy opened #246 "The about link in resources page is not working"
Please assign me this issue I would like to contribute to fix this bug.

[2021-10-05 04:06] tier3guy opened #247 "Documents are not opening in the resources page."
Study material is not opening on the resources page, instead, the documents are just present as an image there.

What I am planning is to create an email account with the name of ACE Library and put that study material notes in the drive of that email account and whenever the user will click on the document they will be redirected to that drive sharable link.

This will also reduce the load on the

[2021-10-05 04:41] sowmiya-venkatesan opened #248 "UI Design for landing page"
Please do assign me this issue, by this they can redirect to figma file and download the frontend codes from there itself, to proceed further

[2021-10-05 06:05] yashsharma7128 commented on #235
sir please assign i will give  my best

[2021-10-05 06:06] yashsharma7128 commented on #221
sir please assign

[2021-10-05 06:07] yashsharma7128 commented on #204
sir please assign i will try my best

[2021-10-05 06:09] vanshikapandey commented on #221
This has already been assigned to me. You can open a new issue .

On Tue, Oct 5, 2021, 02:06 YAsh sharma ***@***.***> wrote:

[2021-10-05 08:52] #248 closed

[2021-10-05 08:56] kiran11621 opened #251 "Navigation Bar in HomePage"
The navigation bar in homepage is not responsive.
I can correct it please assign it to me.

[2021-10-05 13:58] Abhishek-Mittal-sam commented on #203
Hey, I want to work on this issue. Please assign it to me.

[2021-10-05 14:21] Abhishek-Mittal-sam commented on #245
Hey, I want to work on this issue. Please assign it to me.

[2021-10-05 15:15] pattimcletchie commented on #203
@Abhishek-Mittal-sam  I am in the process of working on this issue. If I need help I will ping you.

[2021-10-05 15:27] SauravMukherjee44 commented on #203
@pattimcletchie I am pushing an update on the Ui today. Do reach me on Twitter or discord need a discussion regarding this.
https://sauravmukherjee.bio.link/

[2021-10-05 16:22] SevilleCode opened #262 "Add Background Color to Front Page Form"
I'd like to add a background color to the form on the home page. I think it would make it easier to see the labels and form inputs.

[2021-10-05 16:52] SauravMukherjee44 opened #263 "Major change in the UI of Home Screen [ Fix Bugs]"

[2021-10-05 16:52] SauravMukherjee44 opened #264 "Fix add Book Button"

[2021-10-05 16:52] #262 closed

[2021-10-05 16:57] SauravMukherjee44 opened #265 "Highlight the elements of Navbar"

[2021-10-05 16:58] SauravMukherjee44 commented on #203
@pattimcletchie Update your repo, Do fetch upstream.

[2021-10-05 17:03] SauravMukherjee44 opened #266 "Everyone update your repository before working on the issue"

[2021-10-05 17:12] rushikeshadhav commented on #265
Can I work ?

[2021-10-05 17:17] pratham-10 commented on #264
Hello. I would like to work on this issue. Could you please assign it to me?

[2021-10-05 17:20] SauravMukherjee44 commented on #265
Yeah Go for it!

[2021-10-05 17:20] SauravMukherjee44 commented on #264
Fix it! The Js file.

[2021-10-05 17:25] Abhishek-Mittal-sam commented on #203
oh great! sure I will be glad to help you.

[2021-10-05 17:28] rushikeshadhav commented on #265
@SauravMukherjee44 Currently the nav elements have more space from top. should I make them aligned properly.

[2021-10-05 17:30] SauravMukherjee44 commented on #265
Yes and Change the font type.

[2021-10-05 17:31] SauravMukherjee44 opened #267 "Make the New UI Responsive !"

[2021-10-05 17:32] #246 closed

[2021-10-05 17:32] #244 closed

[2021-10-05 17:32] rushikeshadhav opened #268 "The border radius is more in some places. It will look good if I reduce it. Should I reduce them"
The border radius is more in some places. It will look good if I reduce it. Should I reduce them .

[2021-10-05 17:33] #231 closed

[2021-10-05 17:35] #160 closed

[2021-10-05 17:35] #195 closed

[2021-10-05 17:36] #82 closed

[2021-10-05 17:55] prashant16oct commented on #263
hey @SauravMukherjee44 the color combinations of the text does not look good with the background colors, and the footer too need some changes to look attractive... do you mind if I do it?

[2021-10-05 17:56] AkhilChoubey commented on #267
Can you please explain , which UI you are talking about , so that I can work on it . Are you talking about whole website?
Please assign this issue to me , so that I can start working on this

[2021-10-05 18:44] aryan2621 opened #272 "I am new to the open source but have enough knowledge of development. Can you assign me some issues?"

[2021-10-06 03:07] ayushjha952 opened #281 "Navbar Login Button not working."
On click it is not to going to the login page
![Screenshot 2021-10-06 083657](https://user-images.githubusercontent.com/60105854/136134407-f6e33eeb-0d0a-4afa-aa12-56e35458d505.jpg)

So can you assign this issue to me @SauravMukherjee44

[2021-10-06 03:11] HetviSoni opened #282 "Contact-us page nav-bar"
Logo is different from the home page and font size is bigger and bolder as compared to other pages. I would like to work on this issue.

[2021-10-06 03:16] FarhanCeo commented on #265
Can I make some changes?

[2021-10-06 03:17] tier3guy opened #283 "Home page Input Fields"
The home page Input fields are not looking good, assign me this issue I want to enhance this.

[2021-10-06 03:19] tier3guy opened #284 "Link to the Login page is not working"
Please assign me this,  I want can fix this.

[2021-10-06 03:23] tier3guy opened #285 "Presence of two in two footers in the home page"
There are two footers on the homepage one need to be removed. Assign me this I want to work on this.

[2021-10-06 03:35] tier3guy opened #286 "UI of Book Entry Table"
The UI of the book-entry table needs to be improved, please assign me this, So that  I can move ahead with the work.

[2021-10-06 03:36] tier3guy opened #287 "No icon in the contact button in navbar"

[2021-10-06 03:46] tier3guy commented on #272
Hey Aryan, I  just created a small good first issue to add an icon to the navbar of the home page in #287. You can ask Saurav to assign that issue to you in the comment section of that issue.

[2021-10-06 03:47] #284 closed

[2021-10-06 06:15] rushikeshadhav commented on #287
Can I take this up ?

[2021-10-06 06:32] yadavashishdhirendra opened #289 "Filter Books"
Hey @SauravMukherjee44 can i Implement filter feature In homepage (Books and more) section So it would be easier to get different-different books when user click on the button! can u assign it to me? So I can implement this feature!

[2021-10-06 10:30] Sin-Sumit commented on #181
Hey @SauravMukherjee44 to make this issue PR  count in the HF profile please add the Hacktoberfest-accepted label.

[2021-10-06 11:45] harshita214 opened #297 "Nav-bar position to be fixed"
BEFORE
![image](https://user-images.githubusercontent.com/79797000/136196230-cff977df-e55e-4f21-a684-f553d1bb4948.png)

AFTER
![image](https://user-images.githubusercontent.com/79797000/136195965-94a4eadf-51b3-4264-807b-9ae4b6d4fc64.png)

![image](https://user-images.githubusercontent.com/79797000/136196064-e6215348-9525-47c5-9af9-66787319e26a.png)

Can I do?

[2021-10-06 11:53] priyanshu688 commented on #264
Can I work on this issue??

[2021-10-06 12:10] harshita214 opened #300 "make scroll-bar appealing in Resources"
**BEFORE**
![image](https://user-images.githubusercontent.com/79797000/136199029-19e7a24b-ca8d-4947-83ab-be7450a2e64a.png)

**AFTER**
![image](https://user-images.githubusercontent.com/79797000/136198526-d7d75ca4-6b90-4f25-abc7-3ef4a8cfe035.png)

**WHEN SCROLLING IT CHANGES COLOR**
![image](https://user-images.githubusercontent.com/79797000/136198680-6d2f30ff-a680-49dc-ac67-93ead953954e.png)

Can

[2021-10-06 13:14] copyNinja1219 commented on #265
@SauravMukherjee44 i created a pr for this #303 please check. : )

[2021-10-06 13:37] copyNinja1219 commented on #242
hey @SauravMukherjee44  I fixed the bug please check . : ) #305

[2021-10-06 16:57] Royal-Akash opened #308 "login button doesn't work"
![Screenshot (58)](https://user-images.githubusercontent.com/82963534/136249395-a0935a3f-6e68-4826-83c9-86edf93f3a45.png)

can i work on this.

[2021-10-06 17:56] Gauravmauryaios commented on #282
Can I work on this issue??

[2021-10-06 18:11] Royal-Akash commented on #308
Can I work on this issue.

[2021-10-06 18:52] ayushisingla opened #310 "Entry-table-UI updated"
![image](https://user-images.githubusercontent.com/62255672/136264481-66fe82a7-b2a8-497a-82aa-86ec42cc8424.png)
I have already submitted a pull request.
I am new to open-source contributing and want to contribute to hacktoberfest to learn and participate.
pull-request -> #309

[2021-10-06 20:03] #297 closed

[2021-10-06 20:12] Nupurgit2000 commented on #265
Hey, I want to contribute to this issue so please assign this to me.

[2021-10-06 21:29] #181 closed

[2021-10-06 21:30] #242 closed

[2021-10-06 21:31] SauravMukherjee44 commented on #263
@prashant16oct Yeah, Go for it!

[2021-10-06 21:32] SauravMukherjee44 commented on #310
Update your repository

[2021-10-06 21:32] #310 closed, assigned to nobody

[2021-10-06 21:33] SauravMukherjee44 commented on #308
Yes

[2021-10-07 02:49] Bhawna147 opened #314 "Update UI"
Journal, Referral and E-book section and not aligned properly, Assign this issue to me I'll give it a good design with proper padding and space.

[2021-10-07 03:04] Bhawna147 opened #315 "Update UI of Sign in page"
Sign In Page is looking but can be made more attractive . Assign this issue to me I'll add a hover effect to submit button, shadow to input and other changes accordingly

[2021-10-07 03:21] Harshavardhan7678 commented on #103
Hey, could you add in "Hacktoberfest-Accepted" label to my PR so that it's accepted in the event?

[2021-10-07 05:31] Amritanshu02 opened #317 "Latest blog section is empty"
### Feature description

Want to add few demo blogs to the blog section.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2021-10-07 09:45] TruptiSahu opened #320 "Few Suggestions to Improve the UI"
### Feature description

I have added a link to a 3min video explaining all the suggestions. Please take a look over it. Thanks for giving time to review.
[Check out the Video Please](https://youtu.be/tzX3tTeityQ)

### 👀 Have you spent some time to check if this issue has been raised before?

- [x] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read

[2021-10-07 14:33] akhileshthite opened #323 "Bug Report: Navigation Bar UI Improvements"
### Reproduction steps

-> The UI icons are too close to the text.
-> AEC Library brand image should contain home page link.

![Screenshot 2021-10-07 at 7 55 41 PM](https://user-images.githubusercontent.com/68826419/136406115-31cee7b6-9a27-45e3-9674-213197c6b90f.png)

### Expected behavior

-> There should be a space in between UI icons and text.
-> There should be a home page link to the top nav

[2021-10-07 14:42] AkhileshThite opened #324 "Bug Report: GitHub and LinkedIn links are repeated in the Footer of Home Page."
### Reproduction steps

These links are repeated.
![Screenshot 2021-10-07 at 8 09 03 PM](https://user-images.githubusercontent.com/68826419/136407128-c4744f59-b39a-44be-8853-0e5ba0beefe4.png)

### Expected behavior

The footer should contain one GitHub and one LinkedIn link as they're repeated.

### Actual Behavior

I'll remove the repeated links.

### 👀 Have you spent some time to check if this i

[2021-10-07 16:40] md-jishan-ansari opened #326 "Bug Report: Home page is not responsive"
### Reproduction steps

When I see the home page is smaller screen Many section are not visible properly
![image](https://user-images.githubusercontent.com/86798430/136427275-51104381-2542-455a-bf93-3149a0b55170.png)

### Expected behavior

It should be proper aligned and visible properly in smaller screen

### Actual Behavior

It actually not proper aligned and visible in smaller screen

### 👀 Ha

[2021-10-07 21:04] #314 closed

[2021-10-07 21:05] #308 closed

[2021-10-08 05:20] its-akashjha opened #333 "Feature: adding responsive contact us form and update design"
### Feature description

I make responsive contact us form update design and navbar which looks user friendly.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDU

[2021-10-08 05:22] Royal-Akash commented on #333
Hey @SauravMukherjee44 ! can you assign me this issue.

[2021-10-08 13:20] Muskan-creator opened #339 "Feature: Navbar bug in home page and contact us page"
### Feature description

![image](https://user-images.githubusercontent.com/59757988/136564261-f8f8d9fd-4931-4e20-ac7f-8a52eb46fbd9.png)
![image](https://user-images.githubusercontent.com/59757988/136564285-e3ed4a0e-a137-4567-8ff1-d953392e8594.png)
I want to solve this bug  as a part of hacktoberfest

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked an

[2021-10-08 13:22] Muskan-creator opened #340 "Want to make a FAQ section"
### Feature description

If you want to make FAQ section I can make it @sau

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2021-10-08 14:31] Aryan-kumar-mains opened #341 "Bug Report: Login page is not responsive"
### Reproduction steps

I will give a 100% width to login box and doing a flex-wrap to wrap , so that contents wrap or I can use media query

### Expected behavior

It should be responsive in small screen by taking 100% width and the welcome message is above the login title not in adjacent of the login box.

### Actual Behavior

Login page is actually not responsive , it takes 50% of width of the

[2021-10-08 14:52] Aryan-kumar-mains opened #342 "Bug Report: Resources page is not responsive"
### Reproduction steps

I'll make this responsive like cards in bootstrap using media queries

### Expected behavior

In small screen all the youtube contents or Question bank section will align vertically( like one above other).

### Actual Behavior

![Screenshot (177)](https://user-images.githubusercontent.com/52608321/136577846-4b556999-979b-4df7-a3db-622ce288c87f.png)

### 👀 Have you spent som

[2021-10-08 14:52] SauravMukherjee44 commented on #341
@Aryan-kumar-mains Go for it!

[2021-10-08 15:50] md-jishan-ansari commented on #342
Please assign this issue to me I can definitely fix it.

[2021-10-08 20:54] #230 closed

[2021-10-08 20:55] #315 closed

[2021-10-08 20:56] #286 closed

[2021-10-08 20:57] #324 closed

[2021-10-08 20:57] #326 closed, assigned to md-jishan-ansari

[2021-10-08 20:58] #323 closed, assigned to akhileshthite

[2021-10-08 20:59] #341 closed, assigned to Aryan-kumar-mains

[2021-10-08 21:01] #266 closed

[2021-10-08 21:02] SauravMukherjee44 commented on #131
@Sin-Sumit Go for it!

[2021-10-09 05:02] mgjain9871 opened #349 "Feature: Adding more social icons in footer"
### Feature description

Currently only LinkedIn and Github social icons are present in footer, I will add Youtube and Twitter social icons in the footer section of all pages.

![image](https://user-images.githubusercontent.com/71882225/136644759-9a884317-f514-407c-8ac4-f8b957e9bf26.png)

I want to contribute this as apart of hacktoberfest.

### 👀 Have you spent some time to check if this issue ha

[2021-10-09 05:02] mgjain9871 commented on #349
@SauravMukherjee44 kindly assign me this issue under hacktoberfest.

[2021-10-09 05:48] barunipriyats opened #350 "Change the design of Terms and Conditions page"
### Feature description

@SauravMukherjee44 I would like to change the UI design of Terms & Conditions page. I am good in designing web pages with HTML and CSS. I request you to assign this task to me.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [x] I have read the [Code o

[2021-10-09 06:28] shefali12-ab opened #351 "Adding Carosoule question bank and study material section of resources section"
### Feature description

Hii, I would like to contribute by adding a carousel card in the question bank and study material section. It will look good.
Looking forward for your reply.
Thank you.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduc

[2021-10-09 07:39] shefali12-ab opened #355 "Adding name ,image and book name of peoples who have donated books."
### Feature description

In donating book section, at the right side of the form we can add a section that shows the people who have recently donated books. there image name and name of the book they have donated.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read

[2021-10-09 10:31] SauravMukherjee44 commented on #351
@shefali12-ab Go for it!

[2021-10-09 10:34] shefali12-ab commented on #351
Thank you :))

[2021-10-09 11:43] md-jishan-ansari opened #357 "Features:- It should be a Login Page link on signup page and a signup page link on login page"
### Feature description

1. When New User open a Login page and user notice that I have to signup first than user directly moved login page to signup page so it should be a Button for link directly login page (In this project user need to back on home page and open signup page this is bad user experience) and same situation for signup page

### 👀 Have you spent some time to check if this issue has

[2021-10-09 11:44] md-jishan-ansari commented on #357
Please assign me I can make this in better way

[2021-10-09 11:54] Royal-Akash opened #358 "Bug Report: navigation menu not working in contact us page"
update CSS hamburger in contact us pag
![Screenshot (56)](https://user-images.githubusercontent.com/82963534/136656853-031571c2-2b36-499a-b45c-4a03f15da79b.png)
e

[2021-10-09 11:55] Royal-Akash commented on #358
can you assign me this issue .

[2021-10-09 14:54] SwayamJilla opened #360 "Bug Report:"
### Reproduction steps

when I was clicking on our story in community column it wasnt responding

### Expected behavior

should link to a page

### Actual Behavior

no response

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github

[2021-10-09 14:55] SwayamJilla commented on #360
please assign it to me under hacktoberfest

[2021-10-09 16:45] Mansivjain00 opened #362 "Feature: Contact Form in the home page is not centralised"
### Feature description

I could centralize the contact form for a better visualisation.

I would like to claim this issue

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/C

[2021-10-09 16:53] Mansivjain00 opened #363 "Bug Report: Horizontal scroll bar appearing in the home page"
### Reproduction steps

There is a horizontal scroll bar appearing in the home page. This spoils the responsiveness of the website and adds an extra section on the right side.

### Expected behavior

No horizontal scroll bar/ extra section on the right

### Actual Behavior

Horizontal scroll bar and extra section appearing on the right

### 👀 Have you spent some time to check if this issue has bee

[2021-10-09 17:05] Mansivjain00 opened #365 "Feature: Centralising contents in the recommended books section"
### Feature description

When the screen size reduces, the recommended books are left aligned

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2021-10-09 19:52] Royal-Akash commented on #66
Hey @SauravMukherjee44 ! Can you assign me this issue. I'm quite excited to get started on this. I add lot of new resources which help students in terms of placement.

[2021-10-09 20:21] #342 closed

[2021-10-09 20:22] SauravMukherjee44 commented on #350
@barunipriyats Go for it!

[2021-10-10 04:34] GulshanKataria opened #369 "Feature: Add dropdown for country,state,city in Book donation form"
### Feature description

Add dropdown for country,state,city  in Book donation form instead of typing manually

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDU

[2021-10-10 04:35] GulshanKataria commented on #369
@SauravMukherjee44 can you please assign me this issue

[2021-10-10 05:09] Khushi-1412 opened #370 "Documentation: Informative you tube channel alignment"
### Description

In resources page alignment of youtube, channel videos are not proper.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2021-10-10 08:42] asitsonawane commented on #363
Hello, I could fix this. Can you please assign me this issue under hacktoberfest?

[2021-10-10 09:29] mgjain9871 opened #375 "Bug Report: Scroll-to-up button overlapping with the contact us link in About Us page."
### Reproduction steps

Open the About Us page. There is a scroll-to-up button which is overlapping with the contact us link at the bottom.

### Expected behavior

The scroll-to-up button should not overlap the contact us link.

![image](https://user-images.githubusercontent.com/71882225/136689877-4ce1ae7a-e886-43af-97e2-7f53cb117b65.png)

Also added the hover effect to the scroll-to-up button.

!

[2021-10-10 09:30] mgjain9871 commented on #375
@SauravMukherjee44 kindly assign me this issue under hacktoberfest.

[2021-10-10 11:03] mgjain9871 opened #376 "Bug Report: Newsletter in home page is merging with scrollbar"
### Reproduction steps

Open Home Page. The subscribe to our newsletter sign up button towards the end is merging with scrollbar

### Expected behavior

Sign up should have some space between it and scrollbar.

![image](https://user-images.githubusercontent.com/71882225/136692389-addba164-6a71-4b4f-9aef-0dc519d87f72.png)

### Actual Behavior

The subscribe to our newsletter sign up button towards

[2021-10-10 11:03] mgjain9871 commented on #376
@SauravMukherjee44 kindly assign me this issue under hacktoberfest.

[2021-10-10 15:08] shefali12-ab commented on #355
@SauravMukherjee44 I have made the required changes,
I have attached a drive link,please see a 20sec of screen recording of changes that I have made.
[https://drive.google.com/file/d/1nmdxChG6qqlYXYWnxgSWj3kjyppdDfA5/view?usp=sharing](url)

[2021-10-10 15:13] shefali12-ab commented on #355
@SauravMukherjee44 I have made the required changes , please see the screenrecording of the changes that I have made ,in attached drive link attached here.
copy the link in a browser then see it .
[https://drive.google.com/file/d/1nmdxChG6qqlYXYWnxgSWj3kjyppdDfA5/view?usp=sharing](url)

[2021-10-10 19:56] #363 closed

[2021-10-10 19:57] #350 closed, assigned to barunipriyats

[2021-10-10 20:18] #320 closed

[2021-10-10 20:19] #357 closed

[2021-10-10 20:19] #358 closed

[2021-10-10 20:20] #339 closed, assigned to Muskan-creator

[2021-10-10 20:20] #333 closed, assigned to its-akashjha

[2021-10-10 20:39] SauravMukherjee44 opened #381 "Feature:"
### Feature description

Add Dark Mode to the Website 🌑

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2021-10-11 11:45] Royal-Akash opened #387 "contact us hamburger menu"
Now look like contact us hamburger menu : ![Screenshot (59)](https://user-images.githubusercontent.com/82963534/136784341-e7496c1c-d5d2-4438-8f24-1d1c42591eca.png)

I created a PR for this issue and this PR merge also. But some of my friends also work on contact us form and remove this feature.

So I requested to see this feature :
![Screenshot (58)](https://user-images.githubusercontent.com/82963

[2021-10-11 11:45] Royal-Akash commented on #387
can you assign me this issue.

[2021-10-11 12:13] praveenscience opened #388 "Bug Report: Subscribe to our newsletter UI needs fixing."
### Reproduction steps

On the main page, at the bottom of the screen, I could see the "Subscribe to our newsletter" section - the button has some issues with the padding.

![image](https://user-images.githubusercontent.com/1830380/136787993-fb8b72a6-02d2-4449-858b-e6328b5d5d6e.png)

### Expected behavior

Padding should be there.

### Actual Behavior

On the main page, at the bottom of the screen

[2021-10-11 12:13] praveenscience commented on #388
@SauravMukherjee44 Please assign this to me.

[2021-10-11 13:23] asitsonawane commented on #263
Hello, can you please let me know if it is okay to change the UI completely right from fonts and colors? If not please let me know what rules and design scheme I should follow. I was thinking of going into blue and dark shades with use of gradients and minimal fonts like montserrat and open sans. You can refer to my codepen to understand better. https://codepen.io/asitsonawane/pen/eYgQeLP

[2021-10-11 20:38] #369 closed, assigned to GulshanKataria

[2021-10-11 20:45] #375 closed

[2021-10-11 20:51] SauravMukherjee44 commented on #355
Great!

[2021-10-11 20:52] SauravMukherjee44 commented on #289
Create a PR again!

[2021-10-11 21:51] SauravMukherjee44 opened #395 "Contribute to CodeIN Community's Website"
### Description

- Fork the Repo and Start creating Issues.
- GitHub Repository: https://github.com/SauravMukherjee44/CodeIN-Community-Website

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library

[2021-10-12 03:12] Kyle-Symph opened #397 "Feature: Books Hover effect"
### Feature description

I would like to add a feature to add a effect when a user hovers on a book

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2021-10-12 04:10] Abh1shekSingh commented on #395
@SauravMukherjee44  I did alot of styling changes to the home Page of your new Website. Please have a look and thank you you have made such good repo it is boosting my confidence in open source contribution

[2021-10-12 04:44] Abh1shekSingh commented on #397
@Kyle-Symph  I successfully resolved this issue. And made the Pull request @SauravMukherjee44  Please check once

[2021-10-12 10:04] #397 closed

[2021-10-13 07:52] Sampad18 opened #404 "Feature: Request Book Feature instead of Add Book"
### Feature description

The AddBook feature in the home page is irrelevant and isn't leading us to anywhere. Instead, users can request for a particular book by providing details and active members can donate the book if available which will be stored in the dataset.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

###

[2021-10-14 14:50] Ravi-999 commented on #251
Im new to open source
can i work on this issue?

[2021-10-14 17:01] shefali12-ab commented on #351
@SauravMukherjee44 I have made the required changes, please review it.

[2021-10-15 14:36] tier3guy opened #411 "Feature: Un-necessary scroll x needs to removed"
### Feature description

![image](https://user-images.githubusercontent.com/73595465/137504822-764d66e1-8be4-481b-8523-4c7c525da556.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2021-10-15 14:38] tier3guy commented on #411
I can fix this please assign me this issue

[2021-10-15 14:44] #411 closed, assigned to nobody

[2021-10-16 16:06] GulshanKataria opened #414 "Add Feature: Add Email id validation in signup form"
### Feature description

Add Email id validation in signup form

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2021-10-17 03:17] Abhishek-PratapSingh commented on #203
hey @SauravMukherjee44 can I be assigned for this

[2021-10-17 18:55] RiyaSaini1108 commented on #395
please assign this to me @SauravMukherjee44

[2021-10-17 21:30] SauravMukherjee44 commented on #395
Do fork this repository  https://github.com/SauravMukherjee44/CodeIN-Community-Website and create issues. I will assign you.

[2021-10-17 21:30] #351 closed

[2021-10-18 07:45] #414 closed, assigned to GulshanKataria

[2021-10-18 08:28] GulshanKataria opened #420 "Bug Report: Mobile number and password fields ara not validated in signup form"
### Reproduction steps

Mobile number is even taking alphabets as inputs and password filed is not validated with pattern

### Expected behavior

Mobile number and password should properly be validated before submitting

### Actual Behavior

Mobile number is even taking alphabets as inputs and password filed is not validated with pattern

### 👀 Have you spent some time to check if this issue has b

[2021-10-19 03:35] pattimcletchie commented on #203
I should have a PR up by end of day on Wednesday

[2021-10-19 13:28] suraj-singh127 opened #427 "Feature: Increase the overall responsiveness of the website by adding media queries"
### Feature description

Responsiveness and readability of the website -

- [x] Make it readable for small screen and large screen devices

As of now a horizontal navbar appears as soon as the screen width goes below 1400px.
It can easily be fixed by adding few media queries.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar iss

[2021-10-19 21:24] #420 closed, assigned to GulshanKataria

[2021-10-20 05:36] GulshanKataria opened #429 "Bug Report: Mobile number and password are not validated in login page"
### Reproduction steps

Mobile number is accepting even alphabetical characters and password is not validated with pattern . user can even login without entering required fields

### Expected behavior

Mobile number and password should be validated before logging in user

### Actual Behavior

Mobile number and password not validated before logging in user

### 👀 Have you spent some time to check i

[2021-10-20 05:36] GulshanKataria commented on #429
@SauravMukherjee44 please assign me this issue

[2021-10-20 09:34] #427 closed, assigned to nobody

[2021-10-20 14:53] #429 closed, assigned to GulshanKataria

[2021-10-20 16:29] GulshanKataria opened #432 "Add author name should be prompted if selected other option in select author in Add Book"
### Feature description

User should add author name  if selected other option in select author in Add Book

<img width="960" alt="Capture111" src="https://user-images.githubusercontent.com/66901234/138133254-298fe412-cb5d-415b-8e74-735fea73854b.PNG">

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read t

[2021-10-20 19:48] riyajha2305 opened #437 "Displaying books thumbnails under "Recommended books" section as a book itself using html, css to add a more library like feel to the website."

[2021-10-21 09:46] GulshanKataria opened #441 "Bug Report: Book Donation form getting submitted even when not agreed to terms and conditions"
### Reproduction steps

Book Donation form getting submitted even when not agreed to terms and conditions checkbox

### Expected behavior

if user has not agreed to terms and conditions checkbox then form should not get submitted

### Actual Behavior

if user has not agreed to terms and conditions checkbox then also form gets submitted

### 👀 Have you spent some time to check if this issue has bee

[2021-10-21 11:43] #432 closed

[2021-10-22 03:43] Khushi-1412 opened #447 "Feature: NCERT books section"
### Feature description

Add a new section in the library which is Ncert books section for school students.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.

[2021-10-22 07:57] SauravMukherjee44 opened #450 "Feature: Add Blogs to the Blogs Section."
### Feature description

Add Blogs (Through Cards) in the Home Page.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2021-10-22 19:25] Aashutosh-922 opened #454 "Feature: We can add a CART!"
### Feature description

For those who want to read later or use later it would be great!

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2021-10-22 19:27] Aashutosh-922 opened #455 "Documentation: I want to update contributors page and update terms and conditions."
### Description

I want to update contributors page and update terms and conditions. Please allow me to do so and assign!

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CO

[2021-10-23 09:37] #441 closed, assigned to GulshanKataria

[2021-10-28 17:10] PurviBhoyar21 opened #471 "Documentation: Portfolio homepage template html code"
### Description

Adding portfolio homepage templet for new beginners who want to contribute and prepare their portfolio website.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/

[2021-11-14 03:18] oneamanish commented on #317
see my pull req.

[2021-12-13 13:29] AmanRana10 opened #490 "Add Hover effects on nav bar and login button"
Improve the overall look of navbar and login button.

[2021-12-13 15:07] Pushti-R commented on #116
is this issue open ?

[2021-12-15 09:38] Pushti-R commented on #267
Hey @SauravMukherjee44  can I work on this issue ?

[2021-12-16 09:30] AmanRana10 commented on #490
#491

[2021-12-16 20:59] Shofiya2003 commented on #264
Hello,
Is this issue open for SWOC 2021 contributors? I would like to work on this issue. Thanks a ton.

[2021-12-17 13:39] #490 closed

[2021-12-17 13:39] #471 closed

[2021-12-17 13:40] #455 closed

[2021-12-17 13:40] SauravMukherjee44 commented on #267
Sure! @Pushti-R

[2021-12-17 15:46] Shofiya2003 commented on #264
Hey,
I checked the add Book button. It works fine, but the Edit button in the table does not work. Shall I raise an issue and then a PR to solve that issue. Thanks a ton.

[2021-12-17 19:11] Pushti-R commented on #267
whole website has to be done responsive?

[2021-12-18 12:20] SauravMukherjee44 commented on #264
Yes, Create a issue for that,I will assign that to you.

[2021-12-23 14:02] devikavarshney opened #493 "Feature: Donate book Webpage UI inconsistency 😞"
### Feature description

I think the donate book page and home page UI design are not consistent so I can improve the UI design as well as will make it consistent.
PS: tell me whether I can use Bootstrap or just HTML CSS 😕

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I

[2021-12-23 14:04] devikavarshney commented on #493
@SauravMukherjee44 Please assign this issue to me also add SWOC and LEVEL TAG (suggested: MEDIUM) to it 🥺

[2021-12-23 19:44] SauravMukherjee44 commented on #493
You can use bootstrap a bit with HTML and CSS.

[2021-12-27 10:05] Shofiya2003 opened #494 "Bug Report: Edit Button on the Home Page is not working"
### Reproduction steps

Add a book to the list of 'Your Books'. Click the edit button. The information of book to be edited does not appear in the form.

### Expected behavior

The information of the book to be edited should reappear on the form. User should be able to edit the details and click the 'add book' button to edit the book.

### Actual Behavior

When the edit button is clicked the date

[2021-12-27 10:06] Shofiya2003 commented on #494
Could you please assign me this issue?
Thank you

[2021-12-27 11:59] SauravMukherjee44 commented on #494
@Shofiya2003 Done.

[2021-12-28 04:53] Binita-tech commented on #454
Can I work on this, please assign to me

[2021-12-29 16:42] Sharayu1071 opened #495 "Feature: become a member and resources section UI"
### Feature description

On home page, become a member section and resources section UI needs to make more attractive.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_

[2021-12-29 16:43] Sharayu1071 commented on #495
I want to work on this issue

[2022-01-01 17:58] #264 closed

[2022-01-01 17:59] #116 closed

[2022-01-01 17:59] #72 closed

[2022-01-01 18:00] #131 closed

[2022-01-02 12:08] Shofiya2003 commented on #494
I have solved the issue. Will create a pull request today.

[2022-01-02 12:23] Shofiya2003 commented on #494
Please review the pull request.

[2022-01-02 12:25] Shofiya2003 commented on #204
Is this issue resolved?

[2022-01-02 12:26] Shofiya2003 commented on #289
Is this feature still left to add?

[2022-01-02 19:42] SauravMukherjee44 opened #498 "Add more resources/books to the library"
### Description

Add more books, videos, questions, and contents to the Resource Page!

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-01-02 19:42] SauravMukherjee44 commented on #289
Yes @Shofiya2003

[2022-01-02 19:43] SauravMukherjee44 commented on #204
No

[2022-01-03 05:27] rohit465 commented on #498
Hey Saurav,  I would like to work on this issue in resource page.
For ex : Machine learning tutorials, Complete full stack web dev, and android dev youtube tutorials.

[2022-01-04 12:04] 9Shalini commented on #283
@SauravMukherjee44 please add SWOC label
I would like to work on this issue

[2022-01-04 15:50] SauravMukherjee44 opened #500 "Improve the UI of the Blogs Section"
### Feature description

![Uploading image.png…]()

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-01-04 15:52] SauravMukherjee44 opened #501 "Add Blogs to the featured blogs section"
### Description

![image](https://user-images.githubusercontent.com/72380920/148086018-d8f75436-4ce5-4c91-b0fd-c97f66148b29.png)

Add link to that blog too!

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee

[2022-01-04 15:53] SauravMukherjee44 opened #502 "Add more questions to the FAQ section"
### Description

Add more questions to the FAQ section

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-01-04 15:55] SauravMukherjee44 opened #503 "Create a Newsletter service for the Website"
### Description

Create a Newsletter service for the Website

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-01-04 15:57] SauravMukherjee44 opened #504 "Improve the design of contact us page"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/148086756-7242dc41-0e14-4355-9175-7ed684c0af35.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-01-04 15:59] SauravMukherjee44 opened #505 "Create a Animated video for the Home Page"
### Description

Create an animated video about the website explaining its features and add it to the home page of the website.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/m

[2022-01-04 18:51] 9Shalini commented on #502
I would like to work on this issue, please assign it to me @SauravMukherjee44

[2022-01-04 18:53] #283 closed

[2022-01-04 19:38] Yash-RajSingh commented on #504
I would like to work on this issue under SWOC'21. Kindly please assign this to me

[2022-01-05 07:21] leesha19 opened #507 "Feature: scroll bar and some css styling"
### Feature description

hey the scroll bar is not working properly , and i would like to add some styling as the website looks completely mess nothing is structured properly

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.c

[2022-01-06 03:41] #507 closed

[2022-01-06 03:42] leesha19 commented on #500
hey i would like to work on the issue please assign ...

[2022-01-06 16:38] SauravMukherjee44 opened #510 "Add relevant courses in the resource page"
### Description

Add relevant courses to the resource page

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-01-06 19:37] CAPTAINCOBRA commented on #395
Is this issue still open?

[2022-01-06 19:39] CAPTAINCOBRA commented on #501
Hi, can I try this issue?

[2022-01-07 12:05] SauravMukherjee44 opened #511 "Change the UI of the FAQ section."
### Description

![image](https://user-images.githubusercontent.com/72380920/148541832-48ff456c-f5b7-42f7-a94f-9c1a26fe8b6d.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/

[2022-01-08 05:55] AmanRana10 commented on #511
I would like to work on this issue.

[2022-01-08 14:20] SauravMukherjee44 opened #512 "Create a Contributors page for the website"
### Description

Create a Contributors page for the website and add each contributor with their image and Github profile.
Link the page with the home page and add it to the navbar.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://gi

[2022-01-08 14:20] #317 closed

[2022-01-09 15:56] Abdullah-Irfan-web commented on #511
Hello @AmanRana10 ,are you working on this issue

[2022-01-09 15:58] Abdullah-Irfan-web commented on #512
Hello @SauravMukherjee44 can i make this page?

[2022-01-09 18:55] SauravMukherjee44 commented on #512
Sure!

[2022-01-09 19:29] AmanRana10 commented on #511
Yes I am working on this issue

[2022-01-10 18:43] SauravMukherjee44 commented on #510
Sure do it!

[2022-01-10 19:00] SauravMukherjee44 opened #513 "Design a New Logo for the Website"
### Description

Design a New Logo for the Website !

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-01-12 14:28] leesha19 commented on #510
please assign it

[2022-01-17 18:07] muktadeshpande2 commented on #513
I would like to work on this issue. @SauravMukherjee44 please assign it to me.

[2022-01-21 09:44] khushbooag4 commented on #503
I want to work on this ??

[2022-01-23 08:46] srini047 commented on #501
Hey, I would like to work on this issue!!!
My previous blogs for reference:

Also can you mention on what Tech Stack the blogs have to be written??

[2022-01-23 09:08] SauravMukherjee44 commented on #501
It can be on any Technology.

[2022-01-24 06:46] Aditidubey223 commented on #513
I would like to work on this issue under SWOC. Kindly please assign this to me @SauravMukherjee44

[2022-01-24 06:47] Aditidubey223 commented on #513
.

[2022-01-25 15:01] npkeerthi commented on #513
Is this issue solved or shall I work?
if so let me know with a clarity that all you needed is to update a new logo along with favicon or something else

[2022-01-31 12:48] SauravMukherjee44 commented on #510
Any updates ?

[2022-01-31 12:49] SauravMukherjee44 commented on #511
Any updates or i will unassign you?

[2022-01-31 12:50] SauravMukherjee44 commented on #513
Create a PR @npkeerthi

[2022-01-31 12:59] leesha19 commented on #510
I was busy with my exams surely i'll do it within this week

On Mon, Jan 31, 2022, 6:18 PM Saurav Mukherjee ***@***.***>
wrote:

[2022-01-31 16:07] #505 closed

[2022-01-31 16:08] SauravMukherjee44 opened #521 "Create a Animated video for the Home Page 💻"
### Feature description

Create an animated video about the website explaining its features and add it to the home page of the website.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websit

[2022-01-31 16:50] #495 closed

[2022-01-31 16:51] #494 closed

[2022-01-31 16:53] #245 closed

[2022-01-31 16:53] #221 closed

[2022-01-31 17:00] AmanRana10 commented on #511
Sorry was not able to finish it

[2022-01-31 17:18] #511 closed

[2022-01-31 17:19] SauravMukherjee44 opened #522 "Change the UI of the FAQ section."
### Description

![image](https://user-images.githubusercontent.com/72380920/151841584-8b97545b-28ab-4cb4-af0d-21b38d6f65cf.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/

[2022-01-31 17:25] #512 closed

[2022-01-31 17:28] SauravMukherjee44 opened #523 "Improve the UI of the Blogs Section"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151842931-e9c70ff9-fe25-4508-86d0-9cd5d28de08e.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-01-31 17:34] SauravMukherjee44 opened #524 "Add Videos to the Resource Page and Categories the Videos using different labels"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151843857-4f575246-cf99-42d6-ac43-24a56849c1b4.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-01-31 17:35] #503 closed

[2022-01-31 17:45] SauravMukherjee44 opened #525 "Create a Newsletter Service for the Website"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151844234-14d4591c-56e1-46cb-bd7c-2255a20bd925.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-01-31 17:46] #504 closed

[2022-01-31 17:49] SauravMukherjee44 opened #526 "Improve the Design of Contact Us Page 💻"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151846106-14049e70-ca25-4e30-9bec-80e068c55164.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-01-31 17:52] SauravMukherjee44 opened #527 "Make the UI more responsive and interactive for Mobile Phones 📱"
### Feature description

Make the UI more responsive and interactive for Mobile Phones 📱

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-01-31 17:55] SauravMukherjee44 opened #528 "Add more books to the Recommend Book section and create a button for the resource page."
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151847038-1ea5347a-c059-4221-9b59-0296b6a75c68.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-01-31 17:57] SauravMukherjee44 opened #529 "Improve the UI of the Resource Page 💻"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151847280-4e450229-e74c-496d-a65a-2f076d92df95.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-01-31 17:59] Yash-RajSingh commented on #526
Hey @SauravMukherjee44, I was previously assigned to work on this issue and i did some work but then my final exams started so i couldn't finish my work. Sorry that i couldn't update you on the status. If its okay could you assign this issue to me and would it be okay if I could submit my work on 4th Feb

[2022-01-31 17:59] #450 closed

[2022-01-31 18:00] SauravMukherjee44 commented on #526
@Yash-RajSingh you can directly create a PR.

[2022-01-31 18:02] SauravMukherjee44 opened #530 "Implement the Use of Search Book Button 🔎"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151848090-570d2c29-c675-41b4-a46d-212c853d1415.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-01-31 18:05] SauravMukherjee44 opened #531 "Improve the UI and reduce the Loading time of Contributors Page ✨"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151848405-9dd85324-ec8a-4513-a1d7-abe9193ca27c.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-01-31 18:07] SauravMukherjee44 opened #532 "Design Graphics and arts for the Library Website"
### Feature description

Share your art by creating a Pull request.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-01-31 18:09] SauravMukherjee44 opened #533 "Add filter Books by name feature in the home page and resource page.📙"
### Feature description

Add filter Books by name feature in the home page and resource page.📙

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-01-31 18:30] Tess-Vanta commented on #523
I want to work on this issue under JWOC

[2022-01-31 18:30] Jyoti6828 commented on #523
I want to work on this issue under JWOC. Kindly Assign it to me.

[2022-01-31 18:30] Daffodilgithub commented on #530
I want to work on this issue under JWOC

[2022-01-31 18:30] Jyoti6828 commented on #524
I want to work on this issue under JWOC. Kindly Assign it to me.

[2022-01-31 18:31] tanya-gupta25 commented on #523
I want to work on this issue under JWOC.

[2022-01-31 18:31] tanya-gupta25 commented on #523
I want to work on this issue under JWOC.

[2022-01-31 18:32] tanya-gupta25 commented on #528
I want to work on this issue under JWOC.

[2022-01-31 18:34] PranK14 commented on #502
i would like to work on this issue @jwoc

[2022-01-31 18:34] tanya-gupta25 commented on #522
I want to work on this issue under JWOC.

[2022-01-31 18:46] combatantash commented on #522
I want to work on this issue under JWOC

[2022-01-31 18:47] combatantash commented on #526
I want to work on this issue under JWOC

[2022-01-31 19:04] stubborn-1508 commented on #533
I would like to work under this issue.Please assign it to me.

[2022-01-31 19:08] navyagarwal commented on #525
I would like to work on this issue under JWOC.

[2022-01-31 19:14] navyagarwal commented on #529
I would like to work on this issue under JWOC.

[2022-01-31 19:46] SauravMukherjee44 commented on #525
@navyagarwal Go for it! You have 1 week of time for the Hard level issues.

[2022-01-31 19:47] SauravMukherjee44 commented on #522
@tanya-gupta25 Go for it! You have 2 days of time to complete easy level issue.

[2022-01-31 19:48] SauravMukherjee44 commented on #523
@Tess-Vanta Go for it! You have 4 days of time for Medium Level Issues.

[2022-01-31 19:50] SauravMukherjee44 opened #534 "Add content to the Home Page 💻"
### Feature description

You can use different elements, section, videos to highlight the home page

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-01-31 19:52] Ankit62042 commented on #526
I want to work on this issue

[2022-01-31 19:54] Ankit62042 commented on #527
Hii, I want to work on this issue

[2022-01-31 19:54] SauravMukherjee44 commented on #524
@Jyoti6828 Go for it! You have 2days of time for an Easy level Issues.

[2022-01-31 20:16] soujo commented on #534
Hi @SauravMukherjee44 , by the home page you meant the index.html page right?
But it has so much content already .
So is the issue for enhancement of the content or something other than that ?
Kindly elaborate.

[2022-01-31 20:20] mgjain9871 opened #535 "Feature: Adding more social icons in footer in contact us page"
### Feature description

Currently, only LinkedIn and GitHub social icons are present in the footer, I will add YouTube and Twitter social icons in the footer section of the Contact Us page.

![image](https://user-images.githubusercontent.com/71882225/151866660-da84fd6f-6799-4d81-976d-4eca03d88068.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked

[2022-01-31 20:21] mgjain9871 commented on #535
I want to work on this issue under JWOC.

[2022-01-31 20:25] ishitaac commented on #535
"I want to work on this issue under JWOC"

[2022-01-31 20:26] ishitaac commented on #526
"I want to work on this issue under JWOC"

[2022-01-31 20:32] SauravMukherjee44 commented on #535
The person who will create a issue, I will assign that to him/her.

[2022-01-31 20:33] SauravMukherjee44 commented on #535
@mgjain9871 Go for it! You have 2 days to complete a easy level issue.

[2022-01-31 20:35] SauravMukherjee44 commented on #534
You can add more features to the home page means index.html page. Like puzzle section or quiz section to make it more interactive.

[2022-01-31 20:45] raxvab commented on #534
I want to work on this issue under JWOC

[2022-01-31 20:46] raxvab commented on #531
I want to work on this issue under JWOC

[2022-01-31 20:52] soujo commented on #534
Okay, @SauravMukherjee44
I would like to implement a quiz section.
Could I work on the issue under JWOC

[2022-02-01 02:12] Tess-Vanta commented on #523
Thanks!!

[2022-02-01 03:16] manya0210 commented on #532
Hey!! I want to work on this issue under JWOC

[2022-02-01 05:19] codervivek5 commented on #535
I want to work on this issue under JWOC

[2022-02-01 05:19] codervivek5 commented on #534
I want to work on this issue under JWOC

[2022-02-01 05:19] codervivek5 commented on #532
I want to work on this issue under JWOC

[2022-02-01 05:19] codervivek5 commented on #531
I want to work on this issue under JWOC

[2022-02-01 05:20] codervivek5 commented on #530
I want to work on this issue under JWOC

[2022-02-01 05:20] codervivek5 commented on #527
I want to work on this issue under JWOC

[2022-02-01 05:20] codervivek5 commented on #525
I want to work on this issue under JWOC

[2022-02-01 05:21] codervivek5 commented on #523
I want to work on this issue under JWOC

[2022-02-01 05:21] codervivek5 commented on #522
I want to work on this issue under JWOC

[2022-02-01 05:21] codervivek5 commented on #513
I want to work on this issue under JWOC

[2022-02-01 05:22] codervivek5 commented on #502
I want to work on this issue under JWOC

[2022-02-01 05:22] codervivek5 commented on #498
I want to work on this issue under JWOC

[2022-02-01 05:22] codervivek5 commented on #437
I want to work on this issue under JWOC

[2022-02-01 05:23] codervivek5 commented on #395
I want to work on this issue under JWOC

[2022-02-01 05:56] AtriSukul1508 commented on #526
I would like to work on this issue

[2022-02-01 05:59] SauravMukherjee44 commented on #526
@ishitaac Go for it!

[2022-02-01 06:01] SauravMukherjee44 commented on #534
@soujo Go for this!

[2022-02-01 06:05] AtriSukul1508 commented on #529
I want to contribute on this issue under JWOC

[2022-02-01 06:09] SauravMukherjee44 commented on #529
Go for it!

[2022-02-01 06:35] Debdeep1 commented on #251
I want to work on this issue under JWOC.

[2022-02-01 07:00] Nidhi1k commented on #524
I want to contribute to it

[2022-02-01 07:02] MadamChetnaSingh commented on #532
I want to work in this issues, pls tell me little bit more details.

[2022-02-01 07:33] whiteHatpro commented on #498
I want to work on this issue under JWOC

[2022-02-01 07:41] Daffodilgithub commented on #530
What language do you recommend for solving this issue?

[2022-02-01 07:53] SauravMukherjee44 commented on #531
@raxvab Go for it!

[2022-02-01 07:54] SauravMukherjee44 commented on #531
You have one day to complete it, after that you will be unassigned!

[2022-02-01 07:55] SauravMukherjee44 commented on #530
Javascript

[2022-02-01 07:55] SauravMukherjee44 commented on #530
You can take another issue if you unable to complete this

[2022-02-01 08:06] SauravMukherjee44 commented on #532
@codervivek5 Go for it!

[2022-02-01 08:06] SauravMukherjee44 commented on #532
You have one day to complete a easy level issue.

[2022-02-01 08:08] SauravMukherjee44 commented on #498
@whiteHatpro Go for it!

[2022-02-01 08:49] SauravMukherjee44 opened #536 "Add more Questions and Answers in a detail to the FAQ Section."
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151938193-2fa1c4b0-9595-44ef-a2b5-b398654ab320.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-02-01 08:53] SauravMukherjee44 opened #537 "Improve the Navbar of About Page"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151938595-7f166fa1-1be5-4117-a9ed-3f9223ba1729.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-02-01 08:54] SauravMukherjee44 opened #538 "Improve the Footer of the About Page"
### Feature description

Improve the Footer of the About Page

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-01 08:55] mdsimar1901 commented on #538
hey can I do that!

[2022-02-01 08:55] SauravMukherjee44 opened #539 "Create a Backend service for Donate Book page and store the data entered by the user."
### Feature description

Data Should be sent to this email: mesouravofficial@gmail.com

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-01 09:00] SauravMukherjee44 opened #541 "Improve the UI of Donate Book Page 💻"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/151939469-b4ae3771-4e97-473c-9c97-424f587f5ee6.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-02-01 09:07] #535 closed

[2022-02-01 09:16] unnikrishnan2002 commented on #537
Can I work on that under JWOC ?

[2022-02-01 09:39] SauravMukherjee44 commented on #541
@Nidhi1k go for it!

[2022-02-01 09:39] aditi-gosain commented on #536
I would like to work on this issue under JWOC.

[2022-02-01 10:54] SauravMukherjee44 commented on #538
Under JWOC ?

[2022-02-01 11:13] SauravMukherjee44 commented on #536
@aditi-gosain Go for it! you have 1 day to complete it.

[2022-02-01 12:11] Mohammed-Farhan commented on #528
Hi, can I work on this issue under JWOC?

[2022-02-01 14:21] whiteHatpro commented on #498
@SauravMukherjee44 done all the necessary changes
should i push the code?

[2022-02-01 14:31] #536 closed

[2022-02-01 14:49] #498 closed

[2022-02-01 15:00] SauravMukherjee44 opened #545 "Add Technical Courses in the Resource Page of the Library"
### Feature description

It can redirect users to another platform.
![image](https://user-images.githubusercontent.com/72380920/151992800-2bdfa71a-1d10-483b-9e8a-2c9dd17471c4.png)

Remove these and add courses in the course section.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

[2022-02-01 15:47] SauravMukherjee44 commented on #538
@PrajwalDhule Go for it!

[2022-02-01 17:05] #524 closed

[2022-02-01 17:05] lishakothari commented on #537
I want to work on this issue under JWOC

[2022-02-01 17:58] Srijita-Mandal commented on #545
Hii, I want to work on this issue under JWoC

[2022-02-01 18:57] SauravMukherjee44 commented on #545
@Srijita-Mandal Go for it! Remove these videos from the course section and add courses with proper thumbnail and description. Your course thumbnail can redirect users to other platforms to complete the course.

[2022-02-02 05:38] Nidhi1k commented on #541
Thanks

On Tue, 1 Feb, 2022, 3:09 pm Saurav Mukherjee, ***@***.***>
wrote:

[2022-02-02 06:55] dilroseR commented on #539
Can I use flask-python for this? @SauravMukherjee44

[2022-02-02 07:08] #523 closed

[2022-02-02 07:12] SauravMukherjee44 commented on #539
You can use either PHP or Node.

[2022-02-02 07:41] SSaurabhsahuu opened #551 "Bug Report: About Us page and Donate Books Page have Search field which is unnecessary ."
### Reproduction steps

Click About in Home navbar
click Donate Books in Home Navbar

### Expected behavior

Search Field should not be displayed in Navbar

### Actual Behavior

Search Field is displayed in Navbar

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read

[2022-02-02 07:42] SSaurabhsahuu commented on #551
Please assign this issue to me

[2022-02-02 07:50] SauravMukherjee44 commented on #551
@SSaurabhsahuu Go for it!

[2022-02-02 08:08] dilroseR commented on #539
So is a database created already for storing?

[2022-02-02 08:14] #551 closed

[2022-02-02 12:27] kiran11621 commented on #251
sure you can takeover

On Tue, Feb 1, 2022 at 12:05 PM Debdeep Banerjee ***@***.***>
wrote:

[2022-02-02 13:47] Daffodilgithub commented on #530
As I am a beginner I am facing problems to solve it .Will you please  provide me some resources ?

[2022-02-02 14:21] Daffodilgithub commented on #530
I prefer to work on html issues.

[2022-02-02 14:37] SauravMukherjee44 commented on #539
No, It is not created yet.

[2022-02-02 14:39] SauravMukherjee44 commented on #530
Okay, I Unassigned this issue. Work on Issue #538

[2022-02-02 14:44] Daffodilgithub commented on #530
Ok thank you!

[2022-02-02 15:14] Daffodilgithub commented on #538
I want to work on this issue under JWOC.

[2022-02-02 16:56] tanya-gupta25 commented on #530
I want to work on this issue under JWOC

[2022-02-02 17:13] SauravMukherjee44 commented on #530
@tanya-gupta25 Go for it!

[2022-02-02 19:54] #529 closed

[2022-02-02 20:25] #526 closed

[2022-02-03 03:31] Shruti025 commented on #527
Hey I would love to work on this issue under JWOC

[2022-02-03 03:55] SaarthakMaini commented on #521
@SauravMukherjee44 I would like to take up this issue. Please assign it to me. Thank you!!

[2022-02-03 05:47] maneet057 commented on #537
I would like to work on it under jwoc

[2022-02-03 06:15] SauravMukherjee44 commented on #537
@maneet057 Go for it!

[2022-02-03 07:28] aditi-gosain commented on #528
I want to work on this issue under JWOC.

[2022-02-03 07:49] tusharjain365 commented on #531
I want to work on this under JWOC

[2022-02-03 08:10] SauravMukherjee44 commented on #528
@aditi-gosain Go for it!

[2022-02-03 08:11] SauravMukherjee44 commented on #531
@tusharjain365 Go for it!

[2022-02-03 08:17] #545 closed

[2022-02-03 08:28] ishitaac commented on #537
I would like to work on this issue under JWOC

[2022-02-03 08:42] #537 closed

[2022-02-03 09:14] SauravMukherjee44 opened #559 "Create a section for Audio Books in the Home page below the recommended book section"
### Feature description

Create a section for Audio Books on the Home page below the recommended book section and add audio Books.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blo

[2022-02-03 09:15] SauravMukherjee44 opened #560 "Create audio book section the resource page and add audio books 🔉"
### Feature description

Create audio book section the resource page and add audio books 🔉

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-03 09:18] SauravMukherjee44 opened #561 "Add Title and description about each image in the latest Blogs section."
### Feature description

![image](https://user-images.githubusercontent.com/72380920/152314249-6dcb7911-cd19-4fd1-824f-38d729a3aed0.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-02-03 09:20] SauravMukherjee44 opened #562 "Add new features to the Library According your Ideas."
### Feature description

Add new features to the Library According to your Ideas. 🔔

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-03 09:25] SauravMukherjee44 opened #563 "Create a Blogs page and Link it to the Home Page 🧑‍💻"
### Feature description

You need to create the blogs page from scratch and add some blogs in it.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-03 09:28] JaynouOliver commented on #561
I can do this easily, please assign this work to me!

[2022-02-03 09:29] ishitaac commented on #563
I want to work on this issue under JWOC.

[2022-02-03 09:29] Jyoti6828 commented on #563
I want to work on this issue under JWOC. Please assign it to me.

[2022-02-03 09:32] VaishnaviNigam25 commented on #561
I want to work on this under JWOC @SauravMukherjee44  please assign to me

[2022-02-03 09:39] JaynouOliver commented on #559
I can do this, please assign this work to me. (Question: what audiobooks should I add ?)

[2022-02-03 09:40] SauravMukherjee44 commented on #563
@ishitaac Go for it! Quite tough competition 🥲

[2022-02-03 09:44] ishitaac commented on #563
thank you!

[2022-02-03 09:48] SauravMukherjee44 commented on #527
@Shruti025 Go for it!

[2022-02-03 09:49] SauravMukherjee44 commented on #521
@SaarthakMaini Go for it!

[2022-02-03 09:52] SauravMukherjee44 commented on #561
@VaishnaviNigam25 Go for it!

[2022-02-03 10:04] AtriSukul1508 commented on #560
I want to contribute to this issue under JWOC

[2022-02-03 10:12] Jyoti6828 commented on #562
Can I try to add a slider for this section?
Like we can add some more tutorials and add a horizontal slider.

![image](https://user-images.githubusercontent.com/78480983/152322039-e5217294-201f-490c-b64f-cac2b9d0e781.png)

[2022-02-03 12:34] tanya-gupta25 opened #564 "Improve the UI of FAQ"

[2022-02-03 12:35] tanya-gupta25 commented on #564
I want to work on this issue under JWOC.

[2022-02-03 14:20] SaarthakMaini commented on #521
@SauravMukherjee44 I am using a software which is paid so the watermark of the same is appearing in it. What should I do?

[2022-02-03 18:16] #564 closed

[2022-02-03 18:50] SauravMukherjee44 commented on #521
@SaarthakMaini Its okay

[2022-02-03 18:53] soujo opened #569 "Improvement : Improve UI of Sign-up Page"
The UI of the Sign-Up page is not that good.

Current UI -

![Screenshot (198)](https://user-images.githubusercontent.com/78646418/152409429-c457b734-ab5b-4e5d-a375-876c14590394.png)

I would like to improve the UI. If that's okay then kindly assign me.

[2022-02-03 21:23] #561 closed

[2022-02-04 04:08] SaarthakMaini commented on #521
Okay. On it!

[2022-02-04 08:35] #531 closed

[2022-02-04 12:20] #538 closed

[2022-02-04 13:45] SaarthakMaini commented on #521
@SauravMukherjee44 I have made the video! Do I have to download as video or as GIF? Also in what resolution should I download it?

[2022-02-04 13:50] SaarthakMaini commented on #521
@SauravMukherjee44 The following is the link to the video I created, how do I put it on the website homepage?

[2022-02-04 13:53] SaarthakMaini commented on #521
https://app.animaker.com/video/Q9Q1J4ZE6CR2C2UX

[2022-02-04 17:51] #569 closed

[2022-02-04 19:31] #560 closed

[2022-02-06 09:40] ronitblenz commented on #532
Hi, I want to take this issue

Thanks

[2022-02-06 16:52] soujo opened #579 "Make quiz page responsive"
The quiz page is not responsive on all devices.
I would like to take this issue under JWOC.

[2022-02-06 17:06] SauravMukherjee44 commented on #539
Updates?

[2022-02-06 17:07] #562 closed

[2022-02-06 17:07] #559 closed

[2022-02-06 17:11] SauravMukherjee44 opened #580 "Redesign Feedback section"
### Feature description

![image](https://user-images.githubusercontent.com/72380920/152692361-254d13ee-cd0c-4c44-91d4-7bf56835a63b.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Websi

[2022-02-06 17:13] SauravMukherjee44 opened #581 "Reduce the loading time of resource page!"
### Feature description

Reduce the loading time of resource page!

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-06 17:15] SauravMukherjee44 opened #582 "Redesign Book Issue Section"
### Feature description

![Uploading image.png…]()

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-06 17:26] SauravMukherjee44 commented on #532
You can design arts related to our Library

[2022-02-06 17:29] tanya-gupta25 commented on #541
I want to work on this issue under JWOC.

[2022-02-06 17:29] maneet057 commented on #541
I would like to work on it under jwoc

[2022-02-06 17:31] Priiyaa commented on #580
I would like to work on this under JWOC

[2022-02-06 17:34] riiyaaa commented on #582
I would like to work on this issue under JWOC

[2022-02-06 17:42] Shruti025 commented on #527
hey @SauravMukherjee44 really sorry for going over the alloted time limit. I am almost done with the changes. Is it possible to reassign the issue?

[2022-02-06 17:44] Shruti025 commented on #527
I will definitely make a PR by tomorrow. I hope you understand

[2022-02-06 17:54] Shruti025 commented on #527
I will surely make a PR by tomorrow morning. Hope you understand @SauravMukherjee44

[2022-02-06 18:03] ronitblenz commented on #532
Sure, am willing to do so

[2022-02-06 18:11] SauravMukherjee44 commented on #582
Go for it!

[2022-02-06 18:12] SauravMukherjee44 commented on #580
Go for it!

[2022-02-06 18:13] SauravMukherjee44 commented on #541
@maneet057 Go for it!

[2022-02-06 18:13] SauravMukherjee44 commented on #527
Go ahead!

[2022-02-06 18:15] Shruti025 commented on #527
Thank you so much :)

[2022-02-07 10:01] Bijit-Mondal opened #584 "Feature: Add feature to sign in to actually work"
### Feature description

I would like to work on that in firebase

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-07 15:36] #532 closed

[2022-02-07 18:14] soujo opened #587 "Feature: Build a high score storing system in the quiz section"
### Feature description

Hi @SauravMukherjee44, I would like to implement a high score storing system using local storage in the quiz section.
If you like the idea then kindly assign the issue to me.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of

[2022-02-07 18:56] Devmindtk commented on #533
I would like to work on this issue.Please assign it to me.

[2022-02-07 18:58] Devmindtk commented on #530
I would like to work on this issue.Please assign it to me.

[2022-02-07 18:59] SauravMukherjee44 commented on #533
Go for it!

[2022-02-07 19:01] SauravMukherjee44 commented on #584
@Bijit-Mondal Go for it!

[2022-02-07 19:02] SauravMukherjee44 commented on #587
@soujo Go for it!

[2022-02-07 20:08] Devmindtk commented on #530
We have to search books from your books table?

[2022-02-08 05:51] SauravMukherjee44 commented on #530
Yes

[2022-02-08 10:53] Priiyaa commented on #580
Hi!
Can you please elaborate what kind of UI you want for the feedback section?

[2022-02-08 11:34] SauravMukherjee44 commented on #580
It's totally upon your creativity, Just match the theme of the home page!

[2022-02-08 11:36] riiyaaa commented on #582
I will submit a pr request by tonight.

[2022-02-08 18:13] Devmindtk commented on #530
@SauravMukherjee44
Actually i have a doubt after searching book and get find from table then what to do next?

[2022-02-08 18:49] Devmindtk commented on #530
https://user-images.githubusercontent.com/91221069/153055292-c8ae3ed1-398a-46d5-ab62-b898873ce93d.mp4

check this final one @SauravMukherjee44

[2022-02-08 19:18] #587 closed

[2022-02-08 19:21] #541 closed

[2022-02-09 13:15] AtriSukul1508 opened #591 "Feature: Volume controller in the audio book section"
### Feature description

There is no volume controller in the audio book section of the resource webpage

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-09 15:02] SauravMukherjee44 commented on #530
Great, Create a PR!

[2022-02-09 15:07] #591 closed

[2022-02-10 06:10] Devmindtk commented on #530
okay

[2022-02-10 08:59] #582 closed

[2022-02-10 09:27] dilroseR commented on #539
Kindly assign the issue to someone else. Got stuck with some other problem.

[2022-02-10 13:00] #530 closed

[2022-02-10 13:04] #527 closed

[2022-02-10 13:05] SauravMukherjee44 commented on #584
Yes, main branch only

[2022-02-10 14:20] AtriSukul1508 commented on #525
I would like to contribute to this issue under JWOC

[2022-02-11 09:05] Aniket-508 opened #595 "Bug Report:"
### Reproduction steps
Check the website while scrolling down in mobile or desktop view giving bad UI/UX.

### Expected behavior

The speech to text icon and scroll to top should not overlap.

### Actual Behavior
![aec-library-wbsite netlify app_(Moto G4)](https://user-images.githubusercontent.com/71957423/153564030-46db098f-1a84-41ca-97ff-37629bbebfb2.png)

### 👀 Have you spent some time to check

[2022-02-11 09:06] Aniket-508 commented on #595
@SauravMukherjee44 I want to work on this under JWoC.

[2022-02-11 11:06] tusharjain365 commented on #580
Hi, I want to work on this issue if no one is working.

[2022-02-11 13:24] ronitblenz commented on #581
I want to work on this issue

[2022-02-11 16:38] Bijit-Mondal commented on #584
I have create a PR

[2022-02-11 19:10] #580 closed

[2022-02-12 03:42] Bijit-Mondal opened #598 "Feature: Adding Forget Password Reset Option"
### Feature description

I Would Implement A Forget Password Email Verfication...

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-12 08:02] SauravMukherjee44 commented on #581
The loading time of the resource page is too high! Reduce it.

[2022-02-12 08:03] SauravMukherjee44 commented on #595
Go for it!

[2022-02-12 09:28] #595 closed

[2022-02-12 09:39] #584 closed

[2022-02-12 19:25] Bijit-Mondal commented on #539
Can I get the issue to work with

[2022-02-13 05:07] Jyoti6828 commented on #525
I want to work on this issue under JWOC.

[2022-02-13 15:27] Devmindtk commented on #533
@SauravMukherjee44  could you please let me know in home page and resource page the location where you do you want to add filter option

[2022-02-13 15:55] Bijit-Mondal opened #602 "Feature: Secure the website for authenticated user can only use the majority part"
### Feature description

I Should make the website more secured

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-13 17:45] #602 closed

[2022-02-13 19:22] Bijit-Mondal opened #603 "Feature: Updating UI of home page for more visibility of quiz section"
### Feature description

Make a modal with quiz section open on page initial loading for better visibility

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.m

[2022-02-14 12:37] Bijit-Mondal opened #606 "Feature: Adding the backend for issuing book"
### Feature description

I would permit only logged in user to issue a book and store them in database

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-02-14 19:37] SauravMukherjee44 commented on #533
It's totally upon your choice.

[2022-02-14 19:58] ronitblenz commented on #581
Plz make it a medium issue, coz It is taking time to replace each and every embeds with the thumbnail links

[2022-02-15 08:40] AtriSukul1508 opened #607 "Feature: Integrate GithubAPI in the contributors webpage"
### Feature description

Integrate GithubAPI in the contributors page To see the number of contributions made by someone

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/COD

[2022-02-15 08:40] AtriSukul1508 commented on #607
I would like to work on this issue under JWOC

[2022-02-15 14:14] codervivek5 commented on #525
I want to work on this issue under JWOC.
i also want to work in this issue.

[2022-02-15 18:26] Bijit-Mondal commented on #606
Assigned this to me

[2022-02-16 17:36] #607 closed

[2022-02-16 17:58] riiyaaa commented on #603
i would like to work on it under jwoc

[2022-02-17 11:45] #539 closed

[2022-02-17 11:48] SauravMukherjee44 commented on #603
@Bijit-Mondal You have 2 issues opened right now! Go for them first.

[2022-02-17 11:48] SauravMukherjee44 commented on #603
@riiyaaa Go for it!

[2022-02-17 11:48] SauravMukherjee44 commented on #581
Any update??

[2022-02-17 13:29] ronitblenz commented on #581
I am sorry @SauravMukherjee44 My Exams are nearing.
I had to focus on that
I was on #2 in leaderboards..Still I had to quit
Its been 3 days I am not contributing
You can assign this issue to someone else. Thanks for investing time in me😇

[2022-02-17 16:50] AtriSukul1508 opened #609 "Feature: Improve the UI of the footer section of the contributors page and add remaining contributors"
### Feature description

Improve the UI of the footer section of the contributors webpage and add remaining contributors to the page

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/b

[2022-02-17 16:50] AtriSukul1508 commented on #609
I would like to work on this issue under JWOC

[2022-02-18 10:10] SauravMukherjee44 commented on #581
No worries!

[2022-02-18 12:56] sayan404 opened #610 "Feature: The courses and books links should open in the next window"
### Feature description

The courses and books links are opening within the window the user is in ... It is very disturbing to the user to browse the page at the very same time .

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://gith

[2022-02-18 12:56] sayan404 commented on #610
I want to work in this issue under JWOC .

[2022-02-18 13:19] riiyaaa commented on #610
I would love to work on this issue under JWOC.

[2022-02-18 17:55] soujo opened #613 "Feature: Add a pop-up msg in feedback form"
### Feature description

Currently, the feedback form in the `index.html` is static. How about we show a pop-msg saying `Thank you for your feedback` when a user submits feedback. If the idea is fine, kindly assign me this issue under JWOC

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of C

[2022-02-18 18:27] Bijit-Mondal commented on #603
If this is the solution(https://github.com/SauravMukherjee44/Aec-Library-Website/pull/611) of my friend have for this issue... Then I want to say I have open the issue  with another mindset .... Should I PR That?

[2022-02-18 18:28] Bijit-Mondal commented on #603
I have complete my

I have made a pr of one of the 2 issue

[2022-02-18 18:29] Bijit-Mondal commented on #581
I wanna have this

[2022-02-18 20:58] #525 closed

[2022-02-19 04:57] Jyoti6828 opened #614 "Feature: Add a alert message in newsletter"
### Feature description

- When the user clicks on the submit button for a newsletter it should show the submitted message!
- Make both fields are required.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee

[2022-02-19 16:50] 03amir commented on #533
I would like to work on this issue.Please assign it to me.

[2022-02-20 06:10] #614 closed

[2022-02-20 07:53] #609 closed

[2022-02-20 08:09] #610 closed

[2022-02-20 19:00] #613 closed

[2022-02-21 06:52] Devmindtk commented on #533
okay will done by today

[2022-02-22 16:07] YashAryanTheCoder commented on #513
<h2>I want to work on this issue under GSSOC</h2>

[2022-02-22 19:28] Srijita-Mandal commented on #581
Can I work on this issue under JWOC?

[2022-02-23 08:10] sayan404 commented on #581
I would love to work in this issue under JWOC.

[2022-02-23 14:13] Bijit-Mondal commented on #606
The Frontend for this is messed up... I have no clue

[2022-02-23 18:27] SauravMukherjee44 commented on #581
@Srijita-Mandal Go for it!

[2022-02-24 03:02] AnweshaRoses commented on #204
Hello, If the issue is still not resolved I would love to work on it.

[2022-02-24 16:52] Jyoti6828 commented on #563
I want to work on this issue under JWOC.

[2022-02-25 11:50] SauravMukherjee44 commented on #563
@Jyoti6828 Go for it!

[2022-02-26 02:51] HarshKumarChoudary commented on #563
I would like to work on it for GSSOC 22. If its available then please assign it to me.

[2022-02-26 04:46] Virus35 commented on #251
I would like to work on this issue under GSSOC'22. Can I work on this issue, please?

[2022-02-26 09:29] kiran11621 commented on #251
Sure!

On Sat, Feb 26, 2022 at 10:16 AM Vishal Rikhi ***@***.***>
wrote:

[2022-02-26 15:00] harshitab07 commented on #493
Hello, I checked the Donate books page and I would like to make improvements in it. I can do it with the minimum use of Bootstrap. If it is available kindly assign this to me.

[2022-02-27 08:52] Srishti2128 opened #622 "The Issue Book Section looks irregular with unequal margins and width of text field and heading and has "Category" placeholder missing."
As can be seen from the below image these errors need to be resolved to improve the look and feel of the website.
<img width="433" alt="Screenshot 2022-02-27 134534" src="https://user-images.githubusercontent.com/90510806/155875430-6cea97f9-3589-4707-a307-4832d5bbd5c0.png">

[2022-02-27 09:00] Srishti2128 commented on #622
**I would like to take up this issue for GSSOC'22.**
I have tried to correct these issues in my local machine using the development console as can be seen in below image

<img width="430" alt="Screenshot 2022-02-27 142548" src="https://user-images.githubusercontent.com/90510806/155875590-8d9ab43b-397c-439f-8513-2d2312dcdc7e.png">

In addition, I have also made sure that the border radius of all in

[2022-02-27 15:56] #581 closed

[2022-02-27 16:00] SauravMukherjee44 commented on #622
Go for it!

[2022-02-27 16:22] 1ananya3 commented on #513
I want to make a new logo for this website.Can you please assign me ? I am particiapnt of GSSOC'22.

[2022-02-27 16:24] 1ananya3 commented on #502
I want to add some questions.Can you assign it to me?

[2022-02-27 17:17] SauravMukherjee44 commented on #513
@1ananya3 Assigned! you can start from 1st March!

[2022-02-27 18:57] Virus35 commented on #251
Thanks!

[2022-02-27 19:06] #563 closed

[2022-02-27 20:59] 1ananya3 commented on #513
Thank you @SauravMukherjee44 . Can you please tell how can I run the code in localhost .So it will be easy for me to work.

[2022-02-28 01:13] 1ananya3 commented on #513
Thank you @SauravMukherjee44 .

[2022-02-28 09:01] Srishti2128 commented on #622
I have done the required changes and it is ready for the PR. But GSSOC'22 contribution period begins from March 1 so I will be sending a PR the first thing tomorrow morning.

[2022-02-28 10:16] AmolShelke2 opened #625 "Bug Report: at the footer the the subscribe to our news letter form don't have any padding margin around it: GSSOC Participant"
### Feature description

Hey, Saurav I've found that at the AEC library website there is no padding and margin around the Subscribe to our newsletter form
so I would like to make it look even nicer.
![aec-library-wbsite netlify app_index html](https://user-images.githubusercontent.com/95171638/155965420-131db241-2974-4feb-855e-ed238f968b23.png)

### 👀 Have you spent some time to check if this issu

[2022-02-28 13:52] SauravMukherjee44 commented on #622
Okay Cool!

[2022-02-28 14:54] AbhinavBattu opened #626 "Bug Report: User can add a book in issue section without specifying the author."
### Reproduction steps

Make select author field as mandatory in issue section and making "select author" option in dropdown unclickable

### Expected behavior

Select author should be mandatory field and if author is not in list then user should select "Others" option

### Actual Behavior

![Screenshot (2)_LI](https://user-images.githubusercontent.com/92840673/156003992-b28ecc5f-47cf-4491-afc5-18

[2022-02-28 14:55] AbhinavBattu commented on #626
Please assign me this issue. I would like to work on it.

[2022-02-28 14:59] AbhinavBattu commented on #501
Please assign me this issue. I would like to work on it.

[2022-02-28 15:11] AbhinavBattu opened #627 "Bug Report: CSS not linked in Sign Up page"
### Reproduction steps

By clicking Sign Up button on home page.

### Expected behavior

Clicking Sign Up button should show page with correct HTML and CSS

### Actual Behavior

![Screenshot (4)](https://user-images.githubusercontent.com/92840673/156007114-6267bc2f-7c0f-46f9-8cf9-0541b1ef87cb.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and d

[2022-02-28 15:12] AbhinavBattu commented on #627
Please assign me this issue. I would like to work on it.

[2022-02-28 15:14] tanya-gupta25 commented on #627
I want to work on this issue under GSSOC

[2022-02-28 15:37] ABHID10 opened #628 "Bug Report: Image not displayed in About!"
### Reproduction steps

Step 1 - Will first find the img.src link in about.html page .
Step 2 - Changing the <img src="./UI Design/Library poster.png" width="30%" height="30%"> to the appropriate path and adding alt attribute so if the image is not displayed the viewer could read and find out about the image.

### Expected behavior

Image should be displayed .

### Actual Behavior

![image](https:

[2022-02-28 15:38] ABHID10 commented on #628
Can you assign me to solve this issue??  (GSSOC-2022)

[2022-02-28 17:18] ringo476 commented on #204
Hi,I am a GSSOC '22 participant and I would like to work on this issue..
Please assign this to me

[2022-02-28 18:27] Anish1411 commented on #533
hii.. I would like to work on this issue. Please assign it to me .

[2022-02-28 18:28] Anish1411 commented on #510
hey , i want to work on this issue , assign it to me

[2022-02-28 18:30] Anish1411 commented on #501
hey , i would like to work on this issue , assign it to me

[2022-03-01 02:50] Khushi-Mattu commented on #502
I would like to work on this issue under GSSOC'22

[2022-03-01 02:51] Khushi-Mattu commented on #625
Can you assign this to me under GSSOC'22?

[2022-03-01 02:55] Khushi-Mattu commented on #203
Can you assign this issue to me under gssoc'22

[2022-03-01 03:33] tanya-gupta25 commented on #510
I want to work on this issue under GSSOC'22.

[2022-03-01 04:00] AmolShelke2 commented on #625
If the issues are assigned to an person they only one who can work on that
you have to creat another issue.

On Tue, Mar 1, 2022, 8:21 AM Khushi Mattu ***@***.***> wrote:

[2022-03-01 05:02] Khushi-Mattu opened #629 "Feature: Image in the login page"
### Feature description

![image](https://user-images.githubusercontent.com/82451914/156107968-3a74fd69-5961-4fc2-b3e8-7cea1dd8bdec.png)

The UEFA champions league image doesnt really go with the website theme. I will change the image to something more relevant

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have

[2022-03-01 05:03] Khushi-Mattu commented on #629
Can you assign this issue to me?

[2022-03-01 05:05] Khushi-Mattu opened #630 "Feature: Signup Page UI"
### Feature description

![image](https://user-images.githubusercontent.com/82451914/156108310-5da200e0-f453-46e1-98bc-3e42bac205db.png)
The signup page is too bland. I can add UI to it and make it pleasing.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [

[2022-03-01 05:05] Khushi-Mattu commented on #630
Please assign this issue to me

[2022-03-01 05:09] #630 closed

[2022-03-01 05:10] Khushi-Mattu opened #631 "Bug Report: No scrolling down option in homepage"
### Reproduction steps

There is no scrollbar on the right side of the page.

### Expected behavior

There should be a scrollbar on the right with the help of which I can scroll up and down.

### Actual Behavior

There is no such scrollbar.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of

[2022-03-01 05:10] Khushi-Mattu commented on #631
Please assign this issue to me

[2022-03-01 05:29] Abh1shekSingh commented on #625
Hello Sir @SauravMukherjee44  I can do this fix, Please assign this issue to me

[2022-03-01 05:30] Abh1shekSingh commented on #533
Hi @SauravMukherjee44  Please assign this issue to me. I would love fixing it,

[2022-03-01 05:33] AmolShelke2 commented on #625
Hey Abhishek this issue is assigned to me try to find another issues to
work with...
On Tue, Mar 1, 2022, 10:59 AM Abhishek SIngh ***@***.***>
wrote:

[2022-03-01 05:33] Abh1shekSingh commented on #493
Hi @SauravMukherjee44  I can handle this issue, I will make beautiful UI for this web page please assign this to me

[2022-03-01 05:39] Abh1shekSingh commented on #625
So keep working on it, i have right to ask the maintainer @AmolShelke2  .

[2022-03-01 05:54] AmolShelke2 commented on #625
yes, you have the right but you should have to find some issues on your own..

[2022-03-01 05:56] Susmita-Dey opened #632 "Bug Report: Web Developement Read More Button"
### Reproduction steps

When I clicked on the Read More button below the Web Development Section, it took me to a 404 error page.
![image](https://user-images.githubusercontent.com/79099734/156113030-8e141604-9a1c-4371-b38d-d6147d2a2aa8.png)

### Expected behavior

It should have taken me to the proper page without any error.

### Actual Behavior

**It actually showed me the following error page.*

[2022-03-01 05:56] Susmita-Dey commented on #632
I want this issue to be assigned to me. I'm a GSSOC'22 participant. I can work on this issue.

[2022-03-01 06:10] Susmita-Dey opened #633 "Bug Report: Book Donation Form Options"
### Reproduction steps

When I went to fill the **Book Donation Form**, there I found two mistakes in the dropdown menu.

### Expected behavior

It should be changed to State instead of Country and the last one from State to City.

### Actual Behavior

![image](https://user-images.githubusercontent.com/79099734/156114672-c042e7ea-69aa-48cd-b34d-775eefe8dc67.png)

### 👀 Have you spent some time to

[2022-03-01 06:11] Susmita-Dey commented on #633
I want this issue to be assigned to me. I'm a GSSOC'22 participant. I can work on this issue.

[2022-03-01 07:29] praveen-221 opened #634 "Enhancing the UI of Contact Form and improving input fields"
### Enhancing the UI of Contact Form and improving input fields

When I saw the contact form the fonts in the input field and textarea looks and contrasting. The textarea has no limit in minimizing and it hides the label.

The CSS also can be improved to look all the fields alike with using enough padding for labels and to make the form position appropriate.

![Screenshot (47)](https://user-images

[2022-03-01 07:30] praveen-221 commented on #634
I would like to work on this issue under GSSOC'22. Could you please assign me to this issue?

[2022-03-01 08:49] AshutoshDash1999 opened #636 "Bug Report: The website is quiet slow and need performance improvement."
### Reproduction steps

1. Go to Lighthouse in Google Dev Tools
2. Click on Generate Report

### Expected behavior

The website should be fast and load quickly.

### Actual Behavior

![image](https://user-images.githubusercontent.com/46455250/156136041-1f748b4a-5f65-4ace-8a74-15e0e205b586.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn'

[2022-03-01 10:19] Nanshi29 opened #638 "Improving UI of the footer including newsletter"
### Feature description

I m changing UI of the footer and make it more attractive. Also change the newsletter ui. Please assign this issue to me. Im a conributor at GSSoC'22.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.

[2022-03-01 10:46] Aditya123987 commented on #627
I want to work on this issue under GSSOC.

[2022-03-01 10:47] Aditya123987 commented on #626
I want to work on this issue .

[2022-03-01 10:50] Aditya123987 commented on #510
I want to work on this issue under GSSOC'22.

[2022-03-01 11:21] adi7yashah commented on #454
I am a participant of GSSOC'22. I want to work on this issue .Can you please aassign me?
I will definitely do this work properly.

[2022-03-01 13:17] Pragatii08 commented on #510
I would like to work on this issue.

[2022-03-01 13:28] Sandhya312 commented on #510
I want to add some amazing courses in the resources section so please give me a chance by assigning this issue.

[2022-03-01 13:39] Sandhya312 commented on #533
Hii, I want to work on this issue. Please assign it to me.

[2022-03-01 13:50] Sandhya312 commented on #502
I wanted to add some useful questions. So please assign this issue to me under GSSOC'22.

[2022-03-01 14:04] Sandhya312 commented on #493
Hi @SauravMukherjee44,  I am a designer and want to add some attractive features which make your website cool so please assign this issue under GSSOC'22.

[2022-03-01 14:05] codervivek5 commented on #502
I want to work on this issue under Gssoc'22

[2022-03-01 14:06] erdivyanshu opened #639 "Feature: Improving UI of the book,journal counter and Recommended book section."
### Feature description

### Feature description

I want to UI of the book,journal counter as well as that recommded book section and make it more attractive.

 **Please assign this issue to me. I am a conributor at GSSoC'22.**

👀 Have you spent some time to check if this issue has been raised before?

- [ ] I checked and didn't find similar issue

🏢 Have you read the [[Code of Conduct]](https://g

[2022-03-01 14:11] erdivyanshu commented on #639
@SauravMukherjee44 can I start work on this issue?

[2022-03-01 14:12] erdivyanshu commented on #628
@SauravMukherjee44  sir Can I work on this issue?

[2022-03-01 14:17] SauravMukherjee44 commented on #454
Go for it!

[2022-03-01 14:49] saiadityaviswanadham opened #640 "Feature: Signup using Google"
### Feature description

The feature helps users to Signup/Signin using Google.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-03-01 14:54] HarshKumarChoudary commented on #533
I want to work on this issue for GSSOC 22. Please assign it to me.

[2022-03-01 14:56] HarshKumarChoudary commented on #622
@Srishti2128, if you are not making PR, then @SauravMukherjee44 , please assign it to me.

[2022-03-01 14:57] HarshKumarChoudary commented on #640
Hi, I would like to work on this issue. Please assign it to me.

[2022-03-01 15:02] Payalsahb20220 commented on #640
@saiadityaviswanadham
can please assign this issue to me :) for gssoc22

[2022-03-01 15:21] Payalsahb20220 commented on #510
@SauravMukherjee44  sir , can u please assign me this issue :). I want to add more courses and  other useful resources .

[2022-03-01 15:23] Pradumnasaraf opened #641 "Documentation: Add PR Template"
### Description

### Chnages
- Adding a PR template
- Template path **`.github/PULL_REQUEST_TEMPLATE.md`**

### Template Preview (while creating a PR.)
![Screenshot from 2022-03-01 17-54-32](https://user-images.githubusercontent.com/51878265/156168840-66822d65-3e60-4026-8064-f967d66cf94b.png)

### Due to that, it we are also missing a check in Community Standards

![Screenshot from 2022-03-01 20-5

[2022-03-01 16:09] Anshika-Srivastava commented on #638
Hey! You have been assigned this issue. All the best.

[2022-03-01 16:18] Anshika-Srivastava commented on #631
Hey! You have been assigned this issue. All the best.

[2022-03-01 16:28] Anshika-Srivastava commented on #502
@1ananya3 you have been assigned the issue. You can start working on it.

[2022-03-01 16:29] abhilipsasahoo03 opened #642 "Documentation: Broken image links in README.md file on GitHub Mobile App"
### Description

# Issue Description

The Lines of Code shield image link is broken, while the Main Page screenshot and CodeIN Community banner links show broken on GitHub Mobile App.

# Screenshot
![Screenshot_2022-03-01-21-50-24-379_com github android](https://user-images.githubusercontent.com/80174214/156207959-c4851c35-8871-4784-8c50-7f85a15a19c3.jpg)
![Screenshot_2022-03-01-21-50-34-511_com g

[2022-03-01 16:31] Anshika-Srivastava commented on #626
There is already an option of 'other' in the website.

[2022-03-01 16:33] Adhetya opened #643 "Bug Report: No transitions in navigation bar."
### Reproduction steps

When you hover over certain elements of the website and navigation bar.

### Expected behavior

Transition should be smooth for better user experience.

### Actual Behavior

There are no transitions making the experience not very pleasant.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Hav

[2022-03-01 16:36] Adhetya commented on #643
I am a GSSOC 22 participant. I have identified this bug. So, can you assign this to me so I can start working on it?

[2022-03-01 16:36] Srishti2128 commented on #622
I have made the Pull Request #644 . Kindly merge it.
Thank You !!

[2022-03-01 16:37] AbhinavBattu commented on #626
The problem here is that the user can also issue a book by selecting "select author" option. In this case "select author" option should be only for reference this should unselectable option which doesn't get clicked.

[2022-03-01 16:42] Anshika-Srivastava commented on #634
@praveen-221 you have been assigned this issue. You can start working

[2022-03-01 16:44] Anshika-Srivastava commented on #639
Please specify your changes more.

[2022-03-01 16:49] Anshika-Srivastava commented on #641
@Pradumnasaraf you have been assigned this issue. You can start working

[2022-03-01 16:53] #638 closed

[2022-03-01 16:55] #622 closed

[2022-03-01 17:08] praveen-221 commented on #634
Ok Thank you

[2022-03-01 17:11] aditiitomar opened #646 "Bug Report: Spelling mistakes in quiz"
### Reproduction steps

**Spelling mistakes can be corrected simply.**

### Expected behavior

**Spellings should be correct.**

### Actual Behavior

![WrongQuizQues](https://user-images.githubusercontent.com/80448500/156214552-32e1588e-27c6-43f5-a3a1-1344dd22e715.png)

![WrongQuizQues3](https://user-images.githubusercontent.com/80448500/156215476-e25af134-82f0-4bf8-b6e2-8b3669d126af.png)

### 👀 H

[2022-03-01 17:14] aditiitomar commented on #646
Hey, @SauravMukherjee44 can you assign this issue to me?

[2022-03-01 17:18] 1ananya3 commented on #502
Okay Thank you @Anshika-Srivastava . I am starting my work.

[2022-03-01 17:20] erdivyanshu commented on #639
![1](https://user-images.githubusercontent.com/77803707/156216379-ae26ed91-b504-46dd-9e97-7ac917d34578.png)

Ma'am,we can make the **counter** {blue marked} little bit down,It will look more attractive.
And that  **recommded book** section{ brown marked} ,we can use some heading or something more weight font,It will look good and easily distinguisable section.

[2022-03-01 18:30] theplayer9 commented on #251
Hey ... I'm new to open source and want to  make contribution. Can I work on this issue. I will help me to explore more.

[2022-03-01 19:31] kusumita29 commented on #167
I would like to work on it under GSSOC'22. Can I work on this issue?

[2022-03-01 20:35] devaaquib commented on #639
@erdivyanshu  yes, you can work on this. try to add more features.

[2022-03-01 20:40] devaaquib commented on #629
@Khushi-Mattu you have been assigned this issue.  try to make it more attractive. You can start working.

[2022-03-02 02:35] shreyasharma0201 commented on #521
**Bug Report:** Home page UI is not consistent.
* I would like to work on home page.
* *Your books* section is overflown which creates a horizontal scroll bar.
* I'll also add animation for home page.

[2022-03-02 02:36] shreyasharma0201 commented on #521
This issue is under *GSSoC*.

[2022-03-02 02:54] Khushi-Mattu commented on #629
Okay! Thank you!

[2022-03-02 03:25] Khushi-Mattu commented on #629
I have completed it and made the pull request

[2022-03-02 03:31] Atif0604 commented on #636
Can i work on this
assign me under gssoc 22

[2022-03-02 03:52] Khushi-Mattu commented on #631
I have made the changes and made a pull request!

[2022-03-02 05:05] Vivek-kumar21 commented on #513
I want to work on this issue under GSSOC'22

[2022-03-02 05:20] Vivek-kumar21 opened #649 "Feature: To improve the Social Media Icons."
### Feature description

![Screenshot from 2022-03-02 10-43-44](https://user-images.githubusercontent.com/92684075/156300051-d3dd2726-a3ce-4ef9-97be-8d16b9aec7d8.png)

I can improve the Social Media Icons and make them look even better.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Cond

[2022-03-02 05:23] #649 closed

[2022-03-02 05:27] Vivek-kumar21 opened #650 "Feature: To improve the Social Media Icons."
### Feature description

![WhatsApp Image 2022-03-02 at 10 56 27 AM](https://user-images.githubusercontent.com/92684075/156300798-c96c854f-0d80-469c-8ab9-e6b7f103e4ce.jpeg)

• I'm a GSSOC'22 Contributor and I'd like to make the appropriate change to this website.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Hav

[2022-03-02 05:28] Vivek-kumar21 commented on #650
@SauravMukherjee44 Can you assign this to me so that I can work on it ASAP.

[2022-03-02 06:30] Siddhi-Mundada commented on #501
Please assign this issue to me.for GSSOC'22

[2022-03-02 06:36] devaaquib commented on #649
@Vivek-kumar21 please deploy it bro.

[2022-03-02 06:44] sulogna2001 commented on #533
Hey Can I work  on  this issue under GSSOC22

[2022-03-02 06:44] sulogna2001 commented on #510
Hey Can I work  on  this issue under GSSOC22

[2022-03-02 06:45] sulogna2001 commented on #493
Hey Can I work  on  this issue under GSSOC22

[2022-03-02 07:25] prabhakar-dessai opened #651 "Feature: To improve newsletter form at end of page"
### Feature description

The newsletter form at the end of the page has no proper css applied compared to other forms in the page. The input and subscribe button can be made to look better.
![feebackform](https://user-images.githubusercontent.com/61088215/156313555-ba64888a-6eed-45ec-8d17-b99f77c9a9f5.jpg)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I chec

[2022-03-02 07:30] prabhakar-dessai commented on #651
Hey, i am a GSSoC '22 participant. Please assign this issue to me.
Proposal:
Add better css overall, padding around  subscribe button and remove repetition of name in placeholder and before input
![newsletter](https://user-images.githubusercontent.com/61088215/156315037-68e4490e-0cff-4f10-b78f-8116c41d84b7.jpg)
.

[2022-03-02 07:49] gouravgupta02 opened #653 "Feature: No Navigate-To/Back-To Top Button : GSSoC22"
### Feature description

Hi
While going through the resources page, I find out that there is **no Back-To Top button** in Resources page of the website.

I feel it is a serious feature which needs to be implemented as soon as possible
I **want to work** on it and add a back to top button using my frontend skills under **GSSoC22** contribution.
![Screenshot (52)](https://user-images.githubuserconte

[2022-03-02 08:41] zugzwang03 commented on #501
I would like to work on this issue under GSSOC'22

[2022-03-02 09:34] DeveloperAshish8 opened #654 "Bug Report:"
###In the Resources section the general message in the end of page is acting as a link.

### Reproduction steps

In the Resources section the general message in the end of page is acting as a link.

### Expected behavior

It should be displayed as a quote or paragraph format.

### Actual Behavior

It is acting as two links with no path
![Screenshot (1)](https://user-images.githubusercontent.com/90

[2022-03-02 09:38] #654 closed, assigned to nobody

[2022-03-02 10:06] devaaquib commented on #651
@prabhakar-dessai you can start working on it.

[2022-03-02 10:34] abhil2002 commented on #646
Hey, Could you assign this issue to me, I am a GSSOC '22 contributor.

[2022-03-02 11:18] gouravgupta02 commented on #653
@devaaquib Thank you!😊

[2022-03-02 11:23] 5kamakshi commented on #650
@SauravMukherjee44 Can you assign this to me I can do it.

[2022-03-02 11:26] 5kamakshi commented on #627
Please assign me this issue

[2022-03-02 11:30] 5kamakshi commented on #510
@SauravMukherjee44 Can you assign this to me?

[2022-03-02 11:31] 5kamakshi commented on #606
Assign this to me I am working under GSSOC 22

[2022-03-02 12:21] #641 closed

[2022-03-02 12:32] pratiksrivastava01 commented on #653
@gouravgupta02 What Should be the dimension of the back to top button in the website and the color combination of the box

[2022-03-02 12:36] devaaquib commented on #650
@5kamakshi  yes you can start working on it.

[2022-03-02 12:37] #646 closed

[2022-03-02 12:38] SauravMukherjee44 commented on #510
@sulogna2001 Go for it!

[2022-03-02 12:38] devaaquib commented on #646
@abhil2002  @aditiitomar  try to contribute in code not in spelling mistakes like this.

[2022-03-02 12:39] devaaquib commented on #643
@Adhetya  you can start working on it.

[2022-03-02 12:40] SauravMukherjee44 commented on #493
@Abh1shekSingh Go ahead!

[2022-03-02 12:42] devaaquib commented on #632
@Susmita-Dey  can u  define where you redirect the page so we check and if it appropriate we can assign you this issue.

[2022-03-02 12:45] 5kamakshi commented on #650
yes I will do it

[2022-03-02 12:47] Susmita-Dey commented on #632
When I click on the READ MORE button it's redirecting me to an error page. But it should be redirected to a proper w3schools web development course page.

[2022-03-02 12:54] iScreenager opened #656 "Feature: improve play & pause button in Listen to Audiobooks"
### Feature description

sir, can you assign me this issue?

### 👀 Have you spent some time to check if this issue has been raised before?

- [ ] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [ ] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-03-02 13:12] SauravMukherjee44 commented on #633
@Susmita-Dey Go for it!

[2022-03-02 13:40] A1Kumari commented on #634
I would like to work on this issue under GSSOC

[2022-03-02 14:05] Susmita-Dey commented on #633
Thanks for assigning it to me.

[2022-03-02 14:11] suhaillahmad opened #657 "To improve the buttons in the home page"
### Feature description

I have seen that the buttons on the home page in some sections are different and different in some section

<img width="1440" alt="0F316F38-CBAC-4A6E-8BE1-6FE6F996D35F" src="https://user-images.githubusercontent.com/97229491/156377720-e9c10bd5-9c92-49f5-a467-01a1718e5252.png">
<img width="1440" alt="CDE5EF1F-A9A9-45D1-90B5-66605FD84616" src="https://user-images.githubuserc

[2022-03-02 15:20] devaaquib commented on #657
@suhaillahmad  you can start working on it.

[2022-03-02 15:21] Deep-anjali01 opened #659 "Feature: Improvement in the UI"
### Feature description

Can I change the font of the website and make it better than before. If you found it cool ,then add that otherwise not.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Libra

[2022-03-02 15:27] puneetkaur2929 opened #661 "Bug Report: quick links not properly aligned in About page"
### Reproduction steps

![Screenshot (146)](https://user-images.githubusercontent.com/80326308/156384740-a4625b35-4ec4-4c27-8873-630518dedddd.png)

I want  to change the alignment of quick links so they are properly visible and serve their purpose

### Expected behavior

quick links will be aligned properly

### Actual Behavior

the links are aligned in disorderly manner that  is not much attracti

[2022-03-02 15:32] Aman16-ai commented on #533
can you please assign it to me

[2022-03-02 15:33] Aman16-ai commented on #501
Can i work on it under gssoc22

[2022-03-02 15:33] puneetkaur2929 opened #662 "Validate the feedback section in resource section ."
### Reproduction steps

i will
->Add code to validate the feedback entered on pressing send button.

### Expected behavior

whenever the send button is pressed without entering the text in feedback section the alert message should be displayed.

### Actual Behavior

In actual on pressing the send button without entering the text the control shifts to the start of resource page without displaying a

[2022-03-02 15:37] devaaquib commented on #661
@puneetkaur2929 You can start working on it. All the best.

[2022-03-02 15:38] devaaquib commented on #659
@Deep-anjali01 Yes you can start working on it. All the best.

[2022-03-02 15:40] devaaquib commented on #662
@puneetkaur2929  Yes, you can start working on it.

[2022-03-02 15:52] SauravMukherjee44 commented on #659
@Deep-anjali01 Go for it!

[2022-03-02 15:55] #633 closed

[2022-03-02 15:59] #502 closed

[2022-03-02 16:02] #634 closed

[2022-03-02 16:07] Navi68 commented on #656
![aec](https://user-images.githubusercontent.com/87562957/156400231-c6d75cdf-a400-4a72-b225-986c9d43caf0.PNG)

I want to make the play button more attractive.

[2022-03-02 16:12] devaaquib commented on #656
@Navi68 go for it.

[2022-03-02 16:30] the-centinal opened #663 "Feature: footer is not uniform in all pages"
### Feature description

footer section is not same in all the pages of website which makes it un attractive . so i want to make same and attractive footer for  all the pages.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.

[2022-03-02 16:31] the-centinal commented on #663
@admin please assign this issue to me under GSSOC22

[2022-03-02 16:32] the-centinal commented on #631
please assign this task to me under GSSOC22

[2022-03-02 16:49] devaaquib commented on #663
@the-centinal  Go for it!

[2022-03-02 17:02] the-centinal commented on #663
yes sir

[2022-03-02 17:03] Anshika-Srivastava commented on #636
@AshutoshDash1999 please specify on what all steps will you take to improve the performance.

[2022-03-02 17:10] Anshika-Srivastava commented on #632
@Susmita-Dey you have been assigned this issue. You can start working on it. All the best.

[2022-03-02 17:16] 1ananya3 opened #666 "Light/Dark Theme"
### Feature description

Add a light and dark theme . So anyone can keep theme on the basis of their own choice.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CON

[2022-03-02 17:17] Anshika-Srivastava commented on #628
Hey @ABHID10 you have been assigned this issue. You can start working on this as well as on the footer for About section. All the best!

[2022-03-02 17:17] 1ananya3 commented on #666
@SauravMukherjee44  Assign me in this issue.I can make it.

[2022-03-02 17:20] Anshika-Srivastava commented on #627
The sign-up page is already connected with css.

[2022-03-02 17:20] #627 closed

[2022-03-02 17:22] Anshika-Srivastava commented on #626
okay @AbhinavBattu you have been assigned this issue! You can start working. All the best.

[2022-03-02 17:33] Anshika-Srivastava commented on #666
@1ananya3 you have been assigned this issue. You can start working on it. All the best.

[2022-03-02 17:38] AbhinavBattu opened #667 "The back button in the signup page doesn't work."
### Reproduction steps

Go to the signup page .Then click the arrow button.

### Expected behavior

The button should have taken the user to the main page of the website.

### Actual Behavior

The button doesn't take the user to the main page due to wrong reference of the site.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar i

[2022-03-02 17:38] AbhinavBattu commented on #667
Please assign me this issue.

[2022-03-02 17:45] codersmiti opened #668 "Feature: add show password in login page"
### Feature description

to add show password feature in login page

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-03-02 17:49] SauravMukherjee44 commented on #668
@codersmiti Go for it!

[2022-03-02 18:06] devaaquib commented on #667
@AbhinavBattu Go for it.

[2022-03-02 18:23] KaranKulshrestha opened #670 "Improving ui of blog section of a website"
convert this
![Capturae](https://user-images.githubusercontent.com/42493387/156424314-e220cd51-faa7-4751-b655-eec93716a674.PNG)
to this
![Capturea](https://user-images.githubusercontent.com/42493387/156424336-c0c61cb5-e6e0-41ce-a842-53ca56676ffb.PNG)

[2022-03-02 18:24] KaranKulshrestha commented on #670
#669 I already push the code.

[2022-03-02 18:44] ZeyadTarekk opened #671 "Feature: Making the logo going to the main page"
### Feature description

making the logo and "AEC LIBRARY" going to the main page of the website

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-03-02 18:59] Mohit-1909 commented on #671
@ZeyadTarekk Can you please tell me specifically whats the issue?

[2022-03-02 19:09] ZeyadTarekk commented on #671
many pages the logo doesn't redirect to the main page
I can fix it
I'm GSSoC participant

[2022-03-02 19:22] yogeshwarbari opened #674 "Bug Report: Visible HTML escape character in quizes."
### Reproduction steps

Open the website link in your chrome mobile phone browser.
Look for special characters like &, ", etc. you'll be able to see the HTML entity for them i.e. for & will sho &amp;

### Expected behavior

Proper decoding of webpage i.e. "&amp;" should be shown as & , &quot; as "

### Actual Behavior

Showing escape entities of HTML.

### 👀 Have you spent some time to check if th

[2022-03-02 19:23] yogeshwarbari commented on #674
![Screenshot_20220303_002940](https://user-images.githubusercontent.com/43045514/156433861-e15c6b62-1f00-4743-b34e-68493f4d408c.jpg)

PFA screenshot depicting the bug.

[2022-03-02 20:46] KaranKulshrestha opened #675 "Bug Report: Non working Link in a blog section"
### Reproduction steps

This redirect show when we click on the web development post in the blog section.
![Captusre](https://user-images.githubusercontent.com/42493387/156446652-28796f56-50c7-4654-97d0-0bf145371873.PNG)

### Expected behavior

It should redirect to correct webpage.the

### Actual Behavior

url is broken so I'll fix it.

### 👀 Have you spent some time to check if this issue has be

[2022-03-02 21:03] KaranKulshrestha commented on #675
I fix it #676

[2022-03-03 03:29] alphaayu commented on #629
can you assign this issue to me??

[2022-03-03 03:31] alphaayu commented on #675
can you please assign this to me

[2022-03-03 03:56] shivam123-dev opened #678 "Bug Report: In contact section, under the Community heading, Our Story and Accessibility do not have any links"
### Reproduction steps

When I hovered on them no hyperlinks were associated to them like the others

### Expected behavior

**Our Story**
![image](https://user-images.githubusercontent.com/81038095/156493016-5be44c0f-a492-4b65-a63c-d41b70893dac.png)

**Accessibility**
![image](https://user-images.githubusercontent.com/81038095/156493042-a8e7d12a-4a09-4d6c-abac-9dd325346e76.png)

### Actual Behavi

[2022-03-03 03:57] shivam123-dev commented on #678
@SauravMukherjee44 Kindly assign this issue to me. So that I can fix this issue

[2022-03-03 04:16] Susmita-Dey commented on #632
Thanks for assigning it to me.

[2022-03-03 05:25] Rashmisingh-18 opened #680 "Bug Report: In the Donate Books section, it is showing home in navbar, it should be hovering to Donate Books"
### Reproduction steps

![About _ AEC Library and 5 more pages - Personal - Microsoft​ Edge 03-03-2022 10 48 48 AM](https://user-images.githubusercontent.com/90052358/156501586-c72b8664-a1ac-4203-a3bb-18b259e4f4ff.png)

### Expected behavior

Changing that hover from home to donate books. Also I want to add some UI to make it more attractive

### Actual Behavior

It actually show donate books inst

[2022-03-03 05:25] Rashmisingh-18 commented on #680
Sir, please assign this issue to me @SauravMukherjee44

[2022-03-03 06:01] Rashmisingh-18 opened #681 "Documentation: Adding CSS in sign-up page to make good UI"
### Description

![blogs html - rashmi - Visual Studio Code 03-03-2022 11 27 54 AM](https://user-images.githubusercontent.com/90052358/156505544-70c69b34-993d-4987-b11c-abdb4e73935e.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](http

[2022-03-03 06:12] VIDHI-BAJAJ commented on #670
I would  like to work on the assigment  can you assign me.

[2022-03-03 06:12] codersmiti commented on #668
I have created an pull request for this issue.Please check it

[2022-03-03 06:15] VIDHI-BAJAJ commented on #521
Hey assign me the issue i know how to Solve it.

[2022-03-03 06:21] AshutoshDash1999 commented on #636
@Anshika-Srivastav
- Making file size of images smalle
- adding lazy load to the images
these for now, do you want me to suggest anything?

[2022-03-03 06:27] DeveloperAshish8 opened #682 "Bug Report: The content inside general message in resources page is displaying as a link"
### Reproduction steps

While scrolling till the ending of resources page the text inside general message is displayed as a link.

### Expected behavior

It should be as a simple text in the form of paragraph.

### Actual Behavior

Displaying the general message as paragraph or text

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find simi

[2022-03-03 06:28] Atif0604 commented on #636
@AshutoshDash1999 Can you Please Assign

[2022-03-03 06:32] DeveloperAshish8 commented on #682
I am a GSSOC 22 Participant please assign this issue to me

[2022-03-03 06:48] HarshKumarChoudary commented on #681
I want to contribute to it under GSSOC 22. Please assign it to me.

[2022-03-03 06:49] HarshKumarChoudary commented on #521
I would like to work for it. Please assign it to me.

[2022-03-03 06:50] HarshKumarChoudary commented on #501
I would like to work on it. Please assign it to me.

[2022-03-03 07:14] jayasridharmireddi opened #685 "Bug Report:"
### Reproduction steps

In the "About" page, to the bottom of the page we see quick links there(Home, Donate books , privacy...etc) can we make them look better with buttons or with diffrent font and color to look better?

### Expected behavior

To change the font or styling of those quick links

### Actual Behavior

![Screenshot (238)_LI](https://user-images.githubusercontent.com/69392261/1565151

[2022-03-03 07:16] Pragatii08 commented on #510
Let me know if it's up for grab I would like to contribute.

[2022-03-03 07:17] jayasridharmireddi commented on #685
@SauravMukherjee44 can you assign this task to me

[2022-03-03 07:56] Payalsahb20220 commented on #640
@SauravMukherjee44  , can u please assign me this issue under gssoc'22.

[2022-03-03 09:09] AbhinavBattu commented on #667
Will you assign it or i directly file a PR

[2022-03-03 09:13] #675 closed

[2022-03-03 11:36] MadhuSaini22 commented on #685
@SauravMukherjee44  Could you assign this task to me as a GSSOC'22 label?
I'm experienced in doing this task :)

[2022-03-03 11:42] anu-phoenix opened #686 "Feature: Navbar Modification"
### Feature description

Improving the UI/UX of navbar and improving its hover effect
I want to work on this issue under gssoc'22 @SauravMukherjee44

![image](https://user-images.githubusercontent.com/76680350/156557982-67a0e8bd-65e1-4ea4-913f-9a8b8f9a469b.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have

[2022-03-03 12:21] A-Spiral-Forge opened #687 "Feature: Improving UI/UX of Donate Books Page"
### Feature description

I want to improve the user interface of Donate Books page. Also, making animations of the page better.
![image](https://user-images.githubusercontent.com/64008676/156563643-8bdd226d-c519-4aa8-830a-6ccacf9ac495.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of C

[2022-03-03 12:22] A-Spiral-Forge commented on #687
@SauravMukherjee44 please assign this issue to me under GSSOC'22.

[2022-03-03 12:42] ritikranjan12 commented on #681
### @[Rashmisingh-18 I had corrected the signup page so that the CSS is working properly and made a Pull Request #688.
### It looks like this...
![Screenshot 2022-03-03 124058](https://user-images.githubusercontent.com/75849689/156566716-a823fbd6-51ca-4e37-a06f-de7d2b63efeb.png)

[2022-03-03 12:56] jayasridharmireddi commented on #685
@devaaquib I am a participant of GSSOC'22,can you assign this task to me? I would like to work on it

[2022-03-03 13:35] Abh1shekSingh commented on #493
@SauravMukherjee44  OKAY

[2022-03-03 14:04] KaranKulshrestha commented on #670
Please assign this issue to me I already pull the request #669

[2022-03-03 14:52] devaaquib commented on #670
@KaranKulshrestha Go for it man!

[2022-03-03 14:54] devaaquib commented on #671
@ZeyadTarekk  You can start working on it.

[2022-03-03 14:56] #681 closed

[2022-03-03 14:57] devaaquib commented on #681
@Rashmisingh-18 Sorry! This issue is already resolved!

[2022-03-03 15:03] #651 closed

[2022-03-03 15:07] #670 closed

[2022-03-03 15:15] #657 closed

[2022-03-03 15:25] #632 closed

[2022-03-03 15:30] #626 closed

[2022-03-03 15:32] #653 closed

[2022-03-03 15:40] Anshika-Srivastava commented on #685
Hey @jayasridharmireddi you have been assigned this task. You can start working.

[2022-03-03 15:42] Anshika-Srivastava commented on #674
@yogeshwarbari you have been assigned this issue. You can start working on it.

[2022-03-03 15:44] #667 closed

[2022-03-03 15:58] Vivek-kumar21 opened #691 "Feature: To replace the submit button on the signup page."
### Feature description

![WhatsApp Image 2022-03-03 at 9 20 34 PM](https://user-images.githubusercontent.com/92684075/156601204-4fa7d463-6f63-4f83-a309-2b484fb66cfc.jpeg)

• I'm a GSSOC'22 Contributor and I'd like to make the appropriate change to this website.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have

[2022-03-03 15:58] AbhinavBattu commented on #667
Can you please tell ,why did this issue wasn't merged.Was there any problem with it.

[2022-03-03 16:20] AbhinavBattu opened #693 "Bug Report: Fixing the category dropdown in issue section.Category is also a selectable option in dropdown which results in incomplete issue of books."
### Reproduction steps

Make an issue of book wihout specifying category.

### Expected behavior

In issue section category dropdown "category" option should be an unselectable option only for reference and it should be mandatory field which will prevent incomplete issues of books.

### Actual Behavior

"Category" is clickable in category dropdown and therefore not mandatory which leads to incompl

[2022-03-03 17:00] #661 closed

[2022-03-03 17:02] KaranKulshrestha opened #694 "Improvement in about page footer ui"
**Change This**
![Capture](https://user-images.githubusercontent.com/42493387/156613636-d3558e3c-9c6e-4322-b76a-e938145e8eb0.PNG)
**To This**
![Capturae](https://user-images.githubusercontent.com/42493387/156613764-a9aa996c-0997-4609-8b2c-948821b270f5.PNG)

[2022-03-03 17:03] omar-sherif9992 opened #695 "Feature: Can I improve the footer of the about page"
### Feature description

make it more styles  and dynamic year

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-03-03 17:05] KaranKulshrestha commented on #694
Please assign me to improve it and merge my pull code under GSSOC 2022

[2022-03-03 17:16] devaaquib commented on #695
@omar-sherif9992  Yes, You can work on it.

[2022-03-03 17:17] devaaquib commented on #694
@KaranKulshrestha Go for it man!

[2022-03-03 17:23] #659 closed

[2022-03-03 17:35] vardhinii opened #699 "Feature: Improve the Quiz Section"
### Feature description

The quiz section looks somewhat odd from the entire website. I will improve the UI and make it fit with the theme. I'm a participant under GSSoC'22.

![image](https://user-images.githubusercontent.com/77223276/156619785-3c5ad13c-9d06-4ffe-b20e-883b7cef93d6.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find s

[2022-03-03 17:38] devaaquib commented on #699
@vardhinii Sure! go for it.

[2022-03-03 18:32] ChetanDehane opened #700 "Bug Report: hover on speaker icon not working properly"
### Reproduction steps

hover on a speaker icon in audio book under resources page is not working properly.
when we hover on speaker icon the volume bar stays there even if we don't hover on speaker icon.

### Expected behavior

the volume bar should visible only if we hover on speaker icon.

and there is lot off inconsistency in UI and functioning of a resources page.
i want to improve whole reso

[2022-03-03 18:39] shivam123-dev commented on #678
Created a PR which fixes this bug @SauravMukherjee44

Kindly review it

[2022-03-03 18:45] #694 closed

[2022-03-04 00:11] DeveloperAshish8 commented on #682
Thanks, I have started working on it

[2022-03-04 05:02] devaaquib commented on #700
@ChetanDehane  You can start working on it.

[2022-03-04 05:03] 5kamakshi commented on #650
@devaaquib  Sir I completed my work Now what should I do can you Tell because I am new to Github

[2022-03-04 05:06] #678 closed

[2022-03-04 05:09] devaaquib commented on #650
@5kamakshi  msg me on LinkedIn I will tell you on meet....? You can find my LinkedIn URL in my GitHub profile.

[2022-03-04 06:05] MadhuSaini22 opened #704 "Bug Report: In the resources/ on footer, Top's quick link not at perfect position"
### Reproduction steps

When I go through the website, on resources down on footer the top button hides the copy right text. So, it should be shifted so that everything looks perfect.

### Expected behavior

It should be at its proper position may be  little bit down or upper.

### Actual Behavior

![2022-03-04_LI](https://user-images.githubusercontent.com/81684710/156707690-625fe98c-59f5-456b-8e6

[2022-03-04 06:06] MadhuSaini22 commented on #704
hey @SauravMukherjee44 Could you assign this task to me as a GSSOc'22 label?

[2022-03-04 06:22] devaaquib commented on #704
@MadhuSaini22 you can start working on it.

[2022-03-04 06:43] Rashmisingh-18 commented on #680
Resolved this issue #705, please review it @Anshika-Srivastava

[2022-03-04 09:49] Aishwarya123priya commented on #704
Can I work on it? Assign this to me

[2022-03-04 10:40] HarshKumarChoudary commented on #628
If this level 1 issue is not solved till now, then please consider me eligible for that. I'm GSSOC 22 contributor. Thanks

[2022-03-04 13:15] gouravgupta02 opened #710 "Bug Report: Transition not occurring in Go to Top button of Home Page. Also no hover feature : GSSoC22"
### Reproduction steps

Hi!
When I scrolled down the home page, the Back to Top button immediately appeared **without** any transition.
when I inspected what's wrong, I found a **bug**  in **CSS** part of this button.

Also, there is **no hovering effect** in this button, I would like to **add the hover effect** like color changing etc. under **GSSoC22** contribution.

### Expected behavior

The b

[2022-03-04 13:37] Anshika-Srivastava commented on #710
Hey @gouravgupta02 you have been assigned this issue. You can start working on this.

[2022-03-04 13:42] abhilipsasahoo03 commented on #642
Hi @HarshKumarChoudary , actually the GSSOC'22 follows first-come rule so I'd be assigned the issue first, BUT if I fail to resolve it, I think you'd be free to take up this issue next! :)

[2022-03-04 14:55] #650 closed

[2022-03-04 15:05] MohamedKamalOthman opened #711 "Bug Report: List items in Resources aren't properly placed"
### Reproduction steps

Enter the resources page you will find the UL list items under the web development section.
![msedge_y0mpAZIgKA](https://user-images.githubusercontent.com/76039756/156787309-f25aa0aa-c021-4759-9dd5-2904a45333fe.png)

### Expected behavior

I think best it should be above Web development section

### Actual Behavior

UL list is under web development section

### 👀 Have you s

[2022-03-04 15:06] MohamedKamalOthman commented on #711
I am a Contributor for GSSoC can you assign this issue to me please

[2022-03-04 15:13] ABHID10 opened #712 "Bug Report: About Page footer not functional."
### Reproduction steps

Link to Donate Books and FAQ button in footer not working.

Steps -

1. Creating id for FAQ section.
2. Linking respective path directory to its button in footer.

GSSoc -22

### Expected behavior

Should Redirect to this page.

![image](https://user-images.githubusercontent.com/86340981/156788530-4821073b-6624-4edd-8756-2965fae1c388.png)

### Actual Behavior

Same for FAQ

[2022-03-04 15:34] SauravMukherjee44 commented on #711
@MohamedKamalOthman Go for it!

[2022-03-04 15:47] 1610ayushi opened #713 "Bug Report: Text is camouflaging and space utilization"
### Reproduction steps

![bug2_](https://user-images.githubusercontent.com/60655830/156793098-711125d5-739e-40c3-bcc4-a29e6f3a8bb2.jpg)
UX of this section can be improved.
Space utilization can be doe properly.

### Expected behavior

According to me, text can be written and managed properly and proper space utilization can be done.
UX can be improved.

### Actual Behavior

Most of the text is cam

[2022-03-04 15:47] 1610ayushi commented on #713
I am a Contributor for GSSoC'22 can you assign this issue to me, please!

[2022-03-04 15:58] devaaquib commented on #712
@ABHID10  Go for it.

[2022-03-04 16:04] #700 closed

[2022-03-05 07:09] ramakrishna-mrk opened #719 "Bug Report: Contributors Page footer links are broken/not functional."
### Reproduction steps

Link to Donate Books and Privacy Policy are broken in Footer section of Contributors Page.

Steps -
1. Linking 'Donate Books' to its working url.
2. And as of now there is no specific page for 'privacy policy', so temporarily linking it to index page until privacy policy is created.

GSSoC -22

### Expected behavior

Donate Books Page Should redirect to this page.
![Screens

[2022-03-05 07:10] ramakrishna-mrk commented on #719
I am a Contributor for GSSoC can you please assign this issue to me.

[2022-03-05 07:18] SauravMukherjee44 commented on #719
@ramakrishna-mrk Go for it!

[2022-03-05 07:20] SauravMukherjee44 commented on #642
@abhilipsasahoo03 Go for it!

[2022-03-05 07:40] soujo opened #720 "Bug Report: Newsletter validation"
The newsletter form in the footer section of the website has an incorrect validation. It alerts the user saying the form has been submitted if I only click on the submit button without even filling up the form.
I would like to correct the form validation and also implement a pop-up msg instead of a normal alert using javascript under JWOC.

[2022-03-05 07:45] devaaquib commented on #720
@soujo You can start working on it.

[2022-03-05 07:45] Ishitacoding opened #721 "Bug Report:"
### Reproduction steps

Bug in  Sign Up section .

### Expected behavior

Need of Css for amazing look and interface .

### Actual Behavior

![Screenshot (26)](https://user-images.githubusercontent.com/98388241/156873911-6b0dfcb1-f24f-45f8-b67a-b06346f62b73.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have

[2022-03-05 07:45] devaaquib commented on #720
@soujo its not under JWOC its under GSSOC'22

[2022-03-05 07:47] devaaquib commented on #721
@Ishitacoding Sign-up section is fine. Check again.

[2022-03-05 07:49] #710 closed

[2022-03-05 08:03] #721 closed

[2022-03-05 08:04] #687 closed

[2022-03-05 08:07] #704 closed

[2022-03-05 08:39] tarunsinghofficial opened #722 "Feature: Improving the Subscribe to Newsletter UI"
### Feature description

The Subscribe to Newsletter form doesn't look nice, we can improve its UI to some newer look and also add a hover effect on its button.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukhe

[2022-03-05 08:50] tarunsinghofficial opened #723 "Bug Report: Tawk chat button and Speak button are having more space"
### Reproduction steps

When I was checking the website, I just saw this bug.

### Expected behavior

It is happening due to improper alignment.

### Actual Behavior

![image](https://user-images.githubusercontent.com/62840625/156876003-19d5d08d-6cbd-4017-b892-6fb00885100c.png)

I can work on this issue and can properly align both the buttons. Please assign this issue to me under GSSoC22. Thank Yo

[2022-03-05 08:50] soujo commented on #720
@SauravMukherjee44 Kindly look into it

[2022-03-05 09:38] devaaquib commented on #722
@tarunsinghofficial  Go for it!

[2022-03-05 09:40] devaaquib commented on #723
@tarunsinghofficial Start working on it.

[2022-03-05 12:52] mayank-del commented on #713
@SauravMukherjee44  , Can i also work on this issue??

[2022-03-05 13:16] MadhuSaini22 opened #725 "Home page have to many dispatches, components are not at there proper positions"
### Reproduction steps

While visiting the website, user can see that at home page, many of the components are not present at there proper positions.

### Expected behavior

They should be present perfectly, so that Website looks Beautiful and UI fits the content.

### Actual Behavior

![2022-03-05 (3)_LI](https://user-images.githubusercontent.com/81684710/156884421-1668ee22-625d-4d23-8699-babc4d9

[2022-03-05 14:18] veerviren commented on #671
can I go for this issue @devaaquib ?

[2022-03-05 14:19] ZeyadTarekk commented on #671
I'm working on it

[2022-03-05 14:28] veerviren opened #727 "Bug Report: Sing up page is not working properly"
### Reproduction steps

it seems like a normal page with no formatting and the blank page .

### Expected behavior

it should me proper match with website features ...

### Actual Behavior

this is what it looks like:-
![Screenshot (135)](https://user-images.githubusercontent.com/77713965/156887610-ec805d37-e861-4991-9bcf-e48e4cbd7c1f.png)

### 👀 Have you spent some time to check if this issue has

[2022-03-05 14:28] veerviren commented on #727
can I go for this issue?

[2022-03-05 16:13] devaaquib commented on #725
@MadhuSaini22 You can start working on it.

[2022-03-05 16:24] imaaquibali opened #729 "Feature: Adding Hover to footer button and adding extra things."
### Feature description

Adding Hover on Footer button and adding links to all the options to make it more attractive.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_

[2022-03-05 16:27] devaaquib commented on #727
@veerviren  Bro check again it's working dude.

[2022-03-05 16:28] #727 closed

[2022-03-05 16:37] #671 closed

[2022-03-05 18:39] BhumikaJena commented on #606
Hey, can you please assign this task to me. I'm working under GSSOC'22

[2022-03-06 06:42] #642 closed

[2022-03-06 08:29] waleedhesham446 commented on #289
I'd like to work on this feature. Can you assign it to me.

[2022-03-06 08:34] waleedhesham446 commented on #151
I can fix this problem, assign this issue to me please.

[2022-03-06 10:27] itsAftabAlam opened #732 "in the quiz section , the codes for symbols like quotation , apostrophe are visible as it is."
### Reproduction steps

this bug triggers when we access quiz section

### Expected behavior

the codes for symbols is visible as it is.

### Actual Behavior

instead the symbols should be visible and not there codes.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have

[2022-03-06 10:28] itsAftabAlam commented on #732
please assign this to me

[2022-03-06 12:33] harshitab07 opened #733 "Feature: Better UI for resource section"
### Feature description

Present resource page is not consistent. Divs are overlapping over each other. I would like to work on this issue and make a better UI for resource page.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://gith

[2022-03-06 13:40] ramakrishna-mrk commented on #719
I have completed it and made the pull request

[2022-03-06 16:57] devaaquib commented on #733
@harshitab07 Go for it.

[2022-03-06 17:03] devaaquib commented on #732
@itsAftabAlam Go for it man.

[2022-03-06 17:08] #720 closed

[2022-03-06 17:18] #719 closed

[2022-03-06 17:23] #656 closed

[2022-03-06 17:53] AnshikaG0219 commented on #732
Hey @itsAftabAlam Can you please assign this to me?

[2022-03-06 19:21] smrithi1912 opened #737 "Feature: Home Page sections"
### Feature description

The sequence of different sections on the home page is not correct according to me. Get in touch should come at the end and FAQs should be prior to that. Similarly, there are few others that need to be in correct order.

Also recommended books and audiobooks can be in separate sections. Similarly, get in touch and quiz can be in separate

Please assign this issue to me.

#

[2022-03-06 23:53] Shofiya2003 commented on #289
I have almost completed the feature I will merge the PR by tomorrow. Sorry for the delay.

[2022-03-07 00:57] MadhuSaini22 opened #738 "Bug Report: login button need margin and padding around it."
### Reproduction steps

while going through I website, I found that Login button not looking perfect. It needs some styling as well as space around.

### Expected behavior

It should be at perfect position.

### Actual Behavior

![2022-03-07_LI](https://user-images.githubusercontent.com/81684710/156950605-a5c51065-5d2a-4bce-80c3-9e8239444a38.jpg)

Login button is almost colliding with the text dow

[2022-03-07 01:05] MadhuSaini22 opened #739 "Bug Report: Sign-Up form's Title and Button on it(Sign-in) needs some styling"
### Reproduction steps

While digging to the website, found that Signup page's form need title styling and it's button as well.

### Expected behavior

Title should be perfectly positioned to the component of SignUp.

### Actual Behavior

![2022-03-07 (1)_LI](https://user-images.githubusercontent.com/81684710/156951008-c1b81b21-aaff-4ef9-a287-c01400044512.jpg)
Title should be perfectly positioned

[2022-03-07 05:34] itsAftabAlam commented on #732
@AnshikaG0219  I started working on this issue. You can check some other issue.

[2022-03-07 08:33] Shobhit61730 commented on #739
Can I fix this issue under Gssoc22 ?

[2022-03-07 08:34] Shobhit61730 commented on #738
Can I fix this issue ?

[2022-03-07 08:43] Shobhit61730 opened #740 "Linear gradient effect in footer section."
Linear-gradient effect in footer section in your website will make your website very facinated.

[2022-03-07 08:45] Shobhit61730 commented on #740
Please assign this issue to me under Gssoc22 Contribution.

[2022-03-07 08:45] Anshika-Srivastava commented on #737
@smrithi1912 you have been assigned this issue. You can start working on the same

[2022-03-07 08:46] Anshika-Srivastava commented on #738
@MadhuSaini22 you have been assigned this issue. You can start working on the same.

[2022-03-07 08:48] Anshika-Srivastava commented on #739
@MadhuSaini22 you have been assigned this issue. You can start working

[2022-03-07 12:41] krithika2411 opened #742 "Bug Report:"
### Reproduction steps

while going through I website, I found that in About page the UI of the Footer doesn't go with the rest of the page. And also in Quick links the buttons like Donate Books, FAQ etc doesn't redirect to the respected page.

### Expected behavior

The UI should match with the rest of page like the font color and button style with background color , also the buttons shoul redire

[2022-03-07 12:42] krithika2411 commented on #742
Can i work on this issue?I can rectify it.

[2022-03-07 13:00] krithika2411 opened #744 "Bug Report: Web Development Course section need more padding and margin"
### Reproduction steps

while going through I website, I found that Web Development Course section not looking perfect. It needs some styling as well as space around.

### Expected behavior

It should not overlap over each other.

### Actual Behavior

![Screenshot (276)](https://user-images.githubusercontent.com/85842586/157039204-15236401-fbf3-49de-ab73-c52ddbf6c0c4.png)

### 👀 Have you spent som

[2022-03-07 13:02] Shofiya2003 commented on #289
I have completed the feature. Could you please check and close the issue

[2022-03-07 14:02] devaaquib commented on #744
@krithika2411 Go for it.

[2022-03-07 14:04] devaaquib commented on #744
@krithika2411 someone is already working on it. Sorry!

[2022-03-07 14:04] #744 closed

[2022-03-07 14:05] krithika2411 commented on #742
@devaaquib  ok !

[2022-03-07 14:11] smrithi1912 opened #745 "Feature: Navbar"
### Feature description

1) Can I combine both the top sections i.e. the logo section and navbar? Along with this, I will give it the sticky property.
It will look better and easy to access.

2) All the pages should have same colour and format for the navbar. So, I can make them all alike as well.

Can you assign this task to me

![image](https://user-images.githubusercontent.com/53621812/15704890

[2022-03-07 16:21] krithika2411 commented on #744
@devaaquib no problem !

[2022-03-07 18:47] Abhilasha-Jairath opened #747 "Feature: Improvisation of Get in touch section UX design"
### Feature description

The "get in touch" section of the home page is not properly visible.
 I want to work on this under GSSOC2022. Can you assign it to me.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukher

[2022-03-08 05:13] Anish-Parkhi opened #748 "Add Padding to the Numbers Section"
I can add some padding and margin so that the Numbers will be visible clearly and It will look good.

Before👇
![Before](https://user-images.githubusercontent.com/93964690/157170567-431df7f4-c2ef-45f6-a7b8-bf7f91e57cee.png)
After👇
![After](https://user-images.githubusercontent.com/93964690/157170592-1a1ffd0b-6ebe-4357-aa37-cb64d5acfbcb.png)

[2022-03-08 11:38] krithika2411 opened #752 "Bug Report: Margin and padding between two cards in home page"
### Reproduction steps

The home looks good but while going through I website, I found that there no space between Issues here card and Choose and read books card. And also in Choose and read books card there is a uneven brown color which doesn't sync with the page .

### Expected behavior

There should be space between two cards and a bit work in ui. Kindly please assign this issue under GSSOC'22