[2022-03-08 11:38] krithika2411 commented on #752
kindly please assign this issue to me.

[2022-03-08 11:40] krithika2411 commented on #742
Done fixing i have sent a PR @devaaquib

[2022-03-08 11:43] mariam199911 commented on #729
I am a GSSOC 22 Participant please assign this issue to me

[2022-03-08 12:06] Anshika-Srivastava commented on #747
@Abhilasha-Jairath I am assigning this issue to you but we will merge it only if that UX will be better and more appealing than the current one

[2022-03-08 12:20] #738 closed

[2022-03-08 12:20] #739 closed

[2022-03-08 13:32] purohitmansi commented on #729
Hello @devaaquib!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 13:38] purohitmansi commented on #685
Hello @Anshika-Srivastava!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 13:42] purohitmansi commented on #666
Hello @Anshika-Srivastava!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 14:02] purohitmansi commented on #204
Hello @SauravMukherjee44!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 14:03] purohitmansi commented on #151
Hello @SauravMukherjee44!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 14:04] purohitmansi commented on #102
Hello @SauravMukherjee44!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 14:45] Abhilasha-Jairath commented on #747
Thank you maam !! Ill start working on it.

[2022-03-08 16:10] devaaquib commented on #752
@krithika2411 Start working on it.

[2022-03-08 16:11] devaaquib commented on #748
@Anish-Parkhi go for it.

[2022-03-08 16:12] devaaquib commented on #729
@mariam199911 gor for it.

[2022-03-08 16:19] #740 closed

[2022-03-09 07:17] smrithi1912 commented on #737
@Anshika-Srivastava Please check if this meets your requirements. I have made the changes

[2022-03-09 11:28] Adhetya opened #757 "Bug Report: Image size is very small in About us page"
### Reproduction steps

There is very little space between the image and terms and conditions text which doesn't make the UI look good. Also image size and social icons are very small and doesn't look clear.

### Expected behavior

UI should look clean with adequate spacing without wasting too much space

### Actual Behavior

<img width="1438" alt="Screenshot 2022-03-09 at 4 52 16 PM" src="https:/

[2022-03-09 16:28] mariam199911 opened #760 "Feature: make the quiz section attractive"
### Feature description

I would like start my work by change the design of quiz section to be more attractive ,Please assign me
![image](https://user-images.githubusercontent.com/64384533/157485533-1d466dbe-0240-47a3-b7b2-8ccdb62668f1.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of

[2022-03-09 16:31] mariam199911 commented on #729
ok, thanks

[2022-03-09 16:37] Khushi25pandey commented on #760
I am a participant under GSSOC. I would like to work on the issue. Can you please assign it to me @mariam199911

[2022-03-09 16:42] devaaquib commented on #757
@Adhetya  Start working on it.

[2022-03-09 16:44] devaaquib commented on #760
@mariam199911  can i assign this issue to @Khushi25pandey  or would you start working on it.

[2022-03-09 16:48] #757 closed

[2022-03-09 17:01] mariam199911 commented on #760
you can. I started working on footer

[2022-03-09 17:07] devaaquib commented on #760
@mariam199911 i assign this issue to you.

[2022-03-09 17:09] mariam199911 commented on #760
to me? I'm currently working on footer

[2022-03-10 03:11] Adhetya opened #762 "Bug Report: Social icons are very small in most of the pages in the website"
### Reproduction steps

The social icons are very small in most of the webpages in the website which doesn't make for a very good Ui

### Expected behavior

Social icons should be bigger to provide more emphasis towards it.

### Actual Behavior

Icons are too small whose size is not proportional to the rest of the elements
<img width="1440" alt="Screenshot 2022-03-10 at 8 37 31 AM" src="https://us

[2022-03-10 06:32] Ishitacoding opened #763 "Feature: Hover Effect Missing"
### Feature description

I want to add hover effect in NCERT  Books section in Resources page  .

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)
![Scree

[2022-03-10 06:35] Princykri opened #764 "Feature: Add the missing Thumbnail"
### Feature description

In database Design and Development course section one Thumbnail is missing .
![Screenshot (121)](https://user-images.githubusercontent.com/91013588/157603067-d4a4ac2e-3de2-4223-a196-d7685f9b96ec.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X]

[2022-03-10 09:08] SauravMukherjee44 commented on #763
@Ishitacoding Go for it!

[2022-03-10 09:09] SauravMukherjee44 commented on #764
@Princykri Go for it!

[2022-03-10 11:00] #763 closed

[2022-03-10 11:01] #764 closed

[2022-03-10 11:24] Princykri opened #767 "Bug Report: Opening tag in missing in some element in Index.html File"
### Reproduction steps

Opening tag is missing in the element . Due to which not reflecting the property of CSS on that.

### Expected behavior

will fix that by adding

### Actual Behavior

syntax error:
![Screenshot (128)](https://user-images.githubusercontent.com/91013588/157651767-f1375eb5-62aa-44f3-b0cb-f11a4d34ec05.png)

result:
![Screenshot (129)](https://user-images.githubusercontent.com/9

[2022-03-10 14:44] Tanvi444 commented on #663
Can you  please assign this issue to me under GSSOC22

[2022-03-10 17:17] vaishnavi2810-code opened #769 "Bug Report: Validation for phone number is not working in book donation form."
### Reproduction steps

When I submitted the form for book donation, the contact us field was not validated and submitted as it is even if the contact number was 3 digit. Also the form values did not reset after form submission.

### Expected behavior

The phone number should be validated before submission of the form as a part of client-side validation and the form should reset after submission.

[2022-03-10 20:30] SauravMukherjee44 commented on #769
@vaishnavi2810-code Go for it!

[2022-03-11 08:07] Admiller03 commented on #510
Hey can i add some resources??

[2022-03-11 12:54] codervivek5 commented on #685
I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me

[2022-03-11 12:55] codervivek5 commented on #752
I would like to work on this issue under Gssoc'22...plz assigned it to me

[2022-03-12 05:13] hardikdheer opened #771 "Change background of GET IN TOUCH PAGE"
![image](https://user-images.githubusercontent.com/92752059/158004771-7c67b891-afc4-4f39-9c66-4fe88a07116d.png)
@SauravMukherjee44 .Please assign this issue to me under GSSOC'22 contribution.

[2022-03-12 05:37] Ganji-Meghana opened #772 "Feature: Adding features to Choose and read books section"
### Feature description

When I enter a topic in Choose and read books section like Data structures in c and c++ then a random pdf is generated. So instead of displaying a default page I want to display a couple of books related to searched topic and give access to user to choose book of his/her choice.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked

[2022-03-12 06:19] devaaquib commented on #771
@hardikdheer Start working on it.

[2022-03-12 06:30] devaaquib commented on #772
@Ganji-Meghana Start working on it.

[2022-03-12 06:32] ramakrishna-mrk opened #773 "Bug Report: FAQ link in HomePage Footer is not linked to FAQ section."
### Reproduction steps

1. Creating a "Id" to FAQ Section.
2. And then linking FAQ  ahref to that Id.

### Expected behavior

![Screenshot_52](https://user-images.githubusercontent.com/91669420/158006860-6727bcf4-6995-48d8-9dd1-8dde6347e5b2.png)

### Actual Behavior

![Screenshot_51](https://user-images.githubusercontent.com/91669420/158006849-2d6cf0f2-c25b-444e-b34e-9527bd763b93.png)

### 👀 Have

[2022-03-12 06:32] ramakrishna-mrk commented on #773
I am a Contributor for GSSoC can you please assign this issue to me.

[2022-03-12 15:02] ankeeta-ahire opened #775 "Feature: Adding a reset button for book donation form"
### Feature description

The reset button , if added, will clear all the previous data entered in the donation form so that a new entry can be made quickly.
I can do this, please assign me this issue.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of

[2022-03-12 15:15] #762 closed

[2022-03-12 15:30] Adhetya opened #776 "Bug Report: Blog cards are not of equal size"
### Reproduction steps

The size of cards in the blog section are not equal. There is also very little padding and gap between each of the cards.

### Expected behavior

Cards should be spaced out and have equal size

### Actual Behavior

Cards are unequal in size. With some styling, UI can be improved.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked

[2022-03-13 01:49] MadhuSaini22 commented on #776
Hey @SauravMukherjee44 , please assign this task to me under GSSOC'22 label.

[2022-03-13 08:04] Aman16-ai commented on #775
can i work on this issue ?

[2022-03-13 11:34] Anshika-Srivastava commented on #773
@ramakrishna-mrk you have been assigned this issue. You can start working.

[2022-03-13 11:35] Anshika-Srivastava commented on #775
@ankeeta-ahire you have been assigned this issue. You can start working.

[2022-03-13 11:36] Gyanvi908 opened #777 "Feature: Regional language book section"
### Feature description

we can have a regional language book section so that people from the different regions can access it. There we can put the books of the same type but in different languages. This made our website more convenient to the people and can become on-demand. Also if someone wants to read the same book in a different language he/she can access it easily without moving to the other

[2022-03-13 11:37] Anshika-Srivastava commented on #776
@Adhetya you have been assigned this issue. You can start working.

[2022-03-13 11:37] Anisharai10 opened #778 "we can have a paid membership section for premium book Feature:"
### Feature description

In most of the library we always see two section one which is accessible to all and other one is for only for the person which have its premium membership . so we can add a section here so who so ever want to by membership can buy and read premium books.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar

[2022-03-13 11:47] #732 closed

[2022-03-13 15:48] ramakrishna-mrk opened #780 "Feature: Creating a Privacy Policy Page for AEC library Website"
### Feature description

Creating a new Page for Privacy Policy of AEC library website.

Privacy Policy covers
1. Information Collection and Use
2. Cookies
3. Use of Third Party Services.
4. Security
5. Links to Other Sites
and etc.

Below is the sample screenshot of what privacy policy page covers
![Screenshot_57](https://user-images.githubusercontent.com/91669420/158120033-466e25a3-12c4-4b4f-a80

[2022-03-13 15:50] ramakrishna-mrk commented on #780
I am a Contributor for GSSoC, So please assign this issue to me.

[2022-03-13 17:06] devaaquib commented on #777
@Gyanvi908 Start working on it.

[2022-03-13 17:07] devaaquib commented on #778
@Anisharai10 Its Open-Source Project is free for everyone for a lifetime.

[2022-03-13 17:07] #778 closed

[2022-03-13 17:26] Anisharai10 commented on #778
Ok thanks for information

[2022-03-13 17:29] harshalw07 opened #781 "Bug Report:"
### Reproduction steps

While surfing the website I found that on the sign-up page the form will accepting the wrong Phone numbers also.
Usually It should accept only 10 digit .
There is need of validation.

### Expected behavior

Sign-up form should accept only 10 digit number.

### Actual Behavior

Sign-up form accepting any number of digits in phone number section.

### 👀 Have you spent some ti

[2022-03-13 17:42] Anisharai10 opened #782 "we can have a book review section . Feature:"
### Feature description

In the ace -library section we can add a book review section so that it can motivate lot of people to read book after the review

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/

[2022-03-14 04:08] Anisharai10 commented on #778
Hello saurav i have raised new issue #782 please check and let me know if
it works.

On Sun, Mar 13, 2022, 10:37 PM Aaquib Ali ***@***.***> wrote:

[2022-03-14 05:01] Kumar-laxmi opened #783 "Feature: Code Optimization"
### Feature description

In multiple files same JS and CSS code have been repeated again and again.

So Code Optimization could be done to increase readability and reduce complexity.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://

[2022-03-14 09:35] devaaquib commented on #782
@Anisharai10 Go for it.

[2022-03-14 09:35] devaaquib commented on #783
@Kumar-laxmi Start working on it.

[2022-03-14 09:36] devaaquib commented on #781
@harshalw07 Go for it

[2022-03-14 09:55] #775 closed

[2022-03-14 12:38] Manushi05 commented on #776
I would like to contribute to this issue as still padding is uneven and add more blogs other than technical.

[2022-03-14 12:50] Manushi05 commented on #781
Sign Up Form font and image isn't proper I guess so can you assign me that issue

[2022-03-14 13:53] harshalw07 commented on #781
Thanks ,
Started working on it ☺️.

[2022-03-14 20:47] erdivyanshu commented on #639
Can you please check and verify my pull request @devaaquib [devaaquib](https://github.com/devaaquib)

[2022-03-15 07:58] Princykri opened #789 "Feature: Arrange the content of footer section of contribution page. Its not Looking good."
### Feature description

Link and Address are not arranged properly.
![Screenshot (134)](https://user-images.githubusercontent.com/91013588/158331629-bc0ed43f-a2d7-4f18-aa90-d8bcefb80696.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct]

[2022-03-15 14:48] SauravMukherjee44 commented on #789
@Princykri Go for it!

[2022-03-16 22:19] ahmed0saber opened #792 "Feature: storing books data in a JSON file"
### Feature description

I can create a JSON file with the data of these books such as image url and download button url, then fetching this file with javascript to build the books section instead of copy then pasting the same div on each book added...
that will be the best solution sooner if someone wanted to create an API for adding books to the JSON file and getting data from it...

### 👀 Have

[2022-03-16 22:39] Abrar-2510 opened #793 "Feature:"

[2022-03-16 23:49] ahmed0saber opened #794 "Feature: improving SEO and adding an icon"
### Feature description

I can add meta tags for better search engine optimization, correct alt attribute of images, add icon to the website, to make it SEO-Friendly..

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/Saur

[2022-03-17 06:35] nikhilsharma3720 commented on #789
I would like to work on this issue under GSSOC. Please assign it to me.

[2022-03-17 06:50] Princykri commented on #789
Sorry to say  @nikhilsharma3720  but this issue is created by me . And I have almost completed this work .

[2022-03-17 08:03] Ishitacoding opened #795 "Feature: About Page Footer modification"
### Feature description

Want to modify  footer, covering and colour in About Page.

![Screenshot (42)](https://user-images.githubusercontent.com/98388241/158763687-17ceae61-5d8f-4f65-935d-ecacf61c7d41.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [C

[2022-03-17 08:10] #795 closed

[2022-03-17 11:28] Shivam-Katare commented on #793
@Abrar-2510 what type of features do you want to add to this website. I am good at front-end so, I can help with this issue.

[2022-03-18 15:21] devaaquib commented on #792
@ahmed0saber Go for it.

[2022-03-18 15:26] devaaquib commented on #793
@Abrar-2510 can you please teel the issue.

[2022-03-18 15:26] devaaquib commented on #794
@ahmed0saber Start working on it.

[2022-03-18 15:33] #776 closed

[2022-03-18 15:34] devaaquib commented on #776
@Manushi05  this issue is already solved. Please raise another issue.

[2022-03-18 17:44] #767 closed

[2022-03-18 17:57] #773 closed

[2022-03-18 18:05] Kishandixit commented on #167
I wants to work on this issue. So  please assign this to me under GSSOC'2022

[2022-03-18 18:06] #792 closed

[2022-03-18 18:06] #794 closed

[2022-03-18 18:06] #793 closed

[2022-03-19 05:32] #682 closed

[2022-03-19 10:16] ktyayani commented on #66
hello! I'm a GSSoC '22 contributer and I have some more resources I'd like to add to the resources page. Can you assign me this issue if it's still possible? Thank you!

[2022-03-19 15:22] Adhetya opened #797 "Bug Report: Buttons not entered in recommended books section"
### Reproduction steps

Buttons are not centred in the recommended books section not making a good UI. Also, there is too much space between the image and button which can be reduced.

### Expected behavior

Button should be aligned in the center and space between the image and button can be reduced.

### Actual Behavior

<img width="1440" alt="Screenshot 2022-03-19 at 8 41 32 PM" src="https://use

[2022-03-19 17:04] Shreya-singhal07 opened #798 "Change layout of Quiz End page"
### Feature description

Changes proposed:
- button design
- spacing and padding
- color (contrasting color for better clarity)
- quiz score in a container

<img width="762" alt="Screenshot 2022-03-19 at 10 27 53 PM" src="https://user-images.githubusercontent.com/69424250/159130762-836fe9a2-d33e-4a1e-8e84-5b544dd8cad6.png">

### 👀 Have you spent some time to check if this issue has been raised bef

[2022-03-19 17:58] devaaquib commented on #798
@Shreya-singhal07 go for it.

[2022-03-19 18:06] Shreya-singhal07 commented on #798
thanks sir✨

[2022-03-20 11:39] Yasshu55 commented on #797
is this issue open to work or did you open it @Adhetya ?

[2022-03-20 11:49] Adhetya commented on #797
Issue was opened by me. It hasn't been assigned yet

[2022-03-20 14:14] #780 closed

[2022-03-20 15:26] ramakrishna-mrk opened #801 "Bug Report: Broken Hyperlinks of Privacy Policy in footer sections of all the pages."
### Reproduction steps

As a new Privacy Policy Page is created recently for AEC Library. But the hyperlinks of footer sections are still not targeted to its origin url.

- Linking ahref of privacy policy to its correct url.

![Screenshot_71](https://user-images.githubusercontent.com/91669420/159169646-3c42eede-cb95-4fa1-b238-3e849c21741d.png)
![Screenshot_72](https://user-images.githubusercontent

[2022-03-20 15:29] ramakrishna-mrk commented on #801
I am a GSSoC Contributor, i will fix this issue.

[2022-03-21 08:29] Siddhesh777 opened #802 "Feature: Toggle the visibility (show/hidden) of password while signing up."
### Feature description

It is necessary to have a button which toggles the visibility of password from show to hide and vice-versa.
We can implement this using react useState hook.

![1](https://user-images.githubusercontent.com/77476772/159226387-9f3cf421-db3b-4c12-aaea-42435ac93d89.png)

I am contributor at gssoc'22.
Please assign this issue to me.

### 👀 Have you spent some time to check if th

[2022-03-21 10:04] devaaquib commented on #802
@Siddhesh777 Start working on it.

[2022-03-21 14:31] Devmindtk commented on #521
I would like to work on this..please assign it to me

[2022-03-21 17:12] Siddhesh777 opened #804 "Feature: Changing the UI of show password button while logging in"
### Feature description

I can change a UI of show/hide password button.
I will make an eye next to password input field which will toggle the its visibility.

![1](https://user-images.githubusercontent.com/77476772/159325785-c6d6ebf9-b83c-406e-a68e-fb4b387e425c.png)

I am contributor at gssoc'22.
Please assign this issue to me.

### 👀 Have you spent some time to check if this issue has been raise

[2022-03-21 19:02] Diksha4111 commented on #745
Can i contribute to this issue?

[2022-03-21 19:03] Diksha4111 commented on #798
Can I get the opportunity to work on this issue?

[2022-03-22 07:17] Jyoti6828 commented on #510
I want to work on this issue under GSSOC'22.

[2022-03-22 07:26] leesha19 commented on #510
hey can uh pls ressign me this for GSSOC i was unable to complete this under SWOC

[2022-03-22 07:31] khushbubijawat commented on #666
Hello @Anshika-Srivastava!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-22 09:14] IshitaSharma26 opened #805 "Feature: Changes in Login Page image"
### Feature description

![Screenshot (48)](https://user-images.githubusercontent.com/98388241/159446522-4df61de5-5ace-44b9-88f6-3260af88dcc6.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Lib

[2022-03-22 11:07] DeveloperAshish8 opened #807 "Bug Report: "Subscribe to our news letter" is displaying as link but taking nowhere, It should be displayed as text."
### Reproduction steps

While scrolling till the end of home page the text "Subscribe to our news letter" is displaying as link.

### Expected behavior

This should be displayed as a text say paragraph or heading.

### Actual Behavior

It is displaying as a link with no landing page.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find sim

[2022-03-22 11:09] DeveloperAshish8 commented on #807
Please assign me this issue I want to resolve it.

[2022-03-22 11:10] VIDHI-BAJAJ commented on #801
Can i work on this issue

[2022-03-22 11:11] VIDHI-BAJAJ commented on #797
Can i work on this issue

[2022-03-22 11:11] VIDHI-BAJAJ commented on #745
Can i work on this issue

[2022-03-22 16:24] SauravMukherjee44 commented on #805
@IshitaSharma26 Go for it!

[2022-03-22 16:42] samyberkane04 commented on #797
@Adhetya

I found your issue intersting,I have solution .
do you agree that i contribute in this project ?
thank you .

[2022-03-23 22:41] Riddhi9570 opened #809 "Bug Report: Navigation tab for NCERT books and Audio books in Resources page"
### Reproduction steps

In resources page, the navigation tab for "NCERT Books" and "Audio Books" is not given. And the "Home" and the "About"  tabs are mixed with the resources list.

### Expected behavior

The "NCERT Books" and "Audio Books" should be added in the quick navigation tab, and "Home" button should be present at different location.

### Actual Behavior

![Screenshot (23)](https://use

[2022-03-23 22:49] Riddhi9570 opened #810 "Feature: Add more books under NCERT Books in resources page"
### Feature description

In the resources page, under the "NCERT Books" section, add a "More books" button that will lead to a new page consisting of all the books of NCERT "class-wise" and "subject-wise".

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Co

[2022-03-24 03:18] SDE-ADNAN commented on #809
Pls assign me to do it
"will add a home icon at the start of the section and add NCERT books and Audio Books button"

[2022-03-24 12:32] Anshika-Srivastava commented on #809
@Riddhi9570 you have been assigned this issue. You can start working!

[2022-03-24 12:33] Anshika-Srivastava commented on #810
@Riddhi9570 you can start working

[2022-03-24 13:58] SDE-ADNAN commented on #809
great starting ASAP

[2022-03-24 14:06] Riddhi9570 commented on #809
@SDE-ADNAN I think you are having a confusion. This issue has not been assigned to you, it's assigned to me. You may create a different issue and get yourself assigned. Best of luck!

[2022-03-24 14:14] SDE-ADNAN commented on #809
ok mybad i have a issue ready will raise it very soon happy coding

[2022-03-24 15:58] dvlsatya commented on #733
i want to work on this issue./assign

[2022-03-25 19:17] sophiastr opened #812 "Bug Report: Log in bottom does not work."
### Reproduction steps

When I press the LOGIN button, the form appears and I fill in the details. Once I fill them in correctly, I press the button and it does not work. Nothing changes and I stay on the same page.

### Expected behavior

Τhe button should work and take me to the main page. On the main page, my Username should be displayed in the Navbar.

### Actual Behavior

![Στιγμιότυπο οθόνης

[2022-03-25 19:22] sophiastr commented on #760
hello, i want to deal with this issue.
Can i have it?
thank you

[2022-03-26 14:24] vaishnavi2810-code opened #813 "Bug Report: Contact Us page not working"
### Reproduction steps

When contact us page is accessed, the validation for it is not working and the data is also not submited.

### Expected behavior

When the user clicks on submit button, validation is not working and the data is also not submitted.

### Actual Behavior

When the user submits his/her data, the form should be validated and the data should be inserted in the database.

### 👀 Ha

[2022-03-27 05:49] #625 closed

[2022-03-27 05:50] AmolShelke2 commented on #625
you first assign me this issue and then I created a pr you close and assign this to someone else!

[2022-03-28 19:43] SauravMukherjee44 commented on #813
@vaishnavi2810-code Go for it!

[2022-03-28 19:46] #809 closed

[2022-03-30 14:19] vaishnavi2810-code commented on #813
Can you please let me know how can I access the database as I need to create a relation for data to be submitted. The rest of the code is done but it shows me an error that the realtion does not exist.

![image](https://user-images.githubusercontent.com/65387125/160856928-e08d18ae-a854-48ce-9a0f-af1fb28ada72.png)

[2022-03-30 16:16] #802 closed

[2022-03-30 16:48] Adhetya opened #818 "Feature: Add animations"
### Feature description

We can add animations on scroll to make the UI better and more professional

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-03-30 17:00] Priyanshi136 opened #819 "Bug Report: Scroll Bar at landing page is not working."
### Reproduction steps

As we click on the link to the website,  the landing opened has scroll bar but it isn't working, on the mouse click.

### Expected behavior

It actually have to scrolls down and shows the whole content, after clicking thorugh the mouse

### Actual Behavior

But isn't showing it. Only working when clicked from the keyboard.

### 👀 Have you spent some time to check if this is

[2022-03-31 11:16] devaaquib commented on #818
@Adhetya Go for it

[2022-04-01 07:35] Jyoti6828 opened #820 "Bug Report: Some Books in Recommended Book Section not working Properly"
### Reproduction steps

### In the recommended book section -
![image](https://user-images.githubusercontent.com/78480983/161210161-ad6b37cb-7ec7-4491-ba88-5f0136920837.png)

### The books
![image](https://user-images.githubusercontent.com/78480983/161210314-c61b927c-5aaf-42a6-98c9-073ec3b47663.png)
![image](https://user-images.githubusercontent.com/78480983/161210388-a644033e-ccc0-49a6-a890-d188e

[2022-04-01 07:45] Jyoti6828 commented on #820
I want to work on this issue under GSSoC'22.

[2022-04-01 09:40] shubhsardana29 commented on #685
hey @Anshika-Srivastava is anyone working on this issue? if not could  you please assign this task to me? I would like to work on it., am a participant of GSSOC'22.

[2022-04-01 13:38] SauravMukherjee44 commented on #819
@Priyanshi136 Go for it!

[2022-04-01 13:40] SauravMukherjee44 commented on #820
@Jyoti6828 Go for it!

[2022-04-01 17:38] dewanshiPaul opened #821 "Bug Report: UI of signup page is distorted"
### Reproduction steps

UI of the sign up page is distorted in laptop UI.

### Expected behavior

The UI should be responsive

### Actual Behavior

![image](https://user-images.githubusercontent.com/92020810/161312843-4e253ef6-965f-4e84-a545-06250c172d23.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have yo

[2022-04-02 04:18] dewanshiPaul commented on #821
/assign

[2022-04-02 14:22] Priyanshi136 commented on #819
okay, i will try to raise PR as soon as i can.

[2022-04-03 12:40] Priyanshi136 commented on #819
hey, i want to ask one thing like i had did changes what i think are needed, now i want to check if they are giving required result or not. So how can i check it?

[2022-04-03 17:57] aaryahjolia commented on #789
I would like to work on this issue if it is not done yet!
Kindly assign me this issue.

[2022-04-03 18:08] KevinGandhi9898 opened #826 "Feature: Improving Donate Book Section"
### Feature description

1. Making some changes in the UI of the Donate Book Webpage to look better.
2. Editing the Form and making the relevant fields "required".
3. Editing the buttons of the Form.
4. Alignment Fixes.

@SauravMukherjee44

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of C

[2022-04-04 03:59] devaaquib commented on #826
@KevinGandhi9898 Go for it.

[2022-04-04 05:24] KevinGandhi9898 commented on #826
ya sure. Thanks @devaaquib

[2022-04-05 02:48] Adhetya opened #828 "Bug Report: Horizontal scrolling is present"
### Reproduction steps

When website is loaded, there is horizontal scrolling.

### Expected behavior

There should not be any horizontal scrolling.

### Actual Behavior

Horizontal scrolling is present

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code

[2022-04-05 13:56] codingkush opened #830 "Fix the extra space and center the all sections"
### Reproduction steps

 I visited this website and i scrolled horizontally then i found the extra space in left side of whole website and the ' your books'  and ' choose and read books ' section are not center...

![Screenshot_20220405-192336~2](https://user-images.githubusercontent.com/78756312/161770366-657f703e-1e2c-4e2d-9a9d-65d53270bdf3.png)

### Expected behavior

There should not extra spa

[2022-04-05 14:32] #821 closed

[2022-04-05 17:58] #810 closed

[2022-04-06 00:16] #643 closed

[2022-04-06 10:20] Sukriti-m commented on #805
Hi @SauravMukherjee44
If this task is being delayed, then I'd be glad to work on this issue.
I'd be grateful if you could assign this task to me under GSSoC'22.

[2022-04-06 10:31] Sukriti-m commented on #830
Hi @codingkush
I'd be glad to work on this issue.
I'd be grateful if you could assign this task to me under GSSoC'22.

[2022-04-06 11:08] codingkush commented on #830
@Sukriti-m  I'm also a GSsoc 22 contributer and I also want to work on this issue

[2022-04-06 13:27] #828 closed

[2022-04-07 01:48] #783 closed

[2022-04-07 06:48] Sanjanabharadwaj25 opened #832 "Bug Report: FAQ section"
### Reproduction steps

On scrolling up, the FAQ boxes disappear randomly.

### Expected behavior

It would be better if it remained static.

### Actual Behavior

<img width="959" alt="image" src="https://user-images.githubusercontent.com/77878089/162136095-d9d23476-3bfc-4e1d-8384-a7048be33fb1.png">
<img width="802" alt="image" src="https://user-images.githubusercontent.com/77878089/162137149-e4f5

[2022-04-07 06:48] Sanjanabharadwaj25 commented on #832
I would like to work on this under GSSOC'22

[2022-04-07 07:13] Rishita489 commented on #820
Hey @SauravMukherjee44 , I am a GSSOC'22 Contributor . Can  you please assign this issue to me . I have send the PR solving the above issue . You can review and merge it .

[2022-04-08 02:44] Adhetya opened #834 "Bug Report: Redesign signup page"
### Reproduction steps

The background image looks good, but is not related to the website theme. Also, it would be better if the form is aligned in the center. Also, in mobile view, there is overlap between text and sign-in button.
<img width="1440" alt="Screenshot 2022-04-08 at 8 10 43 AM" src="https://user-images.githubusercontent.com/20537150/162352754-397b0486-ab65-473f-864a-78e348a80bcb.png"

[2022-04-08 08:27] Anshika-Srivastava commented on #834
You can start working on the issue.

[2022-04-08 14:12] codingkush commented on #830
Plz ... assign this issue to me under GSsoc 22

[2022-04-08 17:16] SauravMukherjee44 commented on #830
@codingkush Align the element at the center in the mobile view.

[2022-04-09 13:19] codingkush commented on #830
ok...i do

[2022-04-10 18:43] #834 closed

[2022-04-11 03:43] #820 closed

[2022-04-11 03:44] #832 closed

[2022-04-11 07:30] Adhetya opened #837 "Bug Report: Change UI of login page"
### Reproduction steps

The current UI of login page is not looking very good.

### Expected behavior

UI is expected to look neat and professional

Proposed UI:

Similar to sign up page with a different image
<img width="1440" alt="Screenshot 2022-04-11 at 12 57 21 PM" src="https://user-images.githubusercontent.com/20537150/162686408-d3794dc6-0cbb-4dff-8934-44f017de025e.png">

### Actual Behavior

[2022-04-11 11:32] maheshdbabar9340 opened #838 "Bug Report: Want to give same padding at for every button after hovering from top and bottom side."
### Reproduction steps

I will add styling (padding-bottom) for buttons when we are hovering on that button to make it in similar passion and padding should be equal from both the sides.

### Expected behavior

Padding should be same from both the sides.

![1](https://user-images.githubusercontent.com/53929423/162730521-6bfd2605-0158-4059-95c5-d1e50b391c80.png)

### Actual Behavior

Padding is not

[2022-04-11 12:43] maheshdbabar9340 opened #839 "Feature: Want to add smooth toggle effect and only one tab should be visible at a time"
### Feature description

In our given website toggling effect is too fast compared with whole other effects.

This below video gives us a glance on smooth toggling effect.

https://user-images.githubusercontent.com/53929423/162740752-f5b438c3-bf34-4dbf-8695-6365c1f8d88b.mp4

Another issue is in below image, we can see like we can see many answers at a time, but for better user friendly it should o

[2022-04-12 11:52] #782 closed

[2022-04-12 14:17] #805 closed

[2022-04-14 08:06] Divya2163 commented on #837
Hi, I would like to work on this issue. can you assign me this?

[2022-04-14 08:06] Divya2163 commented on #837
Hi, I would like to work on this issue. can you assign me this?

[2022-04-14 08:10] Divya2163 commented on #837
Hi, I would like to work on this issue. can you assign me this?

[2022-04-14 10:59] devaaquib commented on #839
@maheshdbabar9340  Go for it.

[2022-04-15 16:43] Divya2163 opened #841 "Bug Report: The UI is not perfectly synced. The color theme need to be improved"
### Reproduction steps

When the page is opened on different devices it is not perfectly responsive. The color theme of the UI of the website is also not perfectly matching. The color theme can be improved and a few images on the website can be changed to make it look more clean and elegant. The change in the color theme, and orientation of the cards will make the overall look of the website more

[2022-04-15 16:43] Divya2163 commented on #841
I would like to work on this issue under gssoc'22.

[2022-04-17 11:09] DeveloperAshish8 opened #842 "Documentation: The spelling of Andhra Pradesh is wrong in donate book form dropdown."
### Description

The correct spelling should be Andhra Pradesh.
![Screenshot (21)](https://user-images.githubusercontent.com/90233808/163711813-951d3f29-7304-4830-9277-2a11df8e7295.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https

[2022-04-17 12:07] #830 closed

[2022-04-17 17:09] #777 closed

[2022-04-18 07:11] SauravMukherjee44 commented on #841
@Divya2163 Go for it!

[2022-04-18 07:14] #842 closed

[2022-04-18 13:30] Akshata-Gunapache opened #846 "Minor changes to readme"
### Description

The "open in vscode" option is not visible as an svg batch.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-04-18 13:32] Akshata-Gunapache commented on #846
I am a GSSoC 2022 participant . Please assign this issue to me. I would like to make the above change and other necessary changes to the readme.

[2022-04-18 13:32] Akshata-Gunapache commented on #846
/assign

[2022-04-18 13:40] Akshata-Gunapache commented on #723
@devaaquib I am a GSSoC 2022 participant . I am interested in solving this issue and would like to solve it as soon as possible. Please assign it to me.

[2022-04-18 13:41] Akshata-Gunapache commented on #723
/assign

[2022-04-19 04:39] Anisharai10 commented on #782
could you please tell me why the review section is not visible on the main
page. Because the issue was closed.

On Tue, Apr 12, 2022, 5:22 PM Saurav Mukherjee ***@***.***>
wrote:

[2022-04-19 07:48] Anisharai10 commented on #782
hey saurav i am writing mail again and again because i need it . I want to
add this work on my resume and if  i am providing the link  my work
should be there please check what is the problem and fix it my review
section is not  visible on main page . i am attaching the screenshot of
page.
thanks regards
anisha rai

On Tue, 19 Apr 2022 at 10:09, 034 Anisha Rai ***@***.***>
wrote:

[2022-04-20 19:58] Atif0604 commented on #801
I am a GSSoC Contributor, please assign it to me.

[2022-04-21 21:55] TG922 opened #847 "Feature: Improving UI of Donate Book Section"
I would like to make some changes to the User Interface of the Donate Book page.

## Code of Conduct

- [x] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-04-22 09:50] #847 closed

[2022-04-29 06:19] #819 closed

[2022-04-30 21:31] Ashish4321-hub opened #848 "Bug Report: text are not aligned properly in contributor page"
### Reproduction steps

By making text centre aligned in css

### Expected behavior

All the text will be aligned properly

### Actual Behavior

![Screenshot_2022-05-01-02-53-24-59_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/88235823/166123354-cece1b42-6329-47ef-9c1e-624cb126620c.jpg)

### 👀 Have you spent some time to check if this issue has been raised before?

-

[2022-04-30 21:37] Ashish4321-hub opened #849 "Bug Report: icon is not visible in contributor page"
### Reproduction steps

I add icon of Twitter, YouTube etc. in contributor page

### Expected behavior

.

### Actual Behavior

![Screenshot_2022-05-01-02-53-24-59_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/88235823/166123429-a94d7efb-6f13-454e-b502-4564a5b88942.jpg)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and

[2022-05-01 13:00] Riddhi9570 opened #850 "Exchange the dummy books with NCERT books in NCERT page"
### Feature description

Exchange the dummy books in NCERT page with the real NCERT books. I will add over 65 NCERT books of classes 8,9,10,11,12.

![Screenshot (84)](https://user-images.githubusercontent.com/72887868/166147267-2df213ce-f69b-4854-819d-83af9f760e15.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

###

[2022-05-03 07:32] Ashish4321-hub commented on #848
/assign

[2022-05-03 07:32] Ashish4321-hub commented on #849
/assign

[2022-05-03 23:43] tannuahuja opened #851 "Timing"
### Feature description

We can add timings when the library is open and closed.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-05-03 23:47] tannuahuja opened #852 "Different category of books"
### Feature description

Instead of only showing Html, Css , and JS books, we can add different category of books in the recommended section i.e for kids, novels etc.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/Saura

[2022-05-03 23:51] tannuahuja opened #853 "Help section"
### Feature description

We can also add help section in the footer of the website so that if any user face any type of problem or have any kind of query they will reach us.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.co

[2022-05-07 06:49] DeveloperAshish8 opened #854 "The navbar of Blogs page is active towards about"
### Reproduction steps

In Blogs page the about icon is active in navbar.
![Screenshot (45)](https://user-images.githubusercontent.com/90233808/167242342-213ea16f-b671-4e28-b7fa-873da3148683.png)

### Expected behavior

The blogs icon should be active in navbar

![Screenshot (46)](https://user-images.githubusercontent.com/90233808/167242473-d0386920-4e85-4af3-91d3-dd3992d84821.png)
.

### Actual B

[2022-05-07 10:47] DeveloperAshish8 commented on #854
I am a  GSSoC participant please assign me this issue

[2022-05-08 18:43] tasneemahmed123 commented on #771
hi, can you assign me this issue?

[2022-05-09 00:18] Kanika2772002 commented on #851
ohky i can add the timimg , so can u assign me @tannuahuja

[2022-05-09 00:23] Kanika2772002 commented on #826
@KevinGandhi9898 can u assign me for it to do rapidly.

[2022-05-09 04:32] devaaquib commented on #771
@tasneemahmed123 hardkdheer is already working on it.

[2022-05-09 07:12] Abhilasha-Jairath commented on #745
I want to work on this under GSsoc 2022 , Can you please assign it to me .

[2022-05-10 05:16] tannuahuja commented on #851
how can I assign you?

[2022-05-11 06:02] devaaquib commented on #854
@DeveloperAshish8  Go for it.

[2022-05-11 06:03] devaaquib commented on #853
@tannuahuja Start working on it.

[2022-05-11 06:04] #852 closed

[2022-05-11 06:07] devaaquib commented on #851
@tannuahuja @Kanika2772002  which one of you want to work on this issue....?

[2022-05-11 06:07] devaaquib commented on #850
@Riddhi9570 go for it!

[2022-05-11 06:11] devaaquib commented on #846
@Akshata-Gunapache can you specify your changes.

[2022-05-11 07:27] rohitkhicher001 commented on #850
I would like to work on it as a GSSOC'22 participant.

[2022-05-11 07:35] rohitkhicher001 commented on #798
Can i work on this issue?

[2022-05-11 13:00] tannuahuja commented on #851
@tannuahuja me

[2022-05-12 06:07] Akshata-Gunapache commented on #846
![IMG_20220512_113637](https://user-images.githubusercontent.com/96786500/168003069-f72cae84-b585-4428-8d27-74960de67bb9.jpg)

[2022-05-13 10:05] Nitya-S27 opened #856 "Bug Report: Issue of extra width"
### Reproduction steps

**I opened the website and while scrolling the page, it moved a bit towards left.**

### Expected behavior

There is a minor issue of extra width and an additional scroll bar at the bottom which scrolls to this width.

### Actual Behavior

The page's width should be 100% with the screen. For this only a single CSS property needs to be added that is removing the overflow in

[2022-05-13 13:42] prabhakar-dessai opened #857 "Improving CSS for the issue here, your books and choose books sections Gssoc 2022"
### Feature description

The sections on front page have different style, some are highlighted and some don't have proper padding. I would like to adjust the CSS for the sections so they fit the website better and are uniform in design.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Cond

[2022-05-13 14:13] prabhakar-dessai commented on #857
I'm a Gssoc 2022 participant, please assign this issue to me.

[2022-05-13 14:58] prabhakar-dessai opened #858 "Bug Report: Some quick links in the About us page do not work."
### Reproduction steps

Some of the links in the footer of the about us page (donate books, FAQ, Privacy policy) give an error on click.

### Expected behavior

The links should redirect to the specified link.

### Actual Behavior

It gives an error page on click.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Ha

[2022-05-13 15:01] prabhakar-dessai commented on #858
I am a GSsoc participant and would like to work on this issue and also work on improving the layout and styles of the section.

[2022-05-16 03:06] srivastavaritik commented on #841
Is this issue solved? If not kindly assign me this.

[2022-05-17 14:45] Siddhi-Mundada opened #859 "I would like to add More blogs in the blog section."
### Feature description

The blog page is containing only 6 blogs. I would like to add 6 more blogs in this section with animation. After hovering some box shadow will be there.
Please assign this issue to me under GSSOC 22.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X]

[2022-05-18 13:33] sur16-cse commented on #204
Hello @SauravMukherjee44!
If this issue is not resolved kindly please assign it to me

[2022-05-18 14:24] SauravMukherjee44 commented on #859
@Siddhi-Mundada Go for it!

[2022-05-18 14:25] #858 closed, assigned to prabhakar-dessai

[2022-05-18 19:47] KiranAminPanjwani opened #861 "Improving the design of top most form/section"
### Reproduction steps

I have observed that the css of the form and the design of this whole section is not very appealing according to the website.

### Expected behavior

I would like to improve it's css so that the sections look good.

### Actual Behavior

The form:
![Screenshot_2022-05-19-00-44-11-91_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/90326051/16914316

[2022-05-18 19:49] KiranAminPanjwani commented on #861
@SauravMukherjee44 Kindly assign this issue to me. Thank you!✨

[2022-05-21 07:51] the-illuminatus commented on #857
can i work on this issue under gssoc22?

[2022-05-21 21:40] KaranKulshrestha commented on #771
It's been a while work do not get done please assign I'll finish in just few hours.

[2022-05-22 18:50] DhairyaWankhade opened #863 "Want to add more books in Regional Language book section."
### Feature description

In regional language book section there are only 2 books. I want to add more books in regional language book section.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library

[2022-05-23 13:17] Siddhi-Mundada opened #864 "Update YouTube Link in the footer"
### Feature description

I would like to add Youtube link in the footer.
Please assign this issue to me under gssoc'22.
Thanks!

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/m

[2022-05-23 20:56] rohitkhicher001 commented on #859
I would like to add more blogs to this page (possibly 6 more) and I will pick the best resources available.

[2022-05-28 06:21] ramakrishna-mrk commented on #801
@SauravMukherjee44 @devaaquib @Anshika-Srivastava
The Issue is not fixed yet. Please assign this to me, i can work on it.

[2022-05-31 16:08] #846 closed

[2022-08-01 05:58] chiraglal commented on #838
I would like to work on this issue. Can you please assign me this one?

[2022-08-02 15:54] SachinCoder1 commented on #861
I would like to do it.

[2022-08-04 12:38] asifurrahaman754 commented on #863
i want to work on this issue, can you please assign it to me?

[2022-08-05 10:16] Sukriti8877 opened #868 "Feature: Allow users to sign-in via username"
### Feature description

Currently, the user can only log-in using email address, I would like to have this login via username feature added

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-W

[2022-08-05 10:35] Sukriti8877 opened #869 "Bug Report: Login page asks me to check boxes"
### Reproduction steps

[https://drive.google.com/drive/folders/1jKgXDMvnTxXXfJB9STZ-lfcStyPWpTsf?usp=sharing](url) while logging-in this keeps happening. Also, Even if I check the boxes, The same thing happens.

### Expected behavior

It should allow me to log-in to the website.

### Actual Behavior

It doesn't refresh and it says it is mandatory to check the boxes, what-if the user doesn't want

[2022-08-10 05:36] SaarthakMaini commented on #798
I have created a pull request for the same.
Reference: #871
If there are any changes please let me know and I'll be happy to further contribute from my side

[2022-08-10 11:45] #869 closed

[2022-08-11 14:46] SOUMOJIT-CHAKRABORTY commented on #510
Hello! @SauravMukherjee44  actually I want to add a video for DSA in the DSA section, can I make some changes. Btw I am just starting opensource contribution, let me know if I can work on it

[2022-08-11 14:47] SauravMukherjee44 commented on #510
Yes you are good to go! 🚀

[2022-08-11 15:03] SOUMOJIT-CHAKRABORTY commented on #510
Ok , thank you brother😊

[2022-08-13 04:56] vaib1343 commented on #861
I would love to contribute. please assign this bug to me

[2022-08-21 20:45] jivteshsingh commented on #868
Can you assign me this issue.

[2022-08-28 07:49] AmanGit010 commented on #864
Is this issue still open ?

[2022-08-31 07:08] KiranAminPanjwani commented on #861
Kindly ask @SauravMukherjee44 . Thank you.

[2022-09-13 10:42] dpmohod14 commented on #864
hello,
I would like to add Youtube link in the footer.
Please assign this issue to me

[2022-09-13 10:49] dpmohod14 commented on #859
I would like to add more blogs to this page and I will pick the best resources available.

[2022-09-20 10:12] dpmohod14 commented on #789
I would like to work on this issue if it is not done yet!
Kindly assign me this issue.

[2022-09-27 10:29] dpmohod14 commented on #850
I would like to work on it

[2022-09-30 07:16] ayesha-fir commented on #857
hello,I want to contribute to open source and I am new comer can you help me

[2022-09-30 08:34] Shivyoddha commented on #850
Hi @Riddhi9570 ,
I would like to  work on this issue, could you please assign it to me?

[2022-09-30 08:36] Shivyoddha commented on #850
Hi @imaaquibali ,
I would like to work on this issue could you please assign it to me?

[2022-09-30 08:59] Shivyoddha opened #873 "Bug Report: Web Development Course image is not linked to its updated Image"
<b>ISSUE</b>

When we open the Resources section and see the Web Development courses Section we notice that image for one of the courses is not present.

### Expected behavior

<b>It should show the the image of the course in it.</b>

### Actual Behavior

This is the Screenshot of the improperly linked  image.
![image](https://user-images.githubusercontent.com/97729353/193232563-3af5c108-d7d2-4211

[2022-09-30 09:01] Shivyoddha commented on #873
Hi @imaaquibali ,
Could u assign this issue to me as a part of Hacktoberfest?

[2022-09-30 17:28] SauravMukherjee44 commented on #873
@Shivyoddha Go for it!

[2022-09-30 18:59] arian0zen opened #874 "Bug Report: The dropdown icon for select category and select author seems so much odd"
### Reproduction steps

It is on the home page and i am sure that it looks odd to everyone,
look at the drop down icon, just seems a bit off
it just simply looks bad, i mean don't you think it should have a little gap atleast
![image](https://user-images.githubusercontent.com/68517592/193338395-5bba8c97-ebba-4c02-8d27-7bd1b80d0c81.png)

### Expected behavior

i am working on to fix it and give it

[2022-09-30 19:00] arian0zen commented on #874
hey @SauravMukherjee44, can i go for it ?

[2022-09-30 19:10] Panda-Abhisek commented on #850
Hi @SauravMukherjee44
I wanna work on this.
Please assign this to me.

[2022-10-01 02:55] imyoungsparda opened #876 "Bug Report : "Read More" Button in blog pagenot properly placed."
### Reproduction steps

![image](https://user-images.githubusercontent.com/112796825/193380085-a472469c-7d45-4270-829d-7b58a384ea75.png)

Read More button appears outside of the card body in some of the cards in Blog Page.

### Expected behavior

Read More button should be inside the card in all the cards in blog page.

### Actual Behavior

Read more button must be inside the card.

![image](https

[2022-10-01 02:57] imyoungsparda commented on #876
Could you please assign this task to me?

[2022-10-01 04:59] itsvipindev commented on #510
Hello sir its my first time contributing to open source and programs like hacktoberfest i want to to add some video about web development from freecodecamp youtube channel

[2022-10-01 05:59] tushar54594 opened #877 "Minor changes to the Book Donation Form"
Description
In the "Select State" input area, It should be mentioned that "Please select Country first" but it is mentioned "Please select State first"
Similarly In the "Select City" input area, It should be mentioned that "Please select State first" but it is mentioned "Please select City first".

👀 Have you spent some time to check if this issue has been raised before?
 I checked and didn't find

[2022-10-01 06:18] Abhisharma85 commented on #501
Hey, I would like to work on this issue. Please assign it to me.

[2022-10-01 06:23] Abhisharma85 commented on #510
Can you assign this to me? I want to work on this issue .

[2022-10-01 06:36] rahulaarora commented on #877
Hi, I can fix this, can you assign this to me?

[2022-10-01 06:46] tushar54594 commented on #877
@rahulaarora I only opened this issue. So I guess you should check for any other issues or create your own issue.

[2022-10-01 07:25] AKACHI-4 commented on #713
Hey @1610ayushi do u need any help can I work on this issue

[2022-10-01 07:25] AKACHI-4 commented on #722
Hey @tarunsinghofficial can I work on this issue can u assign it to me

[2022-10-01 07:26] AKACHI-4 commented on #723
Hey everyone u want to work on this issue can u assign it to me

[2022-10-01 07:28] 1610ayushi commented on #713
Sure

Sure @AKACHI-4

[2022-10-01 07:29] AKACHI-4 commented on #713
Okay so what help i can do

[2022-10-01 07:40] rahulaarora opened #878 "Bug Report: Fix Browser Console Errors"
### Reproduction steps

When you open the website in the browser and open the browser console, you see errors and some script values

### Expected behavior

Browser console should be clear

### Actual Behavior

![image](https://user-images.githubusercontent.com/24794534/193398739-5723600b-77e0-4b10-a1cb-7b0a09281bd7.png)

### 👀 Have you spent some time to check if this issue has been raised before

[2022-10-01 07:44] rahulaarora commented on #878
Hi  @imaaquibali @SauravMukherjee44 , could you please assign this issue to me as a part of hacktoberfest?

[2022-10-01 07:57] rahulaarora opened #879 "Bug Report: Choose and read books section right shifts in mobile view"
### Reproduction steps

When I opened the website in mobile, the choose and read books section is out of place because of the wrong margin

### Expected behavior

It should be in between the placeholder

### Actual Behavior

![image](https://user-images.githubusercontent.com/24794534/193399417-2540ea19-60b5-4e81-a7e1-ba9812ab2dc9.png)

### 👀 Have you spent some time to check if this issue has been

[2022-10-01 07:58] rahulaarora commented on #879
Hi @imaaquibali @SauravMukherjee44, could you please assign this issue to me?

[2022-10-01 08:56] SauravMukherjee44 commented on #879
@rahulaarora Go for it!

[2022-10-01 08:57] SauravMukherjee44 commented on #877
@tushar54594 Go for it!

[2022-10-01 08:58] SauravMukherjee44 commented on #876
@imyoungsparda Go for it!

[2022-10-01 08:58] SauravMukherjee44 commented on #874
@arian0zen Go for it!

[2022-10-01 09:00] #873 closed

[2022-10-01 09:01] SauravMukherjee44 opened #880 "Feature: Create issues about the feature or bug you want to fix."
### Feature description

Feature:  Create issues about the feature or bug you want to fix.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-10-01 10:08] Shubhcs01 opened #883 "Bug Report: Signup button overlap over text"
### Reproduction steps

Bug is in signup page -> https://aec-library-wbsite.netlify.app/sign-up-page/index.html

### Expected behavior

![Screenshot 2022-10-01 153620](https://user-images.githubusercontent.com/81324145/193404225-49886412-b6c1-43d5-9cbe-3d9fcad0542b.png)

### Actual Behavior

![Screenshot 2022-10-01 152652](https://user-images.githubusercontent.com/81324145/193404127-0822ed0d-8619-

[2022-10-01 10:10] Shubhcs01 commented on #883
Can I work on this issue under Hacktoberfest 2022?

[2022-10-01 12:44] moksh2212 commented on #877
hello I can fix this error. Please assign to me.

[2022-10-01 12:45] sumitkr2000 opened #885 "Bug Report: Adding transition to "choose and read div" and changing the color of icon on hover"
### Reproduction steps

I want to add transition on "choose and read book" div and there is also on improvement in navbar section where when we click on the home or any other icon its getting faded I want to add another color to it so the user experience will be improved. I have added some image please review it. Kindly assign me this issue. Thank you!

### Expected behavior

It should be animated

[2022-10-01 12:49] tushar54594 commented on #877
@moksh2212 I already did it and submitted the PR. You can look for any other issues.

[2022-10-01 12:50] JenilGajjar20 opened #886 "Feature: I would like to improve the UI of the Blogs page."
### Feature description

The current UI of the Blogs page is not looking attractive. I would like to change the design.

![BlogsPageUI](https://user-images.githubusercontent.com/68738624/193410317-c4085d37-d448-4cd7-937e-55594745eccf.jpg)

**@SauravMukherjee44** Can you please assign me this task as a part of Hactoberfest?

### 👀 Have you spent some time to check if this issue has been raised befo

[2022-10-01 14:12] navyasraj02 commented on #510
Hello @SauravMukherjee44
I would like to add some courses in the resources section about ML. Can you pls assign me this issue?

[2022-10-01 14:29] suvadeep2001 opened #887 "Frontend Problem in signup page"
Hello sir, I was going through your website and found it really great. But some changes I want to make in your website. In the signup page the signup button is looking not good.

![1](https://user-images.githubusercontent.com/68159874/193414286-be64815c-baad-49be-9482-7db9ae25cb83.JPG)

Like after Already have an account part we should give some space and it looks better.
Also not looking good in

[2022-10-01 15:37] ABbansal235 commented on #876
Could you please assign this task to me?

[2022-10-01 15:41] ABbansal235 commented on #850
Could you please assign this task to me?

[2022-10-01 17:54] iamrahul8 opened #888 "Feature: Enhancing Footer section of About page"
### Feature description

Footer section of About page should be enhanced
- text are not visible properly

![SAYlL1664650047](https://user-images.githubusercontent.com/72541381/193421992-a40d0f14-7bfc-4238-9da5-ec79d1ff627c.jpg)
---
Please assign this issue to me , I want to contribute under ```hacktoberfest```

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I

[2022-10-01 18:00] #877 closed

[2022-10-01 18:00] arshbhatia8 commented on #850
I would like to work on it.

[2022-10-01 18:01] HellspawnXerxes commented on #880
Can you assign this to me pls? I really need that t-shirt. I am basically living for it. I will be really grateful to you.

[2022-10-01 19:05] i-ujjwaljha opened #889 "Feature: Navbar Update"
### Feature description

The Logo and the navigation bar part are taking up too much space on the page than required. I can help to reduce that space and make the navigation bar look concise and simplistic for a better user experience.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Condu

[2022-10-01 19:06] i-ujjwaljha commented on #889
Can you assign me the role to work on this issue?

[2022-10-01 21:10] #879 closed

[2022-10-01 21:16] SauravMukherjee44 commented on #888
@iamrahul8 Go for it!

[2022-10-01 21:17] SauravMukherjee44 commented on #887
@suvadeep2001 Go for it!

[2022-10-01 21:18] SauravMukherjee44 commented on #886
@JenilGajjar20 Go for it!

[2022-10-01 21:21] SauravMukherjee44 commented on #878
@rahulaarora Go for it!

[2022-10-01 21:26] SauravMukherjee44 commented on #850
@Panda-Abhisek Go for it!

[2022-10-01 21:33] SauravMukherjee44 opened #891 "Documentation: Add more technical blogs to the blogs page."
### Description

Documentation: Add more technical blogs to the blogs page.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-10-01 22:29] git-deepx opened #892 "Bug Report: Navabar Toggle"
### Reproduction steps

I think the navbar of the BLOGS section is not toggling in the mobile version

### Expected behavior

It should expand down when clicked.

### Actual Behavior

It does nothing when clicked.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read

[2022-10-02 02:56] siya-pathak commented on #891
Please consider assigning this issue to me. Thank you!

[2022-10-02 06:09] zeeshan8281 commented on #891
can you also assign me this under Hacktoberfest? Thank you

[2022-10-02 07:04] ishita-kundi04 commented on #880
Can you please explain this a bit more, I would like to work upon this issue.

[2022-10-02 07:26] tmsagarofficial commented on #850
@SauravMukherjee44 pls assign this issue to me ... I would love to give it a try an complete

[2022-10-02 07:44] tanmay-S12 commented on #891
hey... I would like to add some blogs. Pls, assign it to me.

[2022-10-02 07:47] SauravMukherjee44 commented on #891
@siya-pathak Go for it!

[2022-10-02 07:53] Mahak008 opened #894 "Enhancing Footer Section of Resources Page."
### Reproduction steps

Contact Us and Social Media Icons are not aligned properly.

### Expected behavior

Centralize the contact us and social media icons or shorten the about us, general message and feedback section and made a 4th column of contact us section.

### Actual Behavior

Contact us and Social Icons are not giving a good look to the footer.

### 👀 Have you spent some time to check if

[2022-10-02 08:03] Mahak008 opened #895 "Improve the UI of sign in page and sign up button on the respective page."
### Reproduction steps

Sign in button on signup page is overlapping the text and on sign in page the area is not utilized properly.

### Expected behavior

The sign in button will no more overlap the text and sign in page will look more attractive.

### Actual Behavior

![Uploading Screenshot (317).png…]()
![Uploading Screenshot (318).png…]()

### 👀 Have you spent some time to check if this issue

[2022-10-02 08:04] SauravMukherjee44 opened #896 "Bug Report: Change the YouTube links in footer of all pages of the website"
### Reproduction steps

Add this New YouTube Link:  https://bit.ly/CodeINYouTube

### Expected behavior

Change the old link

### Actual Behavior

...

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec

[2022-10-02 08:05] SauravMukherjee44 commented on #894
@Mahak008 Go for it!

[2022-10-02 08:07] RahulSankhla312 commented on #896
hey @SauravMukherjee44 can you assign this issue to me.

[2022-10-02 08:07] Asmit2952 commented on #896
I can work on this

[2022-10-02 08:08] Dhanshriborse commented on #896
hey can you please assign this to me

[2022-10-02 08:11] Baivab007 opened #897 "Bug Report: Our Blog page layout"
### Reproduction steps

go to the Blogs section

### Expected behavior

The layout of the our Blog page is not symmetrical correct . The cards sizes are also not in a eye soothing manner and imformal to each other.

### Actual Behavior

none

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of

[2022-10-02 08:23] Baivab007 commented on #896
i can work on this plase assign it to me.

[2022-10-02 09:32] Baivab007 commented on #897
please assign it to me

[2022-10-02 10:13] smilewithkhushi opened #901 "Feature: Update the Navigation Bar in ncert.html page"
### Feature description

I want to add a proper navigation bar in ncert.html page which has links to the following
- home page
-  resources page
- a new section for CBSE Board Exams PYQ's
- a new section for CBSE board Exams sample papers
- changing the heading from "NCERT BOOKS" to NCERT BOOKS & OTHER RESOURCES

<img width="960" alt="Screenshot (892)" src="https://user-images.githubusercontent.co

[2022-10-02 10:26] smilewithkhushi opened #902 "Feature: Adding new page (cbse_notes.html) for keeping CBSE notes"
### Feature description

A new page cbse_notes.html can be added and linked to the resource.html
This new page would contain the CBSE notes for quick revision from NCERT. Currently, This will include all the subjects from 11th and 12th standard.

Please approve and assign this issue to me if you find it relevant! : )

### 👀 Have you spent some time to check if this issue has been raised before?

-

[2022-10-02 10:29] smilewithkhushi opened #903 "Feature: Linking the new page cbse_notes.html with resource.html"
### Feature description

Linking the new page cbse_notes.html with resource.html. cbse_notes.html will be a new page created for displaying the cbse notes for all subjects (class 11th and 12th). (feature issue has been requested before)

This issue is regarding the following features :

- Need to link the new page (cbse_notes.html) to the navbar of resource.html
- Also, Need to fix this image usin

[2022-10-02 11:30] toukirkhan commented on #896
assign this to me

[2022-10-02 11:42] Devashish08 commented on #896
hey there this is my first time can you assign this to me i am new to open source thanks.

[2022-10-02 11:48] reedamchoudhary opened #906 "Bug Report: Wrong Journals, Referrals and E-books count on home page"
### Reproduction steps

1. Visit the home page
2. scroll down till you see the correct count in Journals, Referrals, and E-books.
3. Now scroll up till the count goes to 0+

### Expected behavior

After the Journals, Referrals, and E-books count reaches the right number then whatever part of the page we visit it should not change and remain static.

### Actual Behavior

But when we scroll up it re

[2022-10-02 12:04] toukirkhan opened #908 "Bug Report: Improper alignment and styling of choose and read book form."
### Reproduction steps

- As soon as you get into the landing page of the website of AEC Library. Just check the "choose and read book" section.
- It is clearly visible that the "choose and read book" section or box is not aligned perfectly with its upper neighbour "Your Books".

### Expected behavior

The element should be aligned in this manner and it should look like this.
![Screenshot 2022-10-

[2022-10-02 12:06] toukirkhan commented on #908
Please assign me this issue under hacktoberfest label. Thank you.

[2022-10-02 12:17] reedamchoudhary commented on #906
If you find this, please assign this to me under hackoctober

[2022-10-02 13:29] AsmaKacem1 commented on #896
Hi @SauravMukherjee44 ,
can i work on this issue?

[2022-10-02 13:30] AsmaKacem1 commented on #891
Hi @SauravMukherjee44 ,
can i work on this issue?

[2022-10-02 13:31] AsmaKacem1 commented on #880
Hi @SauravMukherjee44 ,
can i work on this issue?

[2022-10-02 14:13] Sumedh-byte commented on #896
Hello @SauravMukherjee44 , I am a web developer with experience of 2 internships. I am interested in resolving this issue. Can you please assign it to me?

[2022-10-02 14:19] roshan2152 opened #909 "Align get in touch section with the background."
The get-in-touch form doesn't look aligned with the background. I can fix this.

![Uploading Screenshot 2022-10-02 at 7.46.20 PM.png…]()

[2022-10-02 14:20] bhavya-sharma26 commented on #896
Hi @SauravMukherjee44 can u assign this task to me ? I will be able to complete it in time with proficiency , versatility and clarity

[2022-10-02 14:29] Esha-01 commented on #903
Hey,@smilewithkhushi can you assign this to me.I can work on this.

[2022-10-02 14:33] Shivyoddha opened #910 "The GitHub link may be replaced by the GitHub Icon"
### Feature description

The GitHub link(Under - Contact Us) to this page is in for of text which can be replaced by its icon, which will add to attractiveness of the site.

![image](https://user-images.githubusercontent.com/97729353/193459446-8ce68f59-0bf1-4afc-8e35-f6202d9962e0.png)

Hi @SauravMukherjee44
Please assign me with this issue .

### 👀 Have you spent some time to check if this issue h

[2022-10-02 14:36] Shivyoddha commented on #903
Hi @smilewithkhushi ,
The web development image is properly working. The screenshot of the same is below-

![image](https://user-images.githubusercontent.com/97729353/193459751-f80d6c02-656b-42c8-ad1b-235e7e69de9a.png)

[2022-10-02 15:32] Panda-Abhisek commented on #850
@SauravMukherjee44 Ok! ✌

[2022-10-02 15:45] Sumedh-byte opened #911 "Bug Report: Login Form"
### Reproduction steps

I found a bug on Login Page.

### Expected behavior

The side image of login form must be related to website content.

### Actual Behavior

Actually the side image has to be appropriate to the website.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X]

[2022-10-02 15:48] Sumedh-byte commented on #880
Hi @SauravMukherjee44 , I have created a new issue #911 . Please assign it to me

[2022-10-02 16:34] SahilSingh177 commented on #896
Assign this issue to me.

[2022-10-02 16:35] AishwaryaParab opened #912 "Feature: Adding more states for Countries like Australia and Canada in the Book Donation Form"
### Feature description

Adding in more states for both the countries. I want to populate the data so that people from these states can also contribute using the donation form.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github

[2022-10-02 16:35] AishwaryaParab commented on #912
@SauravMukherjee44 could you please assign this issue to me?

[2022-10-02 17:34] Panda-Abhisek commented on #850
@Riddhi9570  @SauravMukherjee44 - issue #850
1. first of all, I will make PR of adding all the book images to the Image folder.

[2022-10-02 17:35] arsh-111 commented on #901
Hey can u assign me this issue?

[2022-10-02 18:00] suvadeep2001 commented on #887
@SauravMukherjee44 sure

[2022-10-02 18:29] Panda-Abhisek commented on #850
Hey @SauravMukherjee44, I made a PR in which I have added all the required NCERT book cover pages in jpg format.
Please check and merge them. So that I can move further.
After this, I will be adding the links to the pdf, chapters of different subjects of different classes. one by one

[2022-10-02 18:49] prakhar-1005 opened #915 "Feature: Hover feature for the live chat button"
### Feature description

A hover state can be added for the live chat option similar to the microphone option which will enhance the user experience.

There is a hover state for microphone option

![Screenshot (4)_LI](https://user-images.githubusercontent.com/94559623/193470723-5f34e951-f0cb-4bd6-9f70-63d76b5e30f7.jpg)

But for the live chat option it is not present which looks odd.

![Screenshot

[2022-10-02 18:51] AK-shat-JAIN commented on #896
Hello @SauravMukherjee44  I want to resolve this task you can assign it to me

[2022-10-02 19:37] Jagjot1585 commented on #859
I would like to add more blogs please assign me the following

[2022-10-02 19:37] AishwaryaParab opened #917 "Feature: I would like to enhance the UI of the Resources page."
### Feature description

The Resources page is probably the most important page of this website. The content is really good but the colours used don't make the content visually appealing. There's a pinch of blue used which doesn't really fit well with the brown theme. I would like to change a few colours and align some of the elements properly for a better finish.

### 👀 Have you spent some time t

[2022-10-02 19:38] AishwaryaParab commented on #917
@SauravMukherjee44 could you please assign this issue to me?

[2022-10-02 20:07] SauravMukherjee44 commented on #892
Go for it!

[2022-10-02 20:07] #895 closed

[2022-10-02 20:08] SauravMukherjee44 commented on #897
Go for it!

[2022-10-02 20:09] SauravMukherjee44 commented on #896
@Dhanshriborse Go for it!

[2022-10-02 20:10] SauravMukherjee44 commented on #906
Go for it!

[2022-10-02 20:11] SauravMukherjee44 commented on #908
Go for it!

[2022-10-02 20:11] toukirkhan commented on #908
Thnaks!!

[2022-10-02 20:12] SauravMukherjee44 commented on #910
Go for it!

[2022-10-02 20:12] SauravMukherjee44 commented on #911
Go for it!

[2022-10-02 20:13] SauravMukherjee44 commented on #912
Go for it! Add Indian Cities.

[2022-10-02 20:14] SauravMukherjee44 commented on #917
Go for it!

[2022-10-02 20:18] #896 closed

[2022-10-02 20:25] #850 closed

[2022-10-02 20:25] #883 closed

[2022-10-02 20:36] Abhisht18 commented on #910
can you assign this to me

[2022-10-02 21:19] Shubhcs01 opened #920 "Feature: I would like to enhance the UI of Home page"
### Feature description

About and Donate book icon is same, I will enhance its icons.
The box type CSS in choose and read section doesn't looks good. It should be more attractive and buttons must look more clear. I want to change its border-radius to make so that user can search books more easily.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and

[2022-10-02 21:20] Shubhcs01 commented on #920
Please assign me this issue under hacktoberfest

[2022-10-03 03:14] ch4mi2 commented on #891
Please consider assigning me to this task

[2022-10-03 04:59] RishitaGangwal commented on #912
Hey, please assign this issue to me!

[2022-10-03 05:23] RishitaGangwal commented on #910
![page](https://user-images.githubusercontent.com/88449534/193506078-3c644b35-0723-4794-b19f-de32f9828e62.jpeg)

Under Contact Section:
We can change link (LinkedIn, Github, Twitter, YouTube) written in text form to their icons it is a visual invitation to users to try out the latest and greatest features of any Web application. And due to this our website will look more attractive.

@SauravMukher

[2022-10-03 05:30] HARSHSUHANE17 commented on #912
I have some cities . Please check and merge it (PR#922)

[2022-10-03 05:31] jaysomani commented on #454
I would like to work on this issue can you assign me

[2022-10-03 05:36] RishitaGangwal opened #923 "Feature: Adding Icons"
### Feature description

![home](https://user-images.githubusercontent.com/88449534/193507557-6cdc2216-72fc-4c74-b007-22e89c58d6bc.jpeg)

Instead of writing Play and Pause on button, we can add icon of play and pause button. It will look more attractive to people.

Hey, @SauravMukherjee44
Please assign me with this as  an issue.

Thanks!

### 👀 Have you spent some time to check if this issue has b

[2022-10-03 05:45] DhruvRathi2001 opened #924 "Some Minor changes in the Donate Books Section"
In the Donate Books Section, in Book Donation Form-

The Address section  must be a "text box" instead of  a  single input line.
And also as a tradition Address are always mentioned in Text box to user for specifying Address more Accurately.

![book donation img](https://user-images.githubusercontent.com/94394117/193508454-a539e7cf-7079-419b-97ab-c4c67debc7dc.png)

@SauravMukherjee44  Can you plea

[2022-10-03 06:40] RishitaGangwal commented on #912
I have added cities under Madhya Pradesh State. Please check and merge my request (PR #926 ) @SauravMukherjee44

Thanks!

[2022-10-03 06:51] HARSHSUHANE17 commented on #912
HEY @RishitaGangwal are you also a newbie to open source?

[2022-10-03 07:55] DhruvRathi2001 opened #928 "Bug Report: The Hyperlink for 'Python' should take user to Python Documentation instead it takes to 'Full catalogs' and not specifically to Python Docs."
### Reproduction steps

I will  make the correct link  which goes to Python Documentation attached with the hyperlink.

### Expected behavior

Here in Python Section:

![first img](https://user-images.githubusercontent.com/94394117/193526390-b0f78198-eb5a-4df2-82ec-d014d7189047.png)

After clicking on 'Read more' it should take us to:

![correct image](https://user-images.githubusercontent.com/943

[2022-10-03 08:07] Sumedh-byte commented on #911
Than you for assigning it to me. I will update you soon.

[2022-10-03 09:04] prakhar-1005 opened #929 "Hover feature for Subscribe button"
### Feature description

The Subscribe button has no hover feature in it which looks odd and seems like plain text instead of a button. Please allow me to add this feature in the site for enhanced user experience.

Screenshot:
![Screenshot (8)_LI](https://user-images.githubusercontent.com/94559623/193539907-7759f9ce-51f2-41eb-a514-3ab830a161a4.jpg)

### 👀 Have you spent some time to check if this

[2022-10-03 09:48] JoelMathewV commented on #880
Should I create the issues or features needed and also work on it and create PR?

[2022-10-03 10:22] Jayaditya-Contributor opened #931 "Feature: Add Philosophy Section in select category of the issue box in the landing page"
### Feature description

Since Philosophy is a major subject, it would be a great option to add a section for that , I think it is essential for a  Library in the Dropdown menu of category on landing page .

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [C

[2022-10-03 11:55] NateNear opened #932 "Feature: Easy link option on email and phone number."
### Feature description

I would like to add an easy copy option  on the email and phone number section  of the website, so that the user can copy the info by simply clicking on them. In addition I would like to add a "location" section between the email and phone number.
Please allow me to do the addressed changes.
![issue2](https://user-images.githubusercontent.com/92938055/193570848-70be00d5-17

[2022-10-03 13:49] preetu391 commented on #912
Hey, please assign this issue to me!

[2022-10-03 13:52] preetu391 commented on #891
Hi Saurav, I have some blogs to add to it, can you please assign this task to me?

[2022-10-03 13:56] AyushJain001 opened #935 "Bug Report: Link not opening in new tab"
### Reproduction steps

Upon clicking on the link shown in image under contact section it is not opening in new tab. if you think that should be done and is valid . You may assign this issue to me under hacktoberfest tag.
<img width="344" alt="image" src="https://user-images.githubusercontent.com/90152799/193595174-a1183958-54ba-4d7a-aaf7-5327995428bb.png">

### Expected behavior

Link should open

[2022-10-03 14:43] alvarule opened #936 "Feature: Modify Login form UI"
### Feature description

I think the UI of login form and signup form should match with each other as it is of the same website. I want to make them match.
I will redesign the login form with reference to the signup form.
The current login form is as given below:
![Screenshot 2022-10-03 201034](https://user-images.githubusercontent.com/69820965/193605570-143caea3-a3fc-4561-b6d4-cf69b3f71b5c.png)

[2022-10-03 17:53] SauravMukherjee44 commented on #936
Go for it!

[2022-10-03 17:54] SauravMukherjee44 commented on #929
Go for it!

[2022-10-03 18:23] rahulaarora commented on #878
@SauravMukherjee44 Review this PR, I have fixed all errors

[2022-10-03 18:47] HamnaSiddiqui commented on #929
I would like to contribute to it

[2022-10-03 19:01] amisha123prajapati commented on #929
I would like to contribute

[2022-10-03 19:09] DhruvRathi2001 opened #943 "Bug Report: Book Audio not working"
### Reproduction steps

In the Listen to Audio Book Section ,Only the first book's Audio is working ,for rest three books audio is not working.

### Expected behavior

Audio for all the books should work :

![Library_audioimg2](https://user-images.githubusercontent.com/94394117/193658642-f23dd51b-e7ce-4798-993e-2e6606a749e5.png)

### Actual Behavior

Audio for only first book is working , for rest

[2022-10-03 19:11] DhruvRathi2001 commented on #943
@SauravMukherjee44  can u please assign me this issue , I would love to Fix it

[2022-10-03 19:15] amisha123prajapati commented on #912
Hello @SauravMukherjee44 , I would like to contribute to it. Could you please assign this issue to me!

[2022-10-03 19:20] amisha123prajapati commented on #931
Hello @Jayaditya-Contributor,
I would like to contribute to it , could you please assign this issue to me!

[2022-10-03 19:34] amisha123prajapati commented on #924
Hello,
Can you please assign this issue to me, I want to contribute to it!

[2022-10-03 19:39] amisha123prajapati commented on #920
I want to contribute to it , please assign this issue to me!

[2022-10-03 19:41] sourabh1428 opened #945 "Bug Report: Thumbnail not visible"
### Reproduction steps

I found it by opening resource section, under this section , courses -> web dev courses **NOT VISIBLE**

### Expected behavior

There should be an thumbnail preview of it.

Tag me under hactoberfest, thanks!

### Actual Behavior

![Screenshot 2022-10-04 005905](https://user-images.githubusercontent.com/63462210/193664425-7aabdfed-6aa3-4160-9025-0da250fd534b.png)

### 👀 Have

[2022-10-03 19:41] sourabh1428 commented on #945
I can help u out!

[2022-10-03 19:50] ankittt20 opened #946 "Logo not linked to homepage on Contact Us page"
### Reproduction steps

When I was going through the contact us page, I wanted to go back to the home page and I clicked on the logo and it didn't worked.

### Expected behavior

It should redirect me to the homepage.

### Actual Behavior

It is not linked to the homepage.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

[2022-10-03 20:35] developer-diganta opened #947 "Bug Report: Change year in footer"
### Reproduction steps

![image](https://user-images.githubusercontent.com/65999534/193676251-0406e6cf-77ca-41bc-a86c-fbb25c2b3478.png)
The year in footer is 2021. We can use javascript to keep it up to date.

### Expected behavior

It should be 2022

### Actual Behavior

It is 2021

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find simi

[2022-10-03 20:35] developer-diganta commented on #947
If it seems legit, can I work on it?

[2022-10-03 20:36] DhruvRathi2001 commented on #924
Hey @amisha123prajapati  please find some other issues as I have raised issue long back and waiting it to be assigned.

[2022-10-03 20:52] #888 closed

[2022-10-03 20:56] SauravMukherjee44 commented on #943
Go for it!

[2022-10-03 20:57] SauravMukherjee44 commented on #924
Go for it!

[2022-10-03 20:59] #912 closed

[2022-10-03 21:01] #911 closed

[2022-10-03 21:02] #878 closed

[2022-10-03 23:11] henrymedeiros commented on #946
Tested on Brave Browser and It's working... Could you provide more details?

[2022-10-04 01:47] suraj3722 commented on #935
Can you please assign me this issue? I would love to fix it.

[2022-10-04 02:34] cmaguluri1305 commented on #929
I would like to contribute, can any admin assign the tast to me?

[2022-10-04 02:35] cmaguluri1305 commented on #947
I want to contribute can anyone assign the task to me?

[2022-10-04 02:40] cmaguluri1305 commented on #924
I want to contribute can you assign the issue to me?

[2022-10-04 02:43] cmaguluri1305 commented on #894
I want to contribute can anyone assign the issue to me?

[2022-10-04 03:04] amisha123prajapati commented on #924
Hello Maintainer!
@SauravMukherjee44 , I am beginner in Hacktoberfest and want to learn and contribute to it. I have solved this issue, you can see in the below screenshot. Please assign this issue to me so that I can create pull request.

Thanks!

![Screenshot (2193)](https://user-images.githubusercontent.com/86883460/193724612-19dbcf75-12d6-4279-8f3a-46e6e254893e.png)

[2022-10-04 03:19] ankittt20 commented on #946
As you can see I clicked on the logo multiple times and nothing happened.

https://user-images.githubusercontent.com/92395053/193725083-1e36772c-c3f3-4393-ba8a-3aa8c969cfef.mp4

[2022-10-04 05:11] pamudu commented on #947
Hi, I would like to work on this issue, can you assign this task for me?

[2022-10-04 07:04] adityaonstage commented on #897
hey @SauravMukherjee44  pls. assign this issue to me. am a beginner and eagerly waiting to contribute

[2022-10-04 07:06] adityaonstage commented on #892
hey @SauravMukherjee44 pls. assign this issue to me. am a beginner and eagerly waiting to contribute

[2022-10-04 07:38] iamrahul8 opened #954 "Adding Programming language course in Resource page"
### Feature description

I want to add some good courses in Resource Page

![image](https://user-images.githubusercontent.com/72541381/193761792-dfd61718-ee23-46bd-96ff-5de32afcb403.png)

Please assign this issue to me under `hacktoberfest` @SauravMukherjee44

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have yo

[2022-10-04 09:02] ankittt20 commented on #946
@SauravMukherjee44 can you please assign me this issue?

[2022-10-04 11:42] #876 closed

[2022-10-04 16:48] KumarSashank opened #957 "Bug Report: Play Quiz not working"
### Reproduction steps

After loading up the website, getting the Let's play quiz option.
I clicked on Let's go button.
<img width="521" alt="Screenshot 2022-10-04 at 10 08 38 PM" src="https://user-images.githubusercontent.com/72877934/193877724-cac5cfd7-809e-4cc4-850e-718ae8144a75.png">

### Expected behavior

I thought there will be a quiz game. So that there I can play the game.

### Actual Beh

[2022-10-04 17:32] KumarSashank opened #958 "Change UI for Subscribe newsletter"
### Feature description

I saw the subscribe to the newsletter. That is looking old.

### Previous
![Screenshot 2022-10-04 at 10 27 1](https://user-images.githubusercontent.com/72877934/193886480-47abb1f5-cb08-4e3c-b639-7bbf53001c93.png)

### New Design
![subscribe](https://user-images.githubusercontent.com/72877934/193886633-13f36cd1-ce19-4ee7-ac99-3e5f10f46dad.png)

Inspired from loading animati

[2022-10-04 19:36] #902 closed

[2022-10-04 19:38] #936 closed

[2022-10-04 21:14] nabroleonx commented on #958
I want to work on this issue. Can you assign it to me?

[2022-10-05 07:16] shrutimeg commented on #929
assign this issue to me

[2022-10-05 07:20] shrutimeg commented on #813
assign these issues to me

[2022-10-05 08:07] sshiwangi opened #961 "Improvements in the search section of resource.html"
### Feature description

The search for names section in the resource.html is looking bad. I would like to improve it.

Currently it is looking like this

![aec libraray1](https://user-images.githubusercontent.com/77545230/194011416-d519d3ff-ba69-4092-ac62-1aa4a146fdc8.png)

It would look something like this

![aec library resource](https://user-images.githubusercontent.com/77545230/194010981-f072

[2022-10-05 08:08] sshiwangi commented on #961
@SauravMukherjee44 please assign me this issue under hacktoberfest.

[2022-10-05 08:27] Vivek-raj-64 commented on #929
I can make this button hover, please assign it to me.

[2022-10-05 08:29] Vivek-raj-64 commented on #887
I can fix this problem. Please assign this to me.

[2022-10-05 08:43] #929 closed

[2022-10-05 10:51] Chinmay-03 commented on #958
@kamarSashank I would like to work on this

[2022-10-05 14:01] roshan2152 opened #964 "Feature: Beautify the login page"
### Feature description

Hey @SauravMukherjee44 I can make the login page look better. Please assign it to me.

<img width="946" alt="Screenshot 2022-10-05 at 7 29 07 PM" src="https://user-images.githubusercontent.com/111238532/194079235-cf68c9c5-7067-47bf-ac99-e1798a755a4c.png">

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar

[2022-10-05 14:07] roshan2152 opened #965 "Improve search box"
Typed words in the search box is not visible. @SauravMukherjee44 please assign me this, I can work on it.

<img width="671" alt="Screenshot 2022-10-05 at 7 34 46 PM" src="https://user-images.githubusercontent.com/111238532/194080654-7a3700ce-6b27-466c-b22f-07f61459c6c6.png">

[2022-10-05 14:48] #915 closed

[2022-10-05 14:49] SauravMukherjee44 commented on #920
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 14:51] SauravMukherjee44 commented on #923
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 14:53] SauravMukherjee44 commented on #928
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 14:54] SauravMukherjee44 commented on #932
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 14:55] SauravMukherjee44 commented on #935
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 14:56] SauravMukherjee44 commented on #946
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 14:56] #864 closed

[2022-10-05 15:01] SauravMukherjee44 commented on #954
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 15:02] #957 closed

[2022-10-05 15:02] #958 closed

[2022-10-05 15:03] SauravMukherjee44 commented on #965
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 15:04] SauravMukherjee44 commented on #961
Go for it! For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-05 15:10] #910 closed

[2022-10-05 15:48] roshan2152 commented on #965
Thanks @SauravMukherjee44, I'm already a member of code-in community

[2022-10-05 15:48] #965 closed

[2022-10-05 16:01] DhruvRathi2001 opened #966 "Some major issues in 'Yours Book' Section"
### Feature description

Here are some issues in 'Yours Book' section in Home page

-Inside the 'search section' the user is not be able to see what he/she is writing.
-Also in the table below of books issued , the labels are not seen properly.

Before :

![yoursbook_prev](https://user-images.githubusercontent.com/94394117/194106511-ac614b4c-1110-4001-b0c6-2c84059cbd8f.png)

After:

![yoursbook_af

[2022-10-05 16:58] #928 closed

[2022-10-05 17:07] #946 closed

[2022-10-05 17:10] JASKIRAT11011 commented on #923
@SauravMukherjee44 plzz assign me this issue

[2022-10-05 17:20] RishitaGangwal commented on #910
On the home page, icons are not added for the same which I have mentioned above. Its written in text form.

[2022-10-05 17:40] #903 closed

[2022-10-05 17:49] #901 closed

[2022-10-05 17:51] #857 closed

[2022-10-05 17:52] #924 closed

[2022-10-05 18:06] #908 closed

[2022-10-05 19:58] AyushJain001 commented on #935
Thanks, I am working on the issue.

[2022-10-06 07:47] #961 closed

[2022-10-06 07:50] #932 closed

[2022-10-06 09:47] Panda-Abhisek opened #985 "Exchange the dummy books of class 8th in NCERT Books."
### Feature description

Need to exchange the dummy books of class 8th with the real NCERT books with corresponding subjects of that class.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-We

[2022-10-06 09:48] Panda-Abhisek commented on #985
Hey @SauravMukherjee44, I already have the code that can fix this issue.
Please assign me to this issue under hacktoberfest.

[2022-10-06 15:09] SkTamim opened #989 "Bug Report: "Your Book" and "Choose and read books" these two boxes area non properly displaying in small laptop screen. This is a Responsive issue."
### Reproduction steps

I have visited the site on my small size laptop screen and saw this issue.

### Expected behavior

"Your Book" and "Choose and read books" these two boxes are going out of the screen. It should appear inside of the screen. I think spacing of the "Issue Here" Box should be little in this screen size. "Your Book" and "Choose and read books" Boxes should be little small in thi

[2022-10-07 02:48] surbhi400 opened #995 "Feature: Improve the UI of the High Score section of the Quiz and fix its responsiveness."
### Feature description

The UI of the high score page of the quiz is not looking good as well as it is not responsive.
![improve UI](https://user-images.githubusercontent.com/77582783/194457474-f2f39800-291e-455a-abfe-8582367447bc.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Cond

[2022-10-07 02:50] surbhi400 commented on #995
@SauravMukherjee44 can you please assign me this issue. I would like to work on it.

[2022-10-07 09:23] ArnabC27 opened #998 "Bug Report: Hyperlink opening in new tab"
### Reproduction steps

When I click on any of the buttons in the Navigation Bar of the Home Page, the hyperlink is opened in a new tab of the browser.

### Expected behavior

Upon clicking an item in the Navigation Bar, the new page should open in the same tab.

### Actual Behavior

Upon clicking an item in the Navigation Bar, the new page opened in a new tab.

https://user-images.githubuserconte

[2022-10-07 09:24] ArnabC27 commented on #998
@SauravMukherjee44 I would like to work on this issue

[2022-10-07 11:55] smrkarkii opened #1002 "Bug Report: Date error while issuing book"
### Reproduction steps

When I was using issuing book feature, I used some random dates and found that even dates from future could be selected.

### Expected behavior

It should be possible to only select dates from past or present.

### Actual Behavior

It actually allows to select even future dates.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked

[2022-10-07 12:00] smrkarkii opened #1003 "Bug Report: Grammatical errors"
### Reproduction steps

I found it while scrolling over website. Please assign it to me under hacktoberfest.

### Expected behavior

It should be "Go to the "Choose and read books" section and search the book you are looking for ."

### Actual Behavior

![grammars](https://user-images.githubusercontent.com/58778838/194547981-0c08caab-510d-41c2-acd1-c413b00b1728.png)
It actually is ":Go to the "CHo

[2022-10-07 13:29] pranavgupta11 opened #1004 "Better Visibility in Get In Touch Form"
Currently there is no clear visibility in the Get In Touch Form.
Before:
![image](https://user-images.githubusercontent.com/68846421/194564495-860350d3-39bc-4917-a338-171b5384e2f1.png)
After:
![image](https://user-images.githubusercontent.com/68846421/194565006-eb9761b2-4ead-4110-a9e9-648b4b15871d.png)

Please assign this to me and lebel it

[2022-10-07 14:25] IAmTamal commented on #1004
Go for it @pranavgupta11

[2022-10-07 15:55] Ollie-beep-bop opened #1005 "Feature: A button to open up to the Blog page while the user is in the blog section of the home page."
### Feature description

A button here to navigate to the blogs page.
![image](https://user-images.githubusercontent.com/83592929/194596302-97b64abf-a1db-4ec4-9fb9-b891d382a8ea.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://g

[2022-10-07 15:55] Ollie-beep-bop commented on #1005
@SauravMukherjee44 Hello, can you add this feature to Hacktoberfest 2022 so that I can work on it?

[2022-10-07 16:47] Naresh-chandanbatve opened #1006 "Bug Report: heading of Contributors page is not visible correctly"
### Reproduction steps

Click on Contributors section on navbar

### Expected behavior

It Should be clearly visible
we can fix this by adding background div

### Actual Behavior

![Screenshot 2022-10-07 152119](https://user-images.githubusercontent.com/70953218/194602331-b9430668-11e1-4fa6-bbbd-d9c7718504c9.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X]

[2022-10-07 17:00] blyncnov commented on #909
Can I work on This issue ?

[2022-10-07 17:26] Aditid132 commented on #891
Hey I wish to add a blog, assign this to me!

[2022-10-07 17:31] preetu391 commented on #891
@SauravMukherjee44

[2022-10-07 18:00] HoneyTyagii commented on #1006
hey @SauravMukherjee44  you can assign this issue to me I can work on it.

[2022-10-07 18:42] Naresh-chandanbatve commented on #1006
@SauravMukherjee44  assign this issue to me ,
I have solution to this issue.

[2022-10-08 06:37] roshan2152 commented on #909
Hey @SauravMukherjee44  please assign me this issue

[2022-10-08 10:39] smrkarkii opened #1012 "Bug Report: Errors in resources page, about page and contributor page."
### Reproduction steps

While scrolling over resources, I found following bugs.
1. The scroll to the top button doesn't work in resources page
2. The links to social media at the bottom doesn't work as it should in about page and contributor page. Only github link is opened in new tab while others are opened in same tab.
3. Some photos at courses section doesn't seem to load in resources page.

##

[2022-10-08 11:05] AbhiPatel10 opened #1013 "Bug Report: Buttons are not working properly"
### Reproduction steps

**Buttons are not working properly on some pages.**

When we click on some parts of the button, it doesn't respond to what we want, so there is some anchor tag misplacing issue, so I'm working on it. Please assign this task to me.

### Expected behavior

The button should work on clicking anywhere on the button.

![Screenshot 2022-10-08 163344](https://user-images.githubuse

[2022-10-08 12:33] snehafarkya commented on #1013
Hey! I would like to take this issue. Can you pls assign this to me?

[2022-10-08 12:35] Satakshijain commented on #1004
@SauravMukherjee44 can you assign this issue to me

[2022-10-08 15:32] SauravMukherjee44 commented on #995
Go for it!

[2022-10-08 16:37] #1004 closed

[2022-10-08 19:57] tushar54594 opened #1014 "Bug Report: Spelling Mistake"
### Reproduction steps

I was scrolling through the website and found out this mistake

### Expected behavior

It should be Go to our "Recommended Book" section. Choose your book which you want to download then click on the "Download as pdf". Happy reading :) "

### Actual Behavior

![Screenshot (597)](https://user-images.githubusercontent.com/94536522/194725724-ac367990-c29d-41f2-8391-4f53c7a2503

[2022-10-08 20:18] tushar54594 opened #1015 "Bug Report: Instagram link is not working in the resources page"
### Reproduction steps

I was scrolling through the website and checking all the links when I found out this bug.

### Expected behavior

When we click on instagram icon in the resources page, it should direct us to the instagram page of the founder @SauravMukherjee44.

### Actual Behavior

When we click on instagram icon  in the resources page, it should direct us to the instagram page of the fou

[2022-10-08 23:17] ShalabhDevliyal commented on #1003
I found it while scrolling over website. Please assign it to me under hacktoberfest.

[2022-10-09 01:36] dev-32 opened #1017 "Documentation: README.md"
### Description

There are around 4-5 grammar mistakes that can be improved in order to make the file more interactive.
<img width="717" alt="Screenshot 2022-10-09 at 6 57 32 AM" src="https://user-images.githubusercontent.com/99115141/194733468-1ddaad40-4cae-44a6-b88a-1f23608d23fc.png">
<img width="723" alt="Screenshot 2022-10-09 at 7 02 13 AM" src="https://user-images.githubusercontent.com/991151

[2022-10-09 02:53] AK-codingmaniac commented on #1003
Can I still work on this issue?

[2022-10-09 04:54] IAmTamal commented on #1003
Go ahead !

[2022-10-09 04:55] IAmTamal commented on #1003
@smrkarkii Go ahead

[2022-10-09 05:23] tushar54594 commented on #1015
@SauravMukherjee44 @IAmTamal Can you check this issue

[2022-10-09 06:02] tushar54594 commented on #1014
@SauravMukherjee44 @IAmTamal Please assign me this issue

[2022-10-09 07:26] shreyas2711 opened #1020 "Feature: I can add a new subscribe button to the homepage footer section with better effects and animation."
### Feature description

The Subscribe button in homepage footer section looks old I can add a new button with better effects.
![InkedAec-bug](https://user-images.githubusercontent.com/74506348/194743648-ae86f24c-2bb6-47d0-8b15-a5362331d4ed.jpg)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Cod

[2022-10-09 07:59] AbhiPatel10 commented on #1013
@SauravMukherjee44  Please assign this task to me and Give the tag of hecktoberfest.

[2022-10-09 08:35] smrkarkii commented on #1003
Thank you. I am on it.

[2022-10-09 12:53] garimajain12 commented on #1017
Hi @dev-32 , I wish to do this and make the readme file interactive. Please assign me to this task and add the 'hacktoberfest-accepted' label to this issue.

[2022-10-09 14:55] Nitya-Pasrija opened #1024 "Feature: Add more Notes about DSA"
### Feature description

Have to add more pdf files to the Notes section, mostly abt DSA

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-10-09 14:55] Nitya-Pasrija commented on #1024
@SauravMukherjee44 can u assign this to me?

[2022-10-09 15:47] Panda-Abhisek opened #1025 "Adding class 8 books in NCERT section & improving."
### Feature description

Updating the dummy books by the NCERT Books of class 8th
And improving the page.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md

[2022-10-09 15:48] IAmTamal commented on #1014
Go for it !

[2022-10-09 15:49] Panda-Abhisek commented on #1025
Hey @SauravMukherjee44, Please assign me to this issue.
I am working on it.
There are some issues with the website, but my work can fix them.

[2022-10-09 15:49] IAmTamal commented on #1013
@AbhiPatel10 go for it !

[2022-10-09 16:28] tushar54594 commented on #1014
@IAmTamal By mistake you assigned @SauravMukherjee44 this issue

[2022-10-09 17:44] Mrsingh782 commented on #965
Can you please assist me this issue ? @SauravMukherjee44

[2022-10-09 18:02] Ayushbajpai19 commented on #1003
Hello, can i work on this issue please?

[2022-10-09 18:03] Ayushbajpai19 commented on #853
Hello, can i work on this issue please?

[2022-10-09 18:04] Ayushbajpai19 commented on #493
Hello, can i work on this issue please?

[2022-10-09 18:04] Ayushbajpai19 commented on #513
Hello, can i work on this issue please?

[2022-10-09 18:08] arneja-arnav commented on #965
@SauravMukherjee44 no one has closed this issue yet. Is it fine if you assign it to me?

[2022-10-09 18:11] arneja-arnav opened #1026 "Feature: Adding a book on Digital System Design [3rd year Btech]"
### Feature description

Adding a book on Digital System Design by Morris Mano. Would serve helpful to ECE Btech Students. Please assign this issue to me @SauravMukherjee44.

Could you approve this issue for hacktoberfest as well?

### 👀 Have you spent some time to check if this issue has been raised before?

- [x] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

[2022-10-09 20:04] #1003 closed

[2022-10-09 20:05] #995 closed

[2022-10-09 20:06] #954 closed

[2022-10-09 20:08] #947 closed

[2022-10-09 20:08] #923 closed

[2022-10-09 20:10] #966 closed

[2022-10-09 20:14] #1014 closed

[2022-10-09 20:15] SauravMukherjee44 commented on #1026
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-09 20:15] SauravMukherjee44 commented on #1025
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-09 20:17] SauravMukherjee44 commented on #1024
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-09 20:18] SauravMukherjee44 commented on #1015
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-09 21:00] ritishbhardwaj opened #1028 "Feature: Adding curve to borders, enhancing user interaction"
### Feature description

Simple rectangular borders are boring.
Adding curves to the borders. Looking good

![WhatsApp Image 2022-10-10 at 02 22 50](https://user-images.githubusercontent.com/81488252/194779153-04e98521-c1c9-48c3-9d3b-f01ad9f474e0.jpg)

Before

![WhatsApp Image 2022-10-10 at 02 23 42](https://user-images.githubusercontent.com/81488252/194779167-207a509a-1f8e-44ac-b700-1644e4947b2a.

[2022-10-09 21:01] ritishbhardwaj commented on #1028
@SauravMukherjee44
Assign this issue to me

[2022-10-09 21:14] Yamini1406 commented on #1028
Hello. I'd love to work on this Issue. Please assign this to me

[2022-10-09 21:26] ritishbhardwaj opened #1031 "[Bug-in-code-] found unclosed bracket in style.css"
unclosed bracket is restricting the implementation of '@media' queries in html webpage

[2022-10-10 04:34] Akashbag2001 opened #1033 "The chat assistance and the scroll on top buttons are not aligned properly"
### Feature description

<img width="960" alt="Screenshot 2022-10-10 095913" src="https://user-images.githubusercontent.com/78099533/194799771-7cd662b1-7ddf-4ea7-9997-d0070202f4a6.png">

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https

[2022-10-10 04:40] IAmTamal commented on #1033
They look fine to me @Akashbag2001  - anything else you want to change ?

[2022-10-10 05:41] sumitkr2000 opened #1034 "Accepted 🤩"
![Screenshot (404)](https://user-images.githubusercontent.com/100675296/194804459-8a2243ee-ba0f-4902-8fd0-cea9cc80fe0e.png)

Thank you for the opportunity @SauravMukherjee44!

[2022-10-10 06:59] Tineshnehete opened #1036 "Documentation: Vs code image in readme is broken"
### Description

Hy there vscode image in readme is broken . I can fix it can you pls assign it to me :)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-10-10 07:10] Panda-Abhisek commented on #1025
@SauravMukherjee44 raised a PR for issue #1025.

[2022-10-10 07:38] Apocalyptic04 commented on #1028
Hi @IAmTamal I am beginner to open source in hacktober. Can you assign this feature to me? And add hacktober tag to it?

[2022-10-10 07:58] devwithsubhrajit2002 opened #1038 "Unnecessary Log out button in Login Page"
### Reproduction steps

On the login page, it is not necessary to have Log out button since No one can log out until logged in . After logging in then log out button should be provided. So i want ot remove that log out button from the login page. Please add hactoberfest tag to this issue and assign it to me.

Please can you add Hactoberfest tag on this issue for I am first in open source contribut

[2022-10-10 08:13] devwithsubhrajit2002 commented on #1038
Hey @SauravMukherjee44 please assign me to this issue under Hactoberfest tag.

[2022-10-10 10:02] #931 closed

[2022-10-10 11:52] AbhiPatel10 commented on #1013
@IAmTamal #1040 Problem Solved Please Check and accept the Pull request

[2022-10-10 11:52] #1013 closed

[2022-10-10 14:51] IAmTamal commented on #1034
Glad that you made it !

[2022-10-10 14:51] #1034 closed

[2022-10-10 14:53] IAmTamal commented on #1038
Go for it

[2022-10-10 15:02] ritishbhardwaj commented on #1028
thanks to assign

[2022-10-10 21:13] #501 closed

[2022-10-10 21:14] #964 closed

[2022-10-10 21:15] #1028 closed

[2022-10-10 21:16] MahfuzRP commented on #1020
Hi, Please assign me this issues.

[2022-10-10 21:18] MahfuzRP commented on #849
Hi, Please assign me this issues.

[2022-10-10 21:19] MahfuzRP commented on #812
Hi, Please assign me this issues.

[2022-10-10 21:21] #1024 closed

[2022-10-10 21:22] #1031 closed

[2022-10-10 21:22] #1015 closed

[2022-10-10 21:24] #917 closed

[2022-10-10 21:26] MahfuzRP commented on #1017
Hi, Please assign me this issues.

[2022-10-10 21:26] MahfuzRP commented on #998
Hi, Please assign me this issues.

[2022-10-10 21:29] MahfuzRP commented on #945
Hi, Please assign me this issues.

[2022-10-10 21:30] MahfuzRP commented on #889
Hi, Please assign me this issues.

[2022-10-11 03:36] sshiwangi opened #1046 "Improving header of resource.html"
### Feature description

The header of resource.html is not complementing blogs.html and donate-book.html. It will be nicer to have same design in all the sub-pages.
I would like to work on this issue.

Blogs
![blogs html](https://user-images.githubusercontent.com/77545230/194991176-4d30e6a8-08e7-4406-8f79-adeddfb8e628.png)

Donate books
![donate-books](https://user-images.githubusercontent.com/77

[2022-10-11 03:37] sshiwangi commented on #1046
@SauravMukherjee44 please assign me this issue under hacktoberfest.

[2022-10-11 06:22] VanshSrivastava commented on #1038
can i contribute in this too?

[2022-10-11 07:32] Codebat-man opened #1048 "Feature:"
### Feature description

Adding the best book 'Data Structures and Algorithms Made Easy by Narasimha Karumanchi' to improve DSA concepts in much less time.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee4

[2022-10-11 07:32] Codebat-man commented on #1048
Hey @SauravMukherjee44, Please assign me to this issue.
I am working on it.
There are some issues with the website, but my work can fix them.

[2022-10-11 08:26] Muntabakhan commented on #1038
can i contribute in this issue too?

[2022-10-11 11:50] devwithsubhrajit2002 commented on #1038
Done @IAmTamal @SauravMukherjee44 this issue I have resolved.

[2022-10-11 17:09] BeginArjun opened #1053 "Optimizing recommended_books.js"
### Feature description

-  Slow Load of Recommended Books in Homepage.
- Reason: Calling .innerHTML (DOM Manipulation) in loop

- Instead of manipulating the DOM in loop, we should execute it in a single try.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the

[2022-10-12 04:24] surbhi400 opened #1056 "Improve the responsiveness of the play and highScore button for small devices."
### Feature description

I want to improve the responsiveness of play button and highScore button for small devices.
![image(3)](https://user-images.githubusercontent.com/77582783/195249608-6310c2fe-7660-4b6e-8ca0-c25b575190cb.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

[2022-10-12 04:25] surbhi400 commented on #1056
@SauravMukherjee44 can you please assign me this issue under hactoberfest.

[2022-10-12 04:51] Mahak008 opened #1057 "Create Counter on Journals, Referrals and E-books."
### Feature description

In this counter, for ex:- Journals counter will begin from 0 to 518+ which will give an animated effect.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob

[2022-10-12 04:56] Mahak008 opened #1058 "Enhancing UI of Sign in and Signup page."
### Reproduction steps

I want to recreate the pages since the content present on these pages is scattered.

### Expected behavior

Things would look more aligned

### Actual Behavior

Things are scattered

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Co

[2022-10-12 09:53] pranavhole commented on #885
Hey, I want to work on this issue for hacktoberfest, Can you assign this to me?

[2022-10-12 10:01] ashdude1401 opened #1059 "Bug Report: Login icon on the top is not working"
### Reproduction steps

When clicked on the login button it did not work
![Uploading Screenshot 2022-10-12 153023.png…]()

### Expected behavior

it should take me to the login tab

### Actual Behavior

it did not do anything

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X]

[2022-10-12 10:10] ashdude1401 opened #1060 "Feature: IN the home page there is are text with different font style and size"
### Feature description

On the home page, there is text with different font styles and sizes, and it looks hideous, There should be a proper font style for the website
![Screenshot 2022-10-12 152450](https://user-images.githubusercontent.com/98846260/195315561-4383063d-7060-4738-9fcd-152af00beb1a.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked

[2022-10-12 10:11] ashdude1401 commented on #1060
I want to fix it, please assign me it under the tag of hack October fest

[2022-10-12 10:15] ashdude1401 opened #1061 "Feature:Color of "Download pdf" not matching with background"
### Feature description

: The color of the "Download pdf" not matching with background, it should be changed to a better color
![Screenshot 2022-10-12 152541](https://user-images.githubusercontent.com/98846260/195316775-2dcfe961-b8a3-4865-af51-ecae30adcb6a.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have

[2022-10-12 10:17] ashdude1401 commented on #1061
I want to fix it,Please  assign me this work under hack October fest

[2022-10-12 11:03] AbhiPatel10 opened #1062 "Bug Report: Your book section at index.html is not responsive"
### Reproduction steps

![Screenshot 2022-10-12 162644](https://user-images.githubusercontent.com/76242769/195325480-6594e8c6-e291-43df-a22a-6d1205ceab74.jpg)

Your book section at Home page is not responsive.

@SauravMukherjee44, @IAmTamal
Please assign this task to me. and give the hacktoberfest label. I'm Working on it.

Thanks & Regards
Abhi Patel

### Expected behavior

Should Responsive....

[2022-10-12 12:01] Pheonix-001 commented on #1025
Hello, Could you please assign this issue to me.
I would love to work

[2022-10-12 12:32] prakhar-1005 opened #1063 "Bug Report: Spelling mistake in FAQ's section"
### Reproduction steps

In the FAQ section, there is a spelling mistake and also the spacing between some of the words is not even.

![Screenshot (59)_LI](https://user-images.githubusercontent.com/94559623/195343254-5902fcf6-90fd-42ed-91cb-660d6804cfd3.jpg)

### Expected behavior

The spelling should be correct and spacing between words should be even.

### Actual Behavior

There is a spelling mis

[2022-10-12 14:18] BeginArjun commented on #1053
### Hey @IAmTamal 👋,
I have issued a PR request (#1054 ).
I would appreciate it if you could look into it and provide your feedback
### Thanks!

[2022-10-12 19:34] #729 closed

[2022-10-12 23:43] RUDRAMADHABA opened #1067 "Feature: Adding in blogs section"
### Feature description

New blogs added

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/blob/main/CODE_OF_CONDUCT.md)

[2022-10-13 07:53] JatinSingh08 commented on #1067
Hey @RUDRAMADHABA, Can you please assign this issue to me. I would love to work on this.

[2022-10-13 07:55] JatinSingh08 commented on #1062
Hey @AbhiPatel10, Can you please assign this issue to me. I would love to work on this.

[2022-10-13 10:45] geeky-hypertext629 commented on #1063
As this would be my first open source contribution ..I would like to request you to allow me to correct the spelling mistake and return back the corrected code as soon as possible.

[2022-10-13 11:45] astitva0011 commented on #1063
hello, i would like to work on this issue.
could you assign this issue to me?

[2022-10-13 11:47] astitva0011 commented on #1062
hello, i would like to work on this issue.
could you assign this issue to me?

[2022-10-13 12:51] BeginArjun commented on #1053
### Hey @IAmTamal 👋,
Looks like the recent PR #942 undid my PR  #1054 which you merged with the main branch.
Should I do a new pull request again?

[2022-10-13 14:40] ShravaniAK opened #1069 "Bug Report:"
### Reproduction steps

login button not working

### Expected behavior

it should open login page

### Actual Behavior

not working

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/SauravMukherjee44/Aec-Library-Website/b

[2022-10-13 15:23] Jiya-garg9971 commented on #1017
Please assign this issue to me with 'hacktoberfest' label.

[2022-10-13 16:38] RUDRAMADHABA commented on #1067
Already solved.

[2022-10-13 16:41] #1053 closed

[2022-10-13 17:47] imyoungsparda opened #1070 "Excess bottom padding in nav links"
### Reproduction steps

When I hover on nav links, there is a extra padding-bottom which looks disproportional.

### Expected behavior

Padding top and padding-bottom should b equal for proportional look.

### Actual Behavior

![image](https://user-images.githubusercontent.com/112796825/195668873-55536886-866d-462a-aba9-07cd9f91a86f.png)

### 👀 Have you spent some time to check if this issue has b

[2022-10-13 18:08] IAmTamal commented on #1062
Go for it @AbhiPatel10

[2022-10-14 10:50] AbhiPatel10 commented on #1062
@IAmTamal  Home Page Responsive Problem Solved Please Check and accept the Pull request #1072

[2022-10-14 10:50] #1062 closed

[2022-10-14 13:52] prakhar-1005 commented on #1063
@SauravMukherjee44 can you please take a look at the issue

[2022-10-14 15:57] fallen-ecstasy commented on #1070
Hello @imyoungsparda, I can fix this bug, Please assign this issue to me

[2022-10-14 16:01] manishgupta416 commented on #943
Can you assign to me?

[2022-10-15 07:32] AnishaShende commented on #1069
I would like to work on this issue. Please assign me this issue.

[2022-10-15 11:10] arneja-arnav commented on #1026
@SauravMukherjee44 could you check this Pull Request above please?

[2022-10-15 11:10] #1026 closed

[2022-10-15 17:29] SauravMukherjee44 commented on #1056
Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-15 17:30] SauravMukherjee44 commented on #1063
@prakhar-1005 Go for it!
For support join our discord community: https://discord.com/servers/codein-community-831388874118660156

[2022-10-15 17:34] #1025 closed

[2022-10-15 17:39] #985 closed

[2022-10-15 17:45] #1056 closed

[2022-10-15 17:50] #1063 closed

[2022-10-15 18:15] #1060 closed

[2022-10-15 19:07] Jiya-garg9971 opened #1078 "Mistake in FAQ's"
### Description

![image](https://user-images.githubusercontent.com/100217150/196003833-cd5de20e-bff6-461d-97c8-b96186336235.png)

Need to replace > with ? and resolve many grammatical errors

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct]

[2022-10-15 19:08] Jiya-garg9971 commented on #1078
Please assign this issue to me

[2022-10-16 05:36] exotic123567 opened #1079 "Lack of Drop shadow in elements"
Most of the books or images shown in the website have no border radius to them (curved edges) and lack drop shadow (box shadow) and don't have a border of white color when hovered over which is supposed to make it look better.
![AEC Library Lack of Drop shadow](https://user-images.githubusercontent.com/86504733/196019877-a6da0eaa-072c-40df-a937-f63fc606552a.JPG)

[2022-10-16 05:38] exotic123567 commented on #1079
I can work on this. Please assign me this task.

[2022-10-16 05:40] exotic123567 commented on #1079
Please assign me this task. I mistakenly closed the issue.

[2022-10-16 07:19] prakhar-7129 commented on #772
Please assign this issue to me

[2022-10-16 07:30] pranavgupta11 commented on #1079
Please assign this issue to me...I have good hands on experience in git and css

[2022-10-16 07:56] pranavgupta11 opened #1081 "Improve Your books section"
The current section is not very well styled.
![image](https://user-images.githubusercontent.com/68846421/196024657-beefad92-e7fd-4151-8fca-b267678672c0.png)
I can improve it to something like :
![image](https://user-images.githubusercontent.com/68846421/196024607-30229cf8-b1ca-424a-8c5f-3974cd44e7ab.png)
Please assign this under hactoberfest

[2022-10-16 09:06] imaaquibali commented on #772
@prakhar-7129 create another issue?

[2022-10-16 11:55] Ashutoshsoni1 commented on #989
@SauravMukherjee44
Please assign this issue to me.

[2022-10-16 11:56] Ashutoshsoni1 commented on #965
@SauravMukherjee44
Please assign this issue to me.

[2022-10-16 15:54] akanshaaa19 commented on #1058
Please assign this issue to me, I have experience with login and sign up pages

[2022-10-16 16:02] madnank opened #1083 "Need to make fonts consistent"
### Feature description

The fonts need to be more consistent.

Please assign this task to me, thank you.
![image](https://user-images.githubusercontent.com/115940696/196045567-099a7859-e8d5-4272-8d00-8541a618123f.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have

[2022-10-17 11:28] Vartika123456 commented on #1058
@SauravMukherjee44 I have work on various projects . I can handle this issue please assign this to me.

[2022-10-17 13:53] maneet057 commented on #965
I would like to work on this issue. Can you please assign it to me?

[2022-10-18 15:02] maneet057 opened #1086 "Navbar in Resources page"
![image](https://user-images.githubusercontent.com/77922626/196467480-0184c3c9-749d-4192-bb07-d82f93d0417a.png)

A navbar can be added in the resources page so that we can navigate to different pages from the resources page also.
Please assign me this issue under Hacktoberfest.

[2022-10-18 15:06] maneet057 opened #1087 "Color of the cards in Blogs page"
![image](https://user-images.githubusercontent.com/77922626/196469015-7cf11a2d-3bd2-4dd8-88bb-f9c4b92bb649.png)

The color of the cards in blog pages are white which can be changed to the color that will match with the background too.

Please assign me this issue under Hacktoberfest

[2022-10-18 15:15] maneet057 opened #1088 "UI of Send a Message box in Contact US"
![image](https://user-images.githubusercontent.com/77922626/196470996-ee1a4a93-2994-4804-8776-0c4b6dda8b6f.png)
The color of the send a message box is not matching with the background. The color can be turned to solid soft cream and the edges can be soften too which will look nice.

Please assign me this issue under Hacktoberfest.

[2022-10-18 15:19] maneet057 opened #1089 "Navbar and footer of Contact Us page"
![image](https://user-images.githubusercontent.com/77922626/196471860-36ac90af-42e6-4660-b54c-8615c998d950.png)
<br> <br>
![image](https://user-images.githubusercontent.com/77922626/196471953-c16d3292-8956-4f77-b4da-88ca06d2586e.png)

The navbar and footer of the contact us page is not matching with the other pages. It will look good if the navbar and footer are the same of the sub pages too like

[2022-10-19 07:26] Anuragwagh opened #1090 "Want to change UI of website"
### Feature description

Want to change UI of the website , UI of the website looks little bit crowded and dull

Assign me to change the UI of the project

![image](https://user-images.githubusercontent.com/56196363/196623751-602486c3-af9c-42bd-a2bb-2bbb65259dc0.png)

![image](https://user-images.githubusercontent.com/56196363/196623833-b7c4f782-4de2-4129-8502-b98f7d7f04d5.png)

![image](https://u

[2022-10-19 12:31] aditiii1103 commented on #1038
I would like to contribute to this issue under Hacktober tag

[2022-10-19 12:32] aditiii1103 commented on #1070
I would like to resolve this bug

[2022-10-19 15:49] #1038 closed

[2022-10-20 19:30] #1088 closed

[2022-10-20 19:36] #1089 closed

[2022-10-21 09:27] RishikaKant opened #1094 "Feature: Improve Get In Touch Section"
### Feature description

I want to use a better font for the heading Get In Touch and also remove the underline as it is giving the impression that it's a link.
The feedback image is not matching with the remaining part of the website as it's looking old and very mundane so want to use a better image for that too.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X

[2022-10-21 17:24] Bhavika-14 commented on #887
Please assign this issue to me.

[2022-10-21 18:41] #686 closed

[2022-10-22 06:47] Aribaskar-jb commented on #1090
Assign me to change the UI of the project

[2022-10-22 07:28] Aribaskar-jb commented on #1090
Assign me to change the UI of the project

[2022-10-22 07:51] Anuragwagh commented on #1090
I am working on it

[2022-10-22 10:23] Rik-21 commented on #1086
can i work on this issue under hacktoberfest?

[2022-10-22 16:48] PS-11 commented on #891
@SauravMukherjee44 Hey! I'd like to work on this issue, please assign this to me.

[2022-10-22 16:49] PS-11 commented on #513
@SauravMukherjee44 Hey, I'd like to work on this issue.
Kindly assign this to me.

[2022-10-24 12:05] ozlemertosun opened #1099 "Improve contact area"
### Feature description

It's hard to see difference between headers and links. Please sign me to this issue.

<img width="306" alt="Screenshot 2022-10-24 at 14 00 35" src="https://user-images.githubusercontent.com/89015890/197521334-e69539c0-1378-4ec2-9d42-72ae61ebba5e.png">

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar iss

[2022-10-25 15:40] Rkhilari commented on #1078
hey can you assign issue to me?

[2022-10-25 15:41] Rkhilari commented on #1017
hey can you assign me this issue

[2022-10-25 15:45] Rkhilari commented on #891
hey i would love to add blog to this please assign this to me

[2022-10-25 15:47] Rkhilari commented on #713
hey can i work on this issue?

[2022-10-26 13:26] akshit-mehra commented on #839
@imaaquibali This issue is still open. Can you assign this to me. I am interested in contributing.

[2022-10-26 14:01] akshit-mehra opened #1101 "Feature: Showing correct answers of quiz question after answering that question"
### Feature description

**Problem:**
When a quiz question is answered incorrectly the correct answer is not told to the user.

As a result the user the user does not know what the correct answer is even after taking the quiz.

**Solution:**
There should be a delay after answering the question where we tell the correct answer to the user by highlighting it in green.

@SauravMukherjee44 I would lik

[2022-10-29 09:08] Ravi-Rathod143 commented on #1069
Hey I would like to work on this issue. Please assign me this issue

[2022-10-29 09:11] Ravi-Rathod143 commented on #1059
hey I would like to work on this issue. Please assign the issue

[2022-11-08 15:11] surajyadav1108 opened #1105 "Bug Report:"
### Reproduction steps

### Thumbnails aren't displaying

In the Resources Section while scrolling down I found out that the Cloud Computing Tutorials Scroller is missing thumbnails
As a result the user the user does not know what is video or tutorial about.

### Expected behavior

Display thumbnails as they are

### Actual Behavior

[](url)
![Screenshot 2022-11-08 203838](https://user-images.gith